.SolicitudBodegaByIdDespachada-box {
    height: 373px;
    left: 588px;
    top: 163px;
    width: 391px;
    position: relative;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-register-container {
  height: 373px;
  left: 0;
  top: 0;
  width: 391px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-register-cotizacion {
  height: 290px;
  left: 0;
  top: 80px;
  width: 391px;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow-y: scroll; /* Habilita el scroll vertical */
  overflow-x: hidden;
  scrollbar-width: thin; /* Ajusta el ancho del scrollbar para Firefox */
  scrollbar-color:  #636b6f61 transparent; /* Firefox */
}

/* Para Chrome, Safari y Edge */
.RegisterCotizacionOrden-box\ .SolicitudBodegaByIdDespachada-register-cotizacion::-webkit-scrollbar {
  width: 3px; /* Ajusta el ancho del scrollbar */
}

.RegisterCotizacionOrden-box\ .SolicitudBodegaByIdDespachada-register-cotizacion::-webkit-scrollbar-track {
  background-color: transparent;

}

.RegisterCotizacionOrden-box\ .SolicitudBodegaByIdDespachada-register-cotizacion::-webkit-scrollbar-thumb {
  background-color: transparent;
    border-radius: 3px;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-overlap {
  background-color: #ffffff;
  border-radius: 10px;
  height: 35px;
  left: 17px;
  position: absolute;
  top: 15px;
  width: 357px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-title-t {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 205px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-back-button {
  color: #00ddfa;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 2px;
  left: 7px;
  cursor: pointer;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-mensaje-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: -29px;
  white-space: nowrap;
  width: 316px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-mensaje-value {
  background-color: #ffffff;
  border-radius: 10px;
  height: 95px;
  left: 23px;
  position: relative;
  top: -23px;
  width: 324px;
  border: none;
  text-align: center;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-condicion-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 316px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-condicion-value {
  background-color: #ffffff;
  border-radius: 10px;
  height: 95px;
  left: 23px;
  position: relative;
  top: 3px;
  width: 324px;
  border: none;
  text-align: center;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-id-t {
    position: relative;
    color: #000000;
    font-size: 12px;
    height: auto;
    width: 162px;
    left: 0;
    top: 20px;
  }
  
  .SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-id-value{
    position: relative;
    color: #6b6b6b;
    font-size: 12px;
    height: auto;
    width: 162px;
    left: 0;
    top: 18px;
  }

  .SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-estado-t {
    position: relative;
    color: #000000;
    font-size: 12px;
    height: auto;
    width: 162px;
    left: 0;
    top: 37px;
  }
  
  .SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-estado-value{
    position: relative;
    color: #6b6b6b;
    font-size: 12px;
    height: auto;
    width: 162px;
    left: 0;
    top: 33px;
  }
  
  

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-client-t {
    position: relative;
    color: #000000;
    font-size: 12px;
    height: auto;
    width: 162px;
    left: 214px;
    top: -62px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-client-name{
    position: relative;
    color: #6b6b6b;
    font-size: 12px;
    height: auto;
    width: 162px;
    left: 214px;
    top: -63px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-orden-id-t {
  position: relative;
  color: #000000;
  font-size: 12px;
  height: auto;
  width: 162px;
  left: 214px;
  top: -59px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-orden-id{
  position: relative;
  color: #6b6b6b;
  font-size: 12px;
  height: auto;
  width: 162px;
  left: 214px;
  top: -60px;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 316px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-select {
  background-color: #ffffff;
  border-radius: 10px;
  height: 29px;
  left: 23px;
  position: relative;
  top: 25px;
  width: 325px;
  border: none;
  text-align: center;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-selected-div {
  width: 370px;
  height: 76px;
  position: relative;
  background-color: #ffffff;
  top: 30px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-selected-title {
  font-size: 16px;
  width: 68px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  top: 2px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-selected-value {
  font-size: 10px;
  width: 85px;
  height: 46px;
  color: #000000;
  position: absolute;
  top: 28px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-cantidad-title {
  font-size: 16px;
  width: 70px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  left: 81px;
  top: 2px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-cantidad-input {
  font-size: 13px;
  background-color: #d9d9d9;
  width: 32px;
  height: 30px;
  color: #000000;
  position: absolute;
  left: 95px;
  top: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-valoru-title {
  font-size: 16px;
  width: 100px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  left: 156px;
  top: 2px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-valoru-input {
  font-size: 13px;
  background-color: #d9d9d9;
  width: 70px;
  height: 30px;
  color: #000000;
  position: absolute;
  left: 168px;
  top: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-repuestos-switch-label {
  font-size: 15px;
  width: 81px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  left: 260px;
  top: 2px;
  }




.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-div {
  width: 370px;
  height: auto;
  position: relative;
  background-color: transparent;
  top: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 316px;
}



.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-section {
  width: 370px;
  height: 76px;
  position: relative;
  background-color: #ffffff;
  top: 30px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-description-title {
  font-size: 15;
  width: 68px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  top: 2px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-description-input {
  font-size: 10px;
  width: 85px;
  height: 46px;
  color: #000000;
  position: absolute;
  top: 28px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-cantidad-title {
  font-size: 15;
  width: 70px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  left: 88px;
  top: 2px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-cantidad-input {
  font-size: 13px;
  background-color: #d9d9d9;
  width: 32px;
  height: 30px;
  color: #000000;
  position: absolute;
  left: 95px;
  top: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-valoru-title {
  font-size: 15px;
  width: 100px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  left: 156px;
  top: 2px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-items-valoru-input {
  font-size: 13px;
  background-color: #d9d9d9;
  width: 70px;
  height: 30px;
  color: #000000;
  position: absolute;
  left: 168px;
  top: 30px;
  border: none;
  border-radius: 10px;
  text-align: center;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedades-section {
  width: 370px;
  height: auto;
  position: relative;
  background-color: transparent;
  top: 56px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedades-title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 30px;
  white-space: nowrap;
  width: 316px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedades-undefined-title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: 316px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-detail {
  width: 370px;
  height: 95px;
  position: relative;
  background-color: #ffffff;
  top: 35px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-user-t {
  width: 25px;
  height: 25px;
  color: #00ddfa;
  position: absolute;
  left: 10px;
  top: 6px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-user {
  font-size: 14px;
  width: auto;
  height: auto;
  color: #000000;
  position: absolute;
  left: 42px;
  top: 7px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-text-t {
  font-size: 16px;
  width: 100px;
  height: auto;
  color: #00ddfa;
  position: absolute;
  left: 239px;
  top: 2px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-text {
  font-size: 12px;
  background-color: #d9d9d9;
  width: 350px;
  height: 55px;
  color: #000000;
  position: absolute;
  left: 10px;
  top: 32px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-date-t {
  width: 25px;
  height: 25px;
  color: #00ddfa;
  position: absolute;
  left: 225px;
  top: 3px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-date {
  font-size: 12px;
  width: auto;
  height: auto;
  color: #000000;
  position: absolute;
  left: 254px;
  top: 7px;
}







.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-firma {
  width: 370px;
  height: 201px;
  position: relative;
  background-color: #ffffff;
  top: 65px;
  border-radius: 10px;
  margin-bottom: 10px;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-firma-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 316px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-firma-username {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  top: 45px;
  white-space: nowrap;
  width: 316px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-aprobar-button {
    width: 25px;
    height: 25px;
    color: #6b6b6b;
    position: absolute;
    top: 55px;
    cursor: pointer;
    left: 22px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-aprobar-text {
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 61px;
  white-space: nowrap;
  width: auto;
  cursor: pointer;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-novedad-button {
    width: 25px;
    height: 25px;
    color: #f6fa00;
    position: absolute;
    top: 55px;
    cursor: pointer;
    left: 251px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-rechazar-text {
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  left: 283px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 61px;
  white-space: nowrap;
  width: auto;
  cursor: pointer;

}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-enviar-button {
    width: 25px;
    height: 25px;
    color: #f6fa00;
    position: absolute;
    top: 55px;
    cursor: pointer;
    left: 209px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-enviar-text {
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  left: 240px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 61px;
  white-space: nowrap;
  width: auto;
  cursor: pointer;

}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-imprimir-button {
    width: 25px;
    height: 25px;
    color: #0e2b8a;
    position: absolute;
    top: 55px;
    cursor: pointer;
    left: 300px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-imprimir-text {
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  left: 331px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 61px;
  white-space: nowrap;
  width: auto;
  cursor: pointer;

}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-img-value {
  position: relative;
  top: 30px;
  width: auto;
  height: auto;
  background-color: #d9d9d9;
  left: 29px;
  border-radius: 10px;
}

.SolicitudBodegaByIdDespachada-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.SolicitudBodegaByIdDespachada-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.SolicitudBodegaByIdDespachada-modal-content-title {
  color: #00ddfa;
  text-align: center;
  margin-bottom: 10px;
}


.SolicitudBodegaByIdDespachada-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 16px;
}

.SolicitudBodegaByIdDespachada-modal-actions {
  display: flex;
  justify-content: flex-end;
}


.SolicitudBodegaByIdDespachada-modal-cancel-button {
  height: 40px;
  width: 80px;
  background-color: #d9d9d9;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.SolicitudBodegaByIdDespachada-close-observacion-button {
  height: 40px;
  width: 120px;
  background-color: #00ddfa;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-modal-download-icon {
  color: #00ddfa;
  position: relative;
  cursor: pointer;
  top: 0px;
  height: 50px;
  width: 50px;
  left: -170px;
}

.SolicitudBodegaByIdDespachada-box .SolicitudBodegaByIdDespachada-modal-cancel-icon {
  color: #d9d9d9;
  position: relative;
  cursor: pointer;
  top: 0px;
  height: 50px;
  width: 50px;
  left: -325px;
}