.EditClaseEquipoButton-box {
  height: 22.04vh; /* 238px / 1080px * 100 */
  width: 43.15vw; /* 466px / 1080px * 100 */
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-register-marca {
  height: 22.04vh; /* 238px / 1080px * 100 */
  left: 0;
  top: 0;
  width: 43.52vw; /* 470px / 1080px * 100 */
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-overlap-group {
  background-size: 100% 100%;
  box-shadow: none;
  background-color: #ffffff;
  outline: none;
  border: none;
  height: 22.04vh; /* 238px / 1080px * 100 */
  position: relative;
  width: 43.15vw; /* 466px / 1080px * 100 */
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-overlap {
  background-size: 100% 100%;
  background-color: #d9d9d9;
  height: 6.39vh; /* 69px / 1080px * 100 */
  color: #00ddfa;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.15vw; /* 466px / 1080px * 100 */
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-register-marca-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.85vh;
  font-weight: 400;
  left: 0.54vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.30vh;
  width: 43vw;
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-register-marca-label {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.85vh;
  font-weight: 400;
  left: 0.31vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7.43vh;
  width: 43vw;
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-register-marca-input {
  height: 3.33vh;
  left: 5.56vw;
  border-radius: 5px;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 14.33vh;
  width: 31.94vw;
  font-size: 1.5vh;
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-img {
  height: 3.33vh;
  left: 6.24vw;
  background-color: #00ddfa;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 18.5vh;
  width: 15vw;
  font-size: 1.5vh;
}

.EditClaseEquipoButton-box .EditClaseEquipoButton-cancelar-button {
  height: 3.33vh;
  left: 22.76vw;
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 18.5vh;
  width: 14vw;
  font-size: 1.5vh;
}
