.VisitasOrden-visitas {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 205px;
  width: 100%;
}

.VisitasOrden-visitas .VisitasOrden-div {
  background-color: #ffffff;
  border-radius: 10px;
  top: 205px;
  height: 566px;
  overflow: hidden;
  position: relative;
  width: 1006px;
}

.VisitasOrden-visitas .VisitasOrden-header {
  background-color: transparent;
  height: 124px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1008px;
}

.VisitasOrden-visitas .VisitasOrden-overlap-group {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 124px;
  position: relative;
  width: 1006px;
}

.VisitasOrden-visitas .VisitasOrden-visita-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 42px;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 41px;
  width: 842px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-visita-title-cerrada {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px!important;
  font-weight: 400;
  height: 42px;
  left: -86px!important;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px!important;
  width: 842px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group-cerrada {
  background-color: #ffffff;
    border-radius: 10px;
    height: 34px;
    position: relative;
    width: 324px!important;
    left: 23px!important;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdCerrada-back-icon {
  height: 30px;
  color: #00ddfa;
  left: 369px!important;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitasOrden-visitas .VisitasOrden-all-visitas {
  height: 398px;
  left: 12px;
  position: absolute;
  top: 147px;
  width: 407px;
}

.VisitasOrden-visitas .VisitasOrden-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 398px;
  position: relative;
  width: 399px;
}

.VisitasOrden-visitas .VisitasOrden-navbar {
  background-color: #ffffff;
  border-radius: 10px;
  height: 47px;
  left: 7px;
  position: absolute;
  top: 9px;
  width: 383px;
}

.VisitasOrden-visitas .VisitasOrden-pendiente-t {
  color: #dac508;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 88px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-estados {
  height: 34px;
  left: 98px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

.VisitasOrden-visitas .VisitasOrden-abierta-t {
  color: #08da08;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 77px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-estados-separator {
  height: 34px;
  left: 182px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

.VisitasOrden-visitas .VisitasOrden-cerrada-title {
  color: #555555;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  left: 187px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 82px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-img {
  height: 34px;
  left: 273px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

.VisitasOrden-visitas .VisitasOrden-rechazada-t {
  color: #da2808;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 101px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-visitas-list {
  background-color: #d9d9d9;
  height: 319px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 399px;
  overflow-y: scroll; /* Habilita el scroll vertical */
  overflow-x: hidden;
  scrollbar-width: thin; /* Ajusta el ancho del scrollbar para Firefox */
  scrollbar-color:  #636b6f61 transparent; /* Firefox */
}

/* Para Chrome, Safari y Edge */
.VisitasOrden-visitas .VisitasOrden-visitas-list::-webkit-scrollbar {
  width: 3px; /* Ajusta el ancho del scrollbar */
}

.VisitasOrden-visitas .VisitasOrden-visitas-list::-webkit-scrollbar-track {
  background-color: transparent;

}

.VisitasOrden-visitas .VisitasOrden-visitas-list::-webkit-scrollbar-thumb {
  background-color: transparent;
    border-radius: 3px;
}

.VisitasOrden-visitas .VisitasOrden-visita-card {
  height: 94px;
  left: 12px;
  /* cursor: pointer; */
  list-style: none;
  position: relative;
  top: 8px;
  width: 365px;
  margin-bottom: 10px;
}

.VisitasOrden-visitas .VisitasOrden-overlap-group-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 94px;
  position: relative;
  width: 355px;
}

.VisitasOrden-visitas .VisitasOrden-oid-card {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 18px;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 210px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-separator {
  height: 77px;
  left: 85px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 1px;
}

.VisitasOrden-visitas .VisitasOrden-separator-card {
  height: 56px;
  left: 219px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 1px;
}

.VisitasOrden-visitas .VisitasOrden-estado {
  height: 50px;
  left: 16px;
  position: absolute;
  top: 22px;
  width: 53px;
}

.VisitasOrden-visitas .VisitasOrden-estado-pendiente {
    height: 50px;
    left: 16px;
    position: absolute;
    top: 22px;
    width: 53px;
    color: #dac508;

  }

  .VisitasOrden-visitas .VisitasOrden-estado-cerrado {
    height: 50px;
    left: 16px;
    position: absolute;
    top: 22px;
    width: 53px;
    color: #555555;

  }

  .VisitasOrden-visitas .VisitasOrden-estado-abierto {
    height: 50px;
    left: 16px;
    position: absolute;
    top: 22px;
    width: 53px;
    color: #08da08;
  }

  .VisitasOrden-visitas .VisitasOrden-estado-rechazado {
    height: 50px;
    left: 16px;
    position: absolute;
    top: 22px;
    width: 53px;
    color: #da2808;
  }


.VisitasOrden-visitas .VisitasOrden-inicio-icon {
  height: 18px;
  left: 92px;
  color: #00ddfa;
  position: absolute;
  top: 33px;
  width: 19px;
}

.VisitasOrden-visitas .VisitasOrden-inicio-date {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 17px;
  left: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 102px;
}

.VisitasOrden-visitas .VisitasOrden-tecnico-icon {
  height: 18px;
  left: 92px;
  color: #00ddfa;
  position: absolute;
  top: 63px;
  width: 19px;
}

.VisitasOrden-visitas .VisitasOrden-tecnico-name {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 17px;
  left: 115px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 103px;
}

.VisitasOrden-visitas .VisitasOrden-created-icon {
  height: 18px;
  left: 230px;
  color: #00ddfa;
  position: absolute;
  top: 33px;
  width: 18px;
}

.VisitasOrden-visitas .VisitasOrden-created-icon-add {
  height: 11px;
  left: 234px;
  color: #00ddfa;
  position: absolute;
  top: 39px;
  width: 11px;
}

.VisitasOrden-visitas .VisitasOrden-created-date {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 17px;
  left: 252px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 102px;
}

.VisitasOrden-visitas .VisitasOrden-user-icon {
  height: 18px;
  color: #00ddfa;
  left: 230px;
  position: absolute;
  top: 63px;
  width: 19px;
}

.VisitasOrden-visitas .VisitasOrden-user-creator {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 17px;
  left: 253px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 101px;
}

.VisitasOrden-visitas .VisitasOrden-addVisita-button{

  height: 50px;
  width: 50px;
  position: absolute;
  left: 900px;
  top: 36px;
  cursor: pointer;
  color: #00ddfa;
}

.VisitasOrden-visitas .VisitasOrden-addVisita-edit-button{

  color: #00ddfa;
  position: relative;
  left: 332px;
  height: 20px;
  width: 20px;
  top: 3px;
  cursor: pointer;
}

@media screen and (min-width: 1000px) and (max-width: 1200px){

/*VISITAS*/

.VisitasOrden-visitas .VisitasOrden-overlap-group {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 124px;
  position: relative;
  left: 50px;
  width: 941px;
}
  
.VisitasOrden-visitas .VisitasOrden-visitas-list {
  background-color: #d9d9d9;
  height: 319px;
  position: absolute;
  top: 66px;
  width: 399px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #636b6f61 transparent;
}

.VisitasOrden-visitas .VisitasOrden-div {
  background-color: #ffffff;
  border-radius: 10px;
  top: 188px;
  height: 566px;
  overflow: hidden;
  position: relative;
  left: 19px;
  width: 829px;
}

.VisitasOrden-visitas .VisitasOrden-overlap-group {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 125px;
  position: relative;
  left: 0px;
  width: 939px;
}

.VisitasOrden-visitas .VisitasOrden-visita-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 42px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 49px;
  width: 842px;
}

.VisitasOrden-visitas .VisitasOrden-addVisita-button {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 750px;
  top: 36px;
  cursor: pointer;
  color: #00ddfa;
}

.TecnicoEnSede-box {
  height: 316px;
  width: 371px;
  margin: 10px;
}

.TecnicoEnSede-box .TecnicoEnSede-en-sede-view {
  height: 316px;
  left: 8px;
  position: relative;
  top: 4px;
  background-color: #ffffff;
  border-radius: 10px;
}

.TecnicoEnSede-box .TecnicoEnSede-tecsede-title-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 15px;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 272px;
}

.TecnicoEnSede-box .TecnicoEnSede-date-icon {
  color: #00ddfa;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 274px;
  top: 5px;
}

.TecnicoEnSede-box .TecnicoEnSede-date-value {
  color: #7C7C7C;
  height: 31px;
  width: 61px;
  font-size: 10px;
  position: relative;
  top: 3px;
  left: 299px;
  text-align: center;
}

.TecnicoEnSede-box .TecnicoEnSede-observacion-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 133px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35px;
  white-space: nowrap;
  width: 107px;
}

.TecnicoEnSede-box .TecnicoEnSede-observacion-text {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 64px;
  left: 14px;
  border: none;
  text-align: center;
  position: absolute;
  top: 58px;
  width: 349px;
}

.VisitasOrden-visitas .VisitasOrden-all-visitas {
  height: 398px;
  left: 238px;
  position: absolute;
  top: 147px;
  width: 407px;
}

}

@media screen and (min-width:700px) and (max-width: 819px) {
  /*VISITAS*/

  .VisitasOrden-visitas .VisitasOrden-div {
    background-color: #ffffff;
    border-radius: 10px;
    top: 205px;
    height: 566px;
    overflow-y: auto; 
    position: relative;
    width: 615px;
    left: 26px;
  
  }

  .VisitasOrden-visitas .VisitasOrden-visitas-list {
    background-color: #d9d9d9;
    height: 319px;
    left: 85px;
    position: absolute;
    top: 66px;
    width: 399px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #636b6f61 transparent;
}
  
  /* Para Chrome, Safari y Edge */
  .VisitasOrden-visitas .VisitasOrden-div::-webkit-scrollbar {
    width: 3px; /* Ajusta el ancho del scrollbar */
  }
  
  .VisitasOrden-visitas .VisitasOrden-div::-webkit-scrollbar-track {
    background-color: transparent;
  
  }
  
  .VisitasOrden-visitas .VisitasOrden-div::-webkit-scrollbar-thumb {
    background-color: transparent;
      border-radius: 3px;
  }
  
  
.VisitasOrden-visitas .VisitasOrden-overlap-group {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 124px;
    position: relative;
    width: 685px;
    left: 0px;
  }
  
  .VisitasOrden-visitas .VisitasOrden-visita-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 41px;
    width: 842px;
    left: -96px;
}

.VisitasOrden-visitas .VisitasOrden-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 398px;
  position: relative;
  width: 534px;
}

.VisitasOrden-visitas .VisitasOrden-all-visitas {
  height: 398px;
  left: 37px;
  position: absolute;
  top: 147px;
  width: 534px;
}

.VisitasOrden-visitas .VisitasOrden-navbar {
  background-color: #ffffff;
  border-radius: 10px;
  height: 47px;
  left: 82px;
  position: absolute;
  top: 9px;
  width: 383px;
}

}

@media screen and (min-width:819px) and (max-width: 1000px) {
  /*VISITAS*/

  .VisitasOrden-visitas .VisitasOrden-div {
    background-color: #ffffff;
    border-radius: 10px;
    top: 205px;
    height: 566px;
    overflow-y: auto; 
    position: relative;
    width: 615px;
    left: 37px;
  
  }
  

  .VisitasOrden-visitas .VisitasOrden-div::-webkit-scrollbar {
    width: 3px; 
  }
  
  .VisitasOrden-visitas .VisitasOrden-div::-webkit-scrollbar-track {
    background-color: transparent;
  
  }
  
  .VisitasOrden-visitas .VisitasOrden-div::-webkit-scrollbar-thumb {
    background-color: transparent;
      border-radius: 3px;
  }
  
  
.VisitasOrden-visitas .VisitasOrden-overlap-group {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 124px;
    position: relative;
    width: 685px;
    left: 0px;
  }
  
  .VisitasOrden-visitas .VisitasOrden-visita-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 41px;
    width: 842px;
    left: -96px;
}

.VisitasOrden-visitas .VisitasOrden-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 398px;
  position: relative;
  width: 534px;
}

.VisitasOrden-visitas .VisitasOrden-all-visitas {
  height: 398px;
  left: 37px;
  position: absolute;
  top: 147px;
  width: 534px;
}

.VisitasOrden-visitas .VisitasOrden-navbar {
  background-color: #ffffff;
  border-radius: 10px;
  height: 47px;
  left: 82px;
  position: absolute;
  top: 9px;
  width: 383px;
}

}

@media screen and (min-width:250px) and (max-width: 600px) {

  .VisitasOrden-visitas .VisitasOrden-div {
    background-color: #ffffff;
    border-radius: 10px;
    top: 121px;
    height: 498px;
    overflow: hidden;
    position: relative;
    width: 308px;
    left: 22px;
  }
  
  .VisitasOrden-visitas .VisitasOrden-visita-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 42px;
    left: -254px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 842px;
  }

  .VisitasOrden-visitas .VisitasOrden-overlap-group {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 75px;
    position: relative;
    width: 1006px;
}

/*VISITAS*/

.VisitasOrden-visitas .VisitasOrden-all-visitas {
  height: 398px;
  left: 12px;
  position: absolute;
  top: 86px;
  width: 407px;
}

.VisitasOrden-visitas .VisitasOrden-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 398px;
  position: relative;
  width: 288px;
}

.VisitasOrden-visitas .VisitasOrden-navbar {
  background-color: #ffffff;
  border-radius: 10px;
  height: 47px;
  left: 7px;
  position: absolute;
  top: 9px;
  width: 275px;
}

/*ESTADO DE VISITA*/

.VisitasOrden-visitas .VisitasOrden-pendiente-t {
  color: #dac508;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 26px;
  left: -4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 88px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-abierta-t {
  color: #08da08;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 26px;
  left: 200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 88px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-cerrada-title {
  color: #555555;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 26px;
  left: 139px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 88px;
  cursor: pointer;
}

.VisitasOrden-visitas .VisitasOrden-rechazada-t {
  color: #da2808;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 26px;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 88px;
  cursor: pointer;
}

/*SEPARADORES*/

.VisitasOrden-visitas .VisitasOrden-estados {
  height: 34px;
  left: 77px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

.VisitasOrden-visitas .VisitasOrden-estados-separator {
  height: 34px;
  left: 152px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

.VisitasOrden-visitas .VisitasOrden-img {
  height: 34px;
  left: 215px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 1px;
}

/*AJUSTE TARJETAS*/

.VisitasOrden-visitas .VisitasOrden-visitas-list {
  background-color: #d9d9d9;
  height: 319px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 284px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #636b6f61 transparent;
}

.VisitasOrden-visitas .VisitasOrden-visita-card {
  height: 94px;
  left: 12px;
  list-style: none;
  position: relative;
  top: 6px;
  left: 7px;
  width: 365px;
  margin-bottom: 10px;
}

.VisitasOrden-visitas .VisitasOrden-overlap-group-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 94px;
  position: relative;
  width: 271px;
}

}

