.VisitaByIdAbierta-visita-abierta {
    background-color: transparent;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    left: 535px;
    top: 345px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 563px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-div {
  /* background-image: url(./container.svg); */
  background-size: 100% 100%;
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 412px;
  position: relative;
  width: 563px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-header {
  background-color: transparent;
  height: 34px;
  left: 16px;
  position: absolute;
  top: 17px;
  width: 460px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 34px;
  position: relative;
  width: 437px;
  left: 25px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-visita-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  height: 18px;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 435px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-execute-icon {
  height: 30px;
  color: #08da08;
  left: 524px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-pause-icon {
  height: 30px;
  color: #dac508;
  left: 524px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-close-icon {
  height: 30px;
  color: #555555;
  left: 483px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 353px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 563px;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es demasiado alto */
}

/* Estilos de barra de desplazamiento para navegadores WebKit como Chrome y Safari */
.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap::-webkit-scrollbar {
  width: 10px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Puedes redondear los bordes del pulgar para que coincida con el contenedor */
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos de barra de desplazamiento para Firefox */
.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-ejecucion-div {
  height: 290px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 291px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-2 {
  height: 290px;
  position: relative;
  width: 302px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-container {
  background-color: #ffffff;
  border-radius: 10px;
  height: 290px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 288px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-info-execution {
  height: 40px;
  left: 11px;
  position: absolute;
  top: 5px;
  width: 283px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-info-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 271px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-date-icon {
  height: 20px;
  color: #00ddfa;
  left: 0;
  position: absolute;
  top: 20px;
  width: 20px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-date-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 108px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-time-icon {
  height: 20px;
  color: #00ddfa;
  left: 145px;
  position: absolute;
  top: 20px;
  width: 20px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-time-title {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 176px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  width: 101px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-separator {
  height: 12px;
  left: 0;
  position: absolute;
  top: 53px;
  width: 290px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-3 {
  height: 12px;
  left: 137px;
  position: absolute;
  top: 0;
  width: 153px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-ellipse {
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 8.25px/5.83px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-line {
  height: 1px;
  left: 16px;
  object-fit: cover;
  background-color: #d9d9d9;
  position: absolute;
  top: 5px;
  width: 137px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group-2 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 137px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-img {
  height: 2px;
  left: 0;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 135px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-line-2 {
  height: 1px;
  left: 0;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 137px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-tecnico-section {
  height: 99px;
  left: 2px;
  position: absolute;
  top: 73px;
  width: 300px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-tecnico-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 272px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-tecnico-oid {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 288px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-tecnico-icon {
  height: 20px;
  left: 9px;
  color: #00ddfa;
  position: absolute;
  top: 32px;
  width: 20px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-tecnico-name {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
  width: 89px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-id-icon {
  height: 20px;
  left: 154px;
  color: #00ddfa;
  position: absolute;
  top: 32px;
  width: 20px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-cedula-value {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
  width: 92px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-email-icon {
  height: 20px;
  left: 9px;
  color: #00ddfa;
  position: absolute;
  top: 72px;
  width: 20px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-email-value {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 38px;
  top: 77px;
  max-width: 108px; /* Establece un ancho máximo para el contenedor */
  height: auto; /* Permite que el contenedor crezca verticalmente según el contenido */
  white-space: normal; /* Esto permitirá que el texto envuelva */
  overflow-wrap: break-word; /* Asegura que las palabras se rompan correctamente */
}


.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-telephone-icon {
  height: 20px;
  left: 154px;
  color: #00ddfa;
  position: absolute;
  top: 72px;
  width: 20px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-telephone-value {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
  width: 92px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-separator-2 {
  height: 12px;
  left: 1px;
  position: absolute;
  top: 172px;
  width: 290px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-line-3 {
  height: 1px;
  left: 0;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 137px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-actividades-list {
    border-radius: 10px;
    height: 72px;
    left: 2px;
    position: absolute;
    top: 212px;
    width: 288px;
    overflow-y: auto; 
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-actividades-ul {
    height: 0;
    width: 0;
}

/* Estilos de barra de desplazamiento para navegadores WebKit como Chrome y Safari */
.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-actividades-list::-webkit-scrollbar {
    width: 10px;
  }
  
  .VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-actividades-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-actividades-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; /* Puedes redondear los bordes del pulgar para que coincida con el contenedor */
  }
  
  .VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-actividades-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Estilos de barra de desplazamiento para Firefox */
  .VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-actividades-list {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }


.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-rectangle-wrapper {
  background-color: #ffffff;
  height: 65px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 288px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-rectangle {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 21px;
  font-size: 12px;
  left: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 4px;
  list-style: none;
  top: 11px;
  width: 251px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-protocolos-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 195px;
  width: 272px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-estado-div {
  height: 75px;
  left: 323px;
  position: absolute;
  top: 19px;
  width: 201px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-4 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 87px;
  position: relative;
  width: 191px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-5 {
  height: 65px;
  left: 28px;
  position: absolute;
  top: 3px;
  width: 158px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group-3 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 136px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-estado-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 136px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-estado-icon {
  height: 35px;
  left: 5px;
  color: #08da08;
  position: absolute;
  top: 13px;
  width: 35px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-line-4 {
  height: 62px;
  left: 68px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 1px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-observacion-t {
  color: #7C7C7C;
  font-family: "Inter-Regular", Helvetica;
  font-size: 6px;
  font-weight: 400;
  left: 73px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 85px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-observacion-value {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 73px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 85px;
  height: 50px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-aproved-t {
  color: #7C7C7C;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
  width: 68px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-aprobador-value {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 7px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 67px;
  white-space: nowrap;
  width: 83px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-date-closed {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 7px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 76px;
  white-space: nowrap;
  width: 83px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-creation-div {
  height: 181px;
  left: 323px;
  position: absolute;
  top: 114px;
  width: 207px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-6 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 181px;
  position: relative;
  width: 191px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-creation-info {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 136px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-created-icon {
  height: 19px;
  left: 32px;
  color: #00ddfa;
  position: absolute;
  top: 31px;
  width: 18px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-created-date {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 18px;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
  width: 102px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-insede-t {
  color: #d9d9d9;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 63px;
  width: 87px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-insede-check {
  height: 32px;
  left: 124px;
  position: absolute;
  top: 53px;
  width: 30px;
}

/* EJECUTAR SEDE */

.VisitaByIdAbierta-switch {
    position: relative;
    display: inline-block;
    top: 50px;
    left: 115px;
    width: 60px;
    height: 34px;
  }
  
  .VisitaByIdAbierta-switch .VisitaByIdAbierta-ejecutar-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .VisitaByIdAbierta-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7C7C7C;
    transition: .4s;
    border-radius: 34px;
  }
  
  .VisitaByIdAbierta-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  .VisitaByIdAbierta-switch.VisitaByIdAbierta-on .VisitaByIdAbierta-slider {
    background-color: #00ddfa;
  }
  
  .VisitaByIdAbierta-switch.VisitaByIdRechazada-off .VisitaByIdAbierta-slider {
    background-color: #7C7C7C;
  }
  
  .ejecutar-input:checked + .VisitaByIdAbierta-slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .VisitaByIdAbierta-slider.VisitaByIdRechazada-round {
    border-radius: 34px;
  }
  
  .VisitaByIdAbierta-slider.VisitaByIdRechazada-round:before {
    border-radius: 50%;
  }

  /* ----- */


.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-separator-3 {
  height: 12px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 191px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group-4 {
  height: 12px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 101px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-ellipse-2 {
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 5.43px/6.17px;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 11px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-line-5 {
  height: 1px;
  left: 11px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 90px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-line-6 {
  height: 1px;
  left: -90px;
  background-color: #d9d9d9;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 90px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-creator-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 104px;
  width: 136px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-user-i {
  height: 16px;
  left: 11px;
  color: #00ddfa;
  position: absolute;
  top: 123px;
  width: 12px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-user-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 126px;
  width: 64px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-id-i {
  height: 16px;
  left: 103px;
  color: #00ddfa;
  position: absolute;
  top: 123px;
  width: 12px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 126px;
  width: 63px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-email {
  height: 15px;
  left: 11px;
  color: #00ddfa;
  position: absolute;
  top: 154px;
  width: 12px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-email-t {
  background: transparent;
  border: none;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  word-break: break-all; /* Permite que la palabra se rompa y continúe en la siguiente línea */
  overflow-wrap: break-word; /* Alternativa a word-wrap para navegadores modernos */
  white-space: normal; /* Asegura que el espacio en blanco se maneje normalmente */
  padding: 0;
  position: absolute;
  top: 158px;
  width: 64px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-telephone-i {
  height: 15px;
  left: 103px;
  color: #00ddfa;
  position: absolute;
  top: 154px;
  width: 12px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-telephone-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 158px;
  width: 63px;
}


/* STYLES CERRADA */


.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-estado-icon-cerrada {
  height: 35px;
  left: 5px;
  color: #555555;
  position: absolute;
  top: 13px;
  width: 35px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group-cerrada {
  background-color: #ffffff;
  border-radius: 10px;
  height: 34px;
  position: relative;
  width: 498px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-visita-title-cerrada {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 498px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-back-icon {
  height: 30px;
  color: #00ddfa;
  left: 7px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdCerrada-back-icon {
  height: 30px;
  color: #00ddfa;
  left: 524px;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitaByIdAbierta-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.VisitaByIdAbierta-modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.VisitaByIdAbierta-modal-content-title {
  color: #00ddfa;
  text-align: center;
  margin-bottom: 10px;
}


.VisitaByIdAbierta-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 16px;
}

.VisitaByIdAbierta-modal-actions {
  display: flex;
  justify-content: flex-end;
}


.VisitaByIdAbierta-modal-cancel-button {
  height: 40px;
  width: 80px;
  background-color: #d9d9d9;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.VisitaByIdAbierta-close-observacion-button {
  height: 40px;
  width: 120px;
  background-color: #00ddfa;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {

  .VisitaByIdAbierta-visita-abierta {
    background-color: transparent;
    justify-content: center;
    left: 363px;
    top: 770px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 563px;
    height: 428px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 318px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 563px;
  overflow-y: auto;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-visita-title-cerrada {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px !important;
  font-weight: 400;
  height: 18px;
  left: -15px !important;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px !important;
  white-space: nowrap;
  width: 498px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group-cerrada {
  background-color: #ffffff;
  border-radius: 10px;
  height: 34px;
  position: relative;
  width: 465px!important;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdCerrada-back-icon {
  height: 30px;
  color: #00ddfa;
  left: 515px!important;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-div {
  /* background-image: url(./container.svg); */
  background-size: 100% 100%;
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 390px;
  position: relative;
  width: 563px;
}
}

@media screen and (min-width: 700px) and (max-width: 899px) {

  .VisitaByIdAbierta-visita-abierta {
    background-color: transparent;
    justify-content: center;
    left: 363px;
    top: 775px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 563px;
    height: 428px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 318px;
  left: 0;
  position: absolute;
  top: 59px;
  width: 563px;
  overflow-y: auto;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-visita-title-cerrada {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px !important;
  font-weight: 400;
  height: 18px;
  left: -15px !important;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px !important;
  white-space: nowrap;
  width: 498px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-overlap-group-cerrada {
  background-color: #ffffff;
  border-radius: 10px;
  height: 34px;
  position: relative;
  width: 465px!important;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdCerrada-back-icon {
  height: 30px;
  color: #00ddfa;
  left: 515px!important;
  cursor: pointer;
  position: absolute;
  top: 19px;
  width: 30px;
}

.VisitaByIdAbierta-visita-abierta .VisitaByIdAbierta-div {
  /* background-image: url(./container.svg); */
  background-size: 100% 100%;
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 390px;
  position: relative;
  width: 563px;
}
}
  