.sedeDetail-sede-section {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  display: flex;
  width: 18.75vw; /* 360px */
  height: 77.78vh; /* 700px */
}

.sedeDetailcard {
  width: 18.75vw; /* 360px */
  height: 55.56vh; /* 500px */
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 0.52vw; /* 10px */
  box-shadow: 0 0 0 0.42vw rgba(255, 255, 255, 0.2); /* 8px */
}

.sedeDetail-header {
  position: relative;
  display: flex;
  height: 22.22vh; /* 200px */
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;

  * {
    transition: 0.3s;
  }
}

.sedeDetail-sede-section {
  width: 18.75vw; /* 360px */
  height: 77.78vh; /* 700px */
}

.sedeDetail-cover {
  width: 100%;
  height: 35.56vh; /* 160px */
  position: absolute;
  will-change: top;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #cfde00 30%, #fcd600ef 100%);
  filter: blur(3.33vh); /* 30px */
  transform: scale(1.2);
  transition: 0.5s;
}

.sedeDetail-avatar {
  width: 5.21vw; /* 100px */
  height: 11.11vh; /* 100px */
  box-shadow: 0 0.42vw 0.42vw rgba(0, 0, 0, 0.2); /* 8px */
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7.11vh); /* -64px */
}

.sedeDetail-fullname {
  position: absolute;
  bottom: 0;
  font-size: 1.25vw; /* 24px */
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-1.11vh) translateX(-50%); /* -10px */
  left: 50%;
  padding: 1rem;
  color: #09203f;
}

.sedeDetail-oid {
  position: absolute;
  bottom: 0;
  font-size: 0.73vw; /* 14px */
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  padding: -1.11vh; /* -10px */
  letter-spacing: 0.08vw; /* 1.5px */
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-0.78vh); /* -7px */
  color: #636b6f;
}

.sedeDetail-main {
  height: 22.22vh; /* 200px */
  position: relative;
  flex: 1;
  display: flex;
  left: 6.25vw; /* 120px */
  padding-top: 1.11vh; /* 10px */
  flex-direction: row;
}

.sedeDetail-subtitle {
  font-weight: 700;
  font-size: 0.78vw; /* 15px */
  margin-bottom: 0.42vh; /* 8px */
}

.sedeDetail-content-1 {
  padding: 0.26vw; /* 5px */
  flex-direction: row;
  margin-top: 1.11vh; /* 10px */
  width: 90%;
  height: 22.22vh; /* 200px */
  text-align: center;
}

.sedeDetail-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 0.63vw; /* 12px */
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.sedeDetail-section {
  display: none;
  &.is-active {
    height: 22.22vh; /* 200px */
    display: flex;
    animation: fadeIn 0.6s both;
  }
}

.sedeDetail-delete-button {
  margin-top: 0;
  position: relative;
  left: -9.38vw; /* 180px */
  height: 3.33vh; /* 30px */
  width: 1.56vw; /* 30px */
}

.sedeDetail-edit-button {
  border: none;
  outline: none;
  background: #00ddfa; /* Color de fondo similar al botón "Editar" */
  padding: 1.22vh 1.3vw; /* 11px 25px */
  width: 5.21vw; /* 100px */
  margin: 1.11vh 0.26vw 1.11vh 0; /* 10px 5px */
  border-radius: 0.21vw; /* 4px */
  font-weight: 600;
  cursor: pointer;
  color: #09203f; /* Color del texto */
  transition: background 0.3s, color 0.3s; /* Transición suave para cambios de color */
}

.sedeDetail-edit-button:hover {
  background: #0099cc; /* Color de fondo cuando se pasa el mouse sobre el botón */
  color: #fff; /* Color del texto cuando se pasa el mouse sobre el botón */
}

.sedeDetail-buttons-edit {
  padding: 1.11vh; /* 10px */
  height: 6.67vh; /* 60px */
  margin-right: 5.21vw; /* 100px */
  margin-left: -9.9vw; /* -190px */
  margin-top: 22.22vh; /* 200px */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ddfa;
}

.sedeDetail-buttons {
  padding: 1.11vh; /* 10px */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ddfa;
}

.sedeDetail-button {
  border: none;
  outline: none;
  background: #00ddfa;
  padding: 1.22vh 1.3vw; /* 11px 25px */
  width: 5.21vw; /* 100px */
  margin-top: 1.11vh; /* 10px */
  border-radius: 0.21vw; /* 4px */
  font-weight: 600;
  cursor: pointer;
  font-size: 1.8vh;
  height: 4vh;
}

.sedeDetail-main-edited {
  height: 22.22vh; /* 200px */
  position: relative;
  flex: 1;
  right: 1.04vw; /* 20px */
  display: flex;
  padding-top: 1.11vh; /* 10px */
  flex-direction: row;
}