.register-user {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-radius: 0.52vw; /* 10px */
}

.register-user .div {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 77.67vh; /* 699px */
  overflow: hidden;
  position: relative;
  width: 47.76vw; /* 917px */
  border-radius: 0.52vw; /* 10px */
}

.register-user .header {
  background-color: transparent;
  height: 11.89vh; /* 107px */
  left: 0;
  position: absolute;
  top: 0;
  width: 47.87vw; /* 919px */
}

.register-user .overlap-group {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  height: 11.89vh; /* 107px */
  position: relative;
  width: 47.76vw; /* 917px */
  border-radius: 0.52vw; /* 10px */
}

.register-user .register-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.04vw; /* 20px */
  font-weight: 400;
  left: 9.41vw; /* 181px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4.22vh; /* 38px */
  width: 28.8vw; /* 553px */
}

.register-user .fullname-section {
  height: 9.33vh; /* 84px */
  left: 0.52vw; /* 10px */
  position: absolute;
  top: 17.00vh; /* 153px */
  width: 20.36vw; /* 391px */
}

.register-user .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.83vw; /* 16px */
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 20.05vw; /* 385px */
}

.register-user .name-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.63vw; /* 12px */
  font-weight: 400;
  left: 1.09vw; /* 21px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3.33vh; /* 30px */
  width: 5.89vw; /* 113px */
}

.register-user .name-input {
  height: 4vh; /* 36px */
  left: 1.09vw; /* 21px */
  position: absolute;
  top: 5.33vh; /* 48px */
  width: 8.64vw; /* 166px */
  background-color: #d9d9d9;
  border-radius: 0.52vw; /* 10px */
  border: none;
}

.register-user .lastname-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.63vw; /* 12px */
  font-weight: 400;
  left: 11.41vw; /* 219px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3.33vh; /* 30px */
  width: 5.89vw; /* 113px */
}

.register-user .lastname-input {
  height: 4vh; /* 36px */
  left: 11.41vw; /* 219px */
  position: absolute;
  top: 5.33vh; /* 48px */
  width: 8.64vw; /* 166px */
  background-color: #d9d9d9;
  border-radius: 0.52vw; /* 10px */
  border: none;
}

.register-user .username-section {
  height: 7.89vh; /* 71px */
  left: 0.52vw; /* 10px */
  position: absolute;
  top: 29.11vh; /* 262px */
  width: 20.15vw; /* 387px */
}

.register-user .input {
  height: 4vh; /* 36px */
  left: 1.09vw; /* 21px */
  position: absolute;
  top: 3.89vh; /* 35px */
  width: 18.96vw; /* 364px */
  background-color: #d9d9d9;
  border-radius: 0.52vw; /* 10px */
  border: none;
}

.register-user .cedula-section {
  height: 7.89vh; /* 71px */
  left: 0.52vw; /* 10px */
  position: absolute;
  top: 39.78vh; /* 358px */
  width: 20.15vw; /* 387px */
}

.register-user .telephone-section {
  height: 7.89vh; /* 71px */
  left: 0.52vw; /* 10px */
  position: absolute;
  top: 50.44vh; /* 454px */
  width: 20.15vw; /* 387px */
}

.register-user .repuesto-separator {
  background-color: #636b6f61;
  height: 54.22vh; /* 488px */
  left: 23.85vw; /* 458px */
  position: absolute;
  top: 14vh; /* 126px */
  transform: rotate(180deg);
  width: 0.05vw; /* 1px */
}

.register-user .email-section {
  height: 7.89vh; /* 71px */
  left: 26.51vw; /* 509px */
  position: absolute;
  top: 17.00vh; /* 153px */
  width: 20.15vw; /* 387px */
}

.register-user .aditional-section {
  height: 7.89vh; /* 71px */
  left: 26.51vw; /* 509px */
  position: absolute;
  top: 29.11vh; /* 262px */
  width: 20.15vw; /* 387px */
}

.register-user .role-section {
  height: 7.89vh; /* 71px */
  left: 26.51vw; /* 509px */
  position: absolute;
  top: 41.22vh; /* 371px */
  width: 20.15vw; /* 387px */
}

.register-user .tecnico-section {
  height: 15vh; /* 135px */
  left: 27.5vw; /* 530px */
  position: absolute;
  top: 50.78vh; /* 457px */
  width: 18.96vw; /* 364px */
}

.register-user .type-section {
  height: 7.11vh; /* 64px */
  left: 0.1vw; /* 2px */
  position: absolute;
  top: 0;
  width: 8.28vw; /* 159px */
}

.register-user .text-wrapper-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.63vw; /* 12px */
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 8.18vw; /* 157px */
}

.register-user .input-2 {
  height: 4vh; /* 36px */
  left: 0;
  position: absolute;
  top: 3.11vh; /* 28px */
  width: 7.91vw; /* 152px */
  background-color: #d9d9d9;
  border-radius: 0.52vw; /* 10px */
  border: none;
}

.register-user .invima-section {
  height: 7.11vh; /* 64px */
  left: 0;
  position: absolute;
  top: 7.89vh; /* 71px */
  width: 8.28vw; /* 159px */
}

.register-user .invima-input {
  height: 4vh; /* 36px */
  left: 0;
  position: absolute;
  top: 3.11vh; /* 28px */
  width: 7.86vw; /* 151px */
  background-color: #d9d9d9;
  border-radius: 0.52vw; /* 10px */
  border: none;
}

.register-user .title-section {
  height: 7.11vh; /* 64px */
  left: 10.78vw; /* 207px */
  position: absolute;
  top: 0;
  width: 8.28vw; /* 159px */
}

.register-user .location-section {
  height: 7.11vh; /* 64px */
  left: 10.78vw; /* 207px */
  position: absolute;
  top: 7.89vh; /* 71px */
  width: 8.28vw; /* 159px */
}

.register-user .register-b {
  height: 4.78vh; /* 43px */
  left: 26.04vw; /* 500px */
  position: absolute;
  top: 70.33vh; /* 633px */
  width: 10vw; /* 192px */
  background-color: #00ddfa;
  cursor: pointer;
  border: none;
  border-radius: 0.52vw; /* 10px */
}

.register-user .overlap {
  background-color: #00ddfa;
  background-size: 100% 100%;
  height: 4.78vh; /* 43px */
  position: relative;
  width: 9.9vw; /* 190px */
}

.register-user .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.83vw; /* 16px */
  font-weight: 400;
  height: 2.44vh; /* 22px */
  left: 1.14vw; /* 22px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.11vh; /* 10px */
  width: 7.55vw; /* 145px */
}

.register-user .cancel-b {
  height: 4.78vh; /* 43px */
  left: 11.87vw; /* 228px */
  position: absolute;
  top: 70.33vh; /* 633px */
  width: 10vw; /* 192px */
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  border-radius: 0.52vw; /* 10px */
}

.register-user .cancel-text-wrapper {
  /* background-image: url(./cancel-button.svg); */
  background-size: 100% 100%;
  height: 4.78vh; /* 43px */
  position: relative;
  width: 9.9vw; /* 190px */
}
