.register-user {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.register-user .div {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 699px;
  overflow: hidden;
  position: relative;
  width: 917px;
  border-radius: 10px;
}

.register-user .header {
  background-color: transparent;
  height: 107px;
  left: 0;
  position: absolute;
  top: 0;
  width: 919px;
}

.register-user .overlap-group {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  height: 107px;
  position: relative;
  width: 917px;
  border-radius: 10px;
}

.register-user .register-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 181px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 553px;
}

.register-user .fullname-section {
  height: 84px;
  left: 10px;
  position: absolute;
  top: 153px;
  width: 391px;
}

.register-user .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 385px;
}

.register-user .name-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 113px;
}

.register-user .name-input {
  height: 36px;
  left: 21px;
  position: absolute;
  top: 48px;
  width: 166px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.register-user .lastname-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 219px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 113px;
}

.register-user .lastname-input {
  height: 36px;
  left: 219px;
  position: absolute;
  top: 48px;
  width: 166px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.register-user .username-section {
  height: 71px;
  left: 10px;
  position: absolute;
  top: 262px;
  width: 387px;
}

.register-user .input {
  height: 36px;
  left: 21px;
  position: absolute;
  top: 35px;
  width: 364px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.register-user .cedula-section {
  height: 71px;
  left: 10px;
  position: absolute;
  top: 358px;
  width: 387px;
}

.register-user .telephone-section {
  height: 71px;
  left: 10px;
  position: absolute;
  top: 454px;
  width: 387px;
}

.register-user .repuesto-separator {
  background-color: #636b6f61;
  height: 488px;
  left: 458px;
  position: absolute;
  top: 126px;
  transform: rotate(180deg);
  width: 1px;
}

.register-user .email-section {
  height: 71px;
  left: 509px;
  position: absolute;
  top: 153px;
  width: 387px;
}

.register-user .aditional-section {
  height: 71px;
  left: 509px;
  position: absolute;
  top: 262px;
  width: 387px;
}

.register-user .role-section {
  height: 71px;
  left: 509px;
  position: absolute;
  top: 371px;
  width: 387px;
}

.register-user .tecnico-section {
  height: 135px;
  left: 530px;
  position: absolute;
  top: 457px;
  width: 364px;
}

.register-user .type-section {
  height: 64px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 159px;
}

.register-user .text-wrapper-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 157px;
}

.register-user .input-2 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 152px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.register-user .invima-section {
  height: 64px;
  left: 0;
  position: absolute;
  top: 71px;
  width: 159px;
}

.register-user .invima-input {
  height: 36px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 151px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.register-user .title-section {
  height: 64px;
  left: 207px;
  position: absolute;
  top: 0;
  width: 159px;
}

.register-user .location-section {
  height: 64px;
  left: 207px;
  position: absolute;
  top: 71px;
  width: 159px;
}

.register-user .register-b {
  height: 43px;
  left: 500px;
  position: absolute;
  top: 633px;
  width: 192px;
  background-color: #00ddfa;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.register-user .overlap {
  background-color: #00ddfa;
  background-size: 100% 100%;
  height: 43px;
  position: relative;
  width: 190px;
}

.register-user .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 145px;
}

.register-user .cancel-b {
  height: 43px;
  left: 228px;
  position: absolute;
  top: 633px;
  width: 192px;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.register-user .cancel-text-wrapper {
  /* background-image: url(./cancel-button.svg); */
  background-size: 100% 100%;
  height: 43px;
  position: relative;
  width: 190px;
}