.RegisterMarcaEquipoForm-box {
  height: 22.04vh; /* 238px / 1080px * 100 */
  width: 55.21vw; /* (466px + 600px) / 1920px * 100 */
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-register-marca {
  height: 22.04vh;
  left: 0;
  top: 0;
  width: 55.42vw; /* (470px + 600px) / 1920px * 100 */
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-overlap-group {
  background-size: 100% 100%;
  box-shadow: none;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  border: none;
  height: 22.04vh;
  position: relative;
  width: 55.21vw; /* (466px + 600px) / 1920px * 100 */
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-overlap {
  background-size: 100% 100%;
  background-color: #d9d9d9;
  height: 6.39vh; /* 69px / 1080px * 100 */
  border-radius: 5px;
  color: #00ddfa;
  left: 0;
  position: absolute;
  top: 0;
  width: 55.21vw; /* (466px + 600px) / 1920px * 100 */
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-register-marca-title {
  word-break: break-all;
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.85vh;
  font-weight: 400;
  left: 4.15vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.30vh;
  width: 47.45vw;
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-register-marca-label {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.7vh;
  font-weight: 400;
  left: 0.31vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8.43vh;
  width: 54.17vw;
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-register-marca-input {
  height: 3.33vh;
  left: 3.88vw;
  border-radius: 5px;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 13.33vh;
  width: 48.18vw;
  font-size: 1.4vh;
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-registrar-button {
  height: 3.33vh;
  left: 27.23vw;
  background-color: #00ddfa;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 17.50vh;
  width: 17.06vw;
  font-size: 1.3vh;
}

.RegisterMarcaEquipoForm-box .RegisterMarcaEquipoForm-cancelar-button {
  height: 3.33vh;
  left: 8.98vw;
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 17.50vh;
  width: 16.06vw;
  font-size: 1.3vh;
}
