.RegisterEquipoForm-box {
  height: 70vh; /* Aproximadamente 700px */
  width: 77vw; /* Aproximadamente 950px */
}
.RegisterEquipoForm-box .REGISTER-EQUIPO-FORM {
  height: 70vh; /* Aproximadamente 700px */
  left: 0;
  top: 0;
  width: 77vw; /* Aproximadamente 950px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-overlap-group {
  background-color: #ffffff;
  border-radius: 1.5vh; /* Aproximadamente 15px */
  height: 80vh; /* Aproximadamente 800px */
  position: relative;
  width: 77vw; /* Aproximadamente 950px */
  left: 6vw;
}

.RegisterEquipoForm-box .RegisterEquipoForm-overlap {
  background-color: #d9d9d9;
  border-radius: 0.75vh;
  height: 12vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 77vw;
  display: flex;
  justify-content: center;
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper {
  display: inline-block;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3.2vh;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: auto;
  width: auto;
  height: 12vh;
  padding: 4vh;
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle {
  background-color: #00ddfa;
  height: 64vh; /* Aproximadamente 640px */
  left: 37.21vw; /* Aproximadamente 480px */
  position: absolute;
  top: 14vh; /* Aproximadamente 140px */
  transform: rotate(180deg);
  width: 0.12vw; /* Aproximadamente 1.5px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-div {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  box-shadow: none;
  font-weight: 400;
  left: 4.94vw; /* Aproximadamente 60px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16vh; /* Aproximadamente 160px */
  width: 27.53vw; /* Aproximadamente 340px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 5.19vw; /* Aproximadamente 65px */
  position: absolute;
  top: 19.5vh; /* Aproximadamente 195px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-search-results {
  background-color: transparent;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  left: 5.19vw; /* Aproximadamente 65px */
  position: absolute;
  top: 23.5vh; /* Aproximadamente 235px */
  height: 8.5vh; /* Aproximadamente 85px */
  width: 28.57vw; /* Aproximadamente 370px */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}
/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar {
  width: 1.5vh; /* Ajusta el ancho de la barra de desplazamiento, aproximadamente 15px */
}
/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}
/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}
/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}
.RegisterEquipoForm-box .RegisterEquipoForm-search-item {
  background-color: #53789587;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  text-align: center;
  font-size: 1.6vh; /* Aproximadamente 16px */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.4vh; /* Aproximadamente 4px */
  height: 2.5vh; /* Aproximadamente 25px */
  list-style: none;
  position: relative;
  margin-bottom: 0.3vh; /* Aproximadamente 3px */
  width: 27.27vw; /* Aproximadamente 350px */
}
/* LOGICA BUSQUEDA MODELOS EQUIPOS */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo {
  background-color: transparent;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  left: 5.19vw; /* Aproximadamente 65px */
  position: absolute;
  top: 40vh; /* Aproximadamente 400px */
  height: 8.5vh; /* Aproximadamente 85px */
  width: 28.57vw; /* Aproximadamente 370px */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}
/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar {
  width: 1.5vh; /* Ajusta el ancho de la barra de desplazamiento, aproximadamente 15px */
}
/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}
/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}
/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}
.RegisterEquipoForm-box .RegisterEquipoForm-search-item-modelo {
  background-color: #53789587;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  text-align: center;
  font-size: 1.6vh; /* Aproximadamente 16px */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.4vh; /* Aproximadamente 4px */
  height: 2.5vh; /* Aproximadamente 25px */
  list-style: none;
  position: relative;
  margin-bottom: 0.3vh; /* Aproximadamente 3px */
  width: 27.27vw; /* Aproximadamente 350px */
}
/* LOGICA BUSQUEDA AREAS EQUIPOS */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas {
  background-color: transparent;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  left: 5.19vw; /* Aproximadamente 65px */
  position: absolute;
  top: 57vh; /* Aproximadamente 570px */
  height: 8.5vh; /* Aproximadamente 85px */
  width: 28.57vw; /* Aproximadamente 370px */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}
/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar {
  width: 1.5vh; /* Ajusta el ancho de la barra de desplazamiento, aproximadamente 15px */
}
/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}
/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}
/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}
.RegisterEquipoForm-box .RegisterEquipoForm-search-item-areas {
  background-color: #53789587;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  text-align: center;
  font-size: 1.6vh; /* Aproximadamente 16px */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.4vh; /* Aproximadamente 4px */
  height: 2.5vh; /* Aproximadamente 25px */
  list-style: none;
  position: relative;
  margin-bottom: 0.3vh; /* Aproximadamente 3px */
  width: 27.27vw; /* Aproximadamente 350px */
}
/* LOGICA BUSQUEDA TIPOS EQUIPOS */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos {
  background-color: transparent;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  left: 42.21vw; /* Aproximadamente 530px */
  position: absolute;
  top: 23.5vh; /* Aproximadamente 235px */
  height: 8.5vh; /* Aproximadamente 85px */
  width: 28.57vw; /* Aproximadamente 370px */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}
/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar {
  width: 1.5vh; /* Ajusta el ancho de la barra de desplazamiento, aproximadamente 15px */
}
/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}
/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}
/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}
.RegisterEquipoForm-box .RegisterEquipoForm-search-item-tipos {
  background-color: #53789587;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  text-align: center;
  font-size: 1.6vh; /* Aproximadamente 16px */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.4vh; /* Aproximadamente 4px */
  height: 2.5vh; /* Aproximadamente 25px */
  list-style: none;
  position: relative;
  margin-bottom: 0.3vh; /* Aproximadamente 3px */
  width: 27.27vw; /* Aproximadamente 350px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-p {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 42.21vw; /* Aproximadamente 530px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33.5vh; /* Aproximadamente 335px */
  width: 27.53vw; /* Aproximadamente 340px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  height: 3.7vh; /* Aproximadamente 37px */
  box-shadow: none;
  outline: none;
  border: none;
  left: 42.21vw; /* Aproximadamente 530px */
  position: absolute;
  top: 36.5vh; /* Aproximadamente 365px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 42.21vw; /* Aproximadamente 530px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 43vh; /* Aproximadamente 430px */
  width: 27.53vw; /* Aproximadamente 340px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-4 {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 42.21vw; /* Aproximadamente 530px */
  position: absolute;
  top: 48vh; /* Aproximadamente 480px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 42.21vw; /* Aproximadamente 530px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 54.5vh; /* Aproximadamente 545px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-5 {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 42.21vw; /* Aproximadamente 530px */
  position: absolute;
  top: 59vh; /* Aproximadamente 590px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-activo-fijo-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 42.21vw; /* Aproximadamente 530px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 65.5vh; /* Aproximadamente 655px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-activo-fijo-input {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 42.21vw; /* Aproximadamente 530px */
  position: absolute;
  top: 69vh; /* Aproximadamente 690px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-mtto-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 5.45vw; /* Aproximadamente 70px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66vh; /* Aproximadamente 660px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-mtto-input {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 5.19vw; /* Aproximadamente 65px */
  position: absolute;
  top: 69vh; /* Aproximadamente 690px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 5.19vw; /* Aproximadamente 65px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33vh; /* Aproximadamente 330px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 5.19vw; /* Aproximadamente 65px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50vh; /* Aproximadamente 500px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-6 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 42.21vw; /* Aproximadamente 530px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16.5vh; /* Aproximadamente 165px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-6 {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 5.19vw; /* Aproximadamente 65px */
  position: absolute;
  top: 36vh; /* Aproximadamente 360px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-7 {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 5.19vw; /* Aproximadamente 65px */
  position: absolute;
  top: 53vh; /* Aproximadamente 530px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-8 {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.7vh; /* Aproximadamente 37px */
  left: 42.21vw; /* Aproximadamente 530px */
  position: absolute;
  top: 19.5vh; /* Aproximadamente 195px */
  width: 28.57vw; /* Aproximadamente 370px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-div-wrapper {
  background-color: #d9d9d9;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  height: 5vh; /* Aproximadamente 50px */
  left: 45.45vw; /* Aproximadamente 585px */
  position: absolute;
  top: 74.5vh; /* Aproximadamente 745px */
  cursor: pointer;
  width: 10.39vw; /* Aproximadamente 130px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-7 {
  color: #09203f;
  background-color: #d9d9d9;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  border-color: transparent;
  left: 1.75vw; /* Aproximadamente 22.5px */
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1.5vh; /* Aproximadamente 15px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-8 {
  color: #09203f;
  background-color: #00ddfa;
  border-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Aproximadamente 16px */
  font-weight: 400;
  left: 1.75vw; /* Aproximadamente 22.5px */
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1.5vh; /* Aproximadamente 15px */
}
.RegisterEquipoForm-box .RegisterEquipoForm-overlap-2 {
  background-color: #00ddfa;
  border-radius: 0.75vh; /* Aproximadamente 7.5px */
  cursor: pointer;
  height: 5vh; /* Aproximadamente 50px */
  left: 56.49vw; /* Aproximadamente 735px */
  position: absolute;
  top: 74.5vh; /* Aproximadamente 745px */
  width: 10.39vw; /* Aproximadamente 130px */
}
