.RegisterEquipoForm-box {
  height: 49.17vh; /* 531px / 1080 * 100 */
  width: 38.13vw; /* 732px / 1920 * 100 */
}

.RegisterEquipoForm-box .REGISTER-EQUIPO-FORM {
  height: 49.17vh; /* 531px / 1080 * 100 */
  left: 0;
  top: 0;
  width: 39.17vw; /* 752px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 55.74vh; /* 602px / 1080 * 100 */
  position: relative;
  width: 38.13vw; /* 732px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-overlap {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 8.43vh; /* 91px / 1080 * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 38.13vw; /* 732px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 8.44vw; /* 162px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.33vh; /* 36px / 1080 * 100 */
  width: 21.3vw; /* 409px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle {
  background-color: #00ddfa;
  height: 44.17vh; /* 477px / 1080 * 100 */
  left: 18.85vw; /* 362px / 1920 * 100 */
  position: absolute;
  top: 10.09vh; /* 109px / 1080 * 100 */
  transform: rotate(180deg);
  width: 0.052vw; /* 1px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-div {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  box-shadow: none;
  font-weight: 400;
  left: 2.45vw; /* 47px / 1920 * 100 */
  letter-spacing: 0;
  position: absolute;
  top: 11.2vh; /* 121px / 1080 * 100 */
  width: 13.13vw; /* 252px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 2.6vw; /* 50px / 1920 * 100 */
  position: absolute;
  top: 13.52vh; /* 146px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-search-results {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 2.6vw; /* 50px / 1920 * 100 */
  position: absolute;
  top: 16.2vh; /* 175px / 1080 * 100 */
  height: 6.02vh; /* 65px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  font-size: 1.6vh; /* Añadido */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar {
  width: 10px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoForm-box .RegisterEquipoForm-search-item {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh; /* Añadido */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 3px;
  height: 1.85vh; /* 20px / 1080 * 100 */
  list-style: none;
  position: relative;
  margin-bottom: 2px;
  width: 13.8vw; /* 265px / 1920 * 100 */
}

/* LOGICA BUSQUEDA MODELOS EQUIPOS */

.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 2.6vw; /* 50px / 1920 * 100 */
  position: absolute;
  top: 27.78vh; /* 300px / 1080 * 100 */
  height: 6.02vh; /* 65px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  font-size: 1.6vh; /* Añadido */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar {
  width: 10px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-modelo::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoForm-box .RegisterEquipoForm-search-item-modelo {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh; /* Añadido */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 3px;
  height: 1.85vh; /* 20px / 1080 * 100 */
  list-style: none;
  position: relative;
  margin-bottom: 2px;
  width: 13.8vw; /* 265px / 1920 * 100 */
}

/* LOGICA BUSQUEDA AREAS EQUIPOS */

.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 2.6vw; /* 50px / 1920 * 100 */
  position: absolute;
  top: 39.35vh; /* 425px / 1080 * 100 */
  height: 6.02vh; /* 65px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  font-size: 1.6vh; /* Añadido */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar {
  width: 10px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-areas::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoForm-box .RegisterEquipoForm-search-item-areas {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh; /* Añadido */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 3px;
  height: 1.85vh; /* 20px / 1080 * 100 */
  list-style: none;
  position: relative;
  margin-bottom: 2px;
  width: 13.8vw; /* 265px / 1920 * 100 */
}

/* LOGICA BUSQUEDA TIPOS EQUIPOS */

.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 20.68vw; /* 397px / 1920 * 100 */
  position: absolute;
  top: 16.2vh; /* 175px / 1080 * 100 */
  height: 6.02vh; /* 65px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
  font-size: 1.6vh; /* Añadido */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar {
  width: 10px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoForm-box .RegisterEquipoForm-search-results-tipos::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoForm-box .RegisterEquipoForm-search-item-tipos {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh; /* Añadido */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 3px;
  height: 1.85vh; /* 20px / 1080 * 100 */
  list-style: none;
  position: relative;
  margin-bottom: 2px;
  width: 13.8vw; /* 265px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-p {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 20.68vw; /* 397px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23.24vh; /* 251px / 1080 * 100 */
  width: 13.13vw; /* 252px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 2.59vh; /* 28px / 1080 * 100 */
  box-shadow: none;
  outline: none;
  border: none;
  left: 20.68vw; /* 397px / 1920 * 100 */
  position: absolute;
  top: 25.19vh; /* 272px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 20.68vw; /* 397px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29.72vh; /* 321px / 1080 * 100 */
  width: 13.13vw; /* 252px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-4 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 20.68vw; /* 397px / 1920 * 100 */
  position: absolute;
  top: 33.15vh; /* 358px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 20.68vw; /* 397px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37.41vh; /* 404px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-5 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 20.68vw; /* 397px / 1920 * 100 */
  position: absolute;
  top: 40.74vh; /* 440px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-activo-fijo-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 20.68vw; /* 397px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45.09vh; /* 487px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-activo-fijo-input {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 20.68vw; /* 397px / 1920 * 100 */
  position: absolute;
  top: 47.69vh; /* 515px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-mtto-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 2.76vw; /* 53px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45.74vh; /* 494px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-mtto-input {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 2.6vw; /* 50px / 1920 * 100 */
  position: absolute;
  top: 47.87vh; /* 517px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 2.6vw; /* 50px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22.78vh; /* 246px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 2.6vw; /* 50px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34.91vh; /* 377px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-6 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 20.57vw; /* 395px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11.3vh; /* 122px / 1080 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-6 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 2.6vw; /* 50px / 1920 * 100 */
  position: absolute;
  top: 25vh; /* 270px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-7 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 2.6vw; /* 50px / 1920 * 100 */
  position: absolute;
  top: 36.57vh; /* 395px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-rectangle-8 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.59vh; /* 28px / 1080 * 100 */
  left: 20.57vw; /* 395px / 1920 * 100 */
  position: absolute;
  top: 13.43vh; /* 145px / 1080 * 100 */
  width: 14.9vw; /* 286px / 1920 * 100 */
  font-size: 1.6vh; /* Añadido */
}

.RegisterEquipoForm-box .RegisterEquipoForm-div-wrapper {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 3.33vh; /* 36px / 1080 * 100 */
  left: 22.81vw; /* 438px / 1920 * 100 */
  position: absolute;
  top: 51.67vh; /* 558px / 1080 * 100 */
  cursor: pointer;
  width: 5.21vw; /* 100px / 1920 * 100 */
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-7 {
  /* color: #09203f; */
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.2vh;
  font-weight: 400;
  border-color: transparent;
  left: 0.89vw;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0.93vh;
}

.RegisterEquipoForm-box .RegisterEquipoForm-text-wrapper-8 {
  /* color: #09203f; */
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.2vh;
  font-weight: 400;
  border-color: transparent;
  left: 0.89vw;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0.93vh;
}

.RegisterEquipoForm-box .RegisterEquipoForm-overlap-2 {
  background-color: #00ddfa;
  border-radius: 5px;
  cursor: pointer;
  height: 3.33vh; /* 36px / 1080 * 100 */
  left: 28.75vw; /* 552px / 1920 * 100 */
  position: absolute;
  top: 51.67vh; /* 558px / 1080 * 100 */
  width: 5.21vw; /* 100px / 1920 * 100 */
}
