.SolicitudesServicioDetailPage-solicitudes {
  border-radius: 0.52vw;
  height: 63vh;
  overflow: hidden;
  width: 52.71vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap {
  height: 63vh;
  left: 0.99vw;
  position: relative;
  width: 50.94vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-container {
  background-color: #53789587;
  border-radius: 0.52vw;
  height: 63vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 50.84vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-header {
  background-color: transparent;
  height: 13.8vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 50.94vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-group {
  background-color: #d9d9d9;
  border-radius: 0.52vw;
  height: 13.8vh;
  position: relative;
  width: 50.84vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-solicitud-id {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.46vw;
  font-weight: 400;
  height: 7.41vh;
  left: 4.27vw;
  letter-spacing: 0;
  position: absolute;
  align-items: center !important;	
  justify-content: center;
  text-align: center;
  top: 5.56vh;
  width: 42.55vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-edit-icon {
  height: 3.7vh; 
  color: #00ddfa;
  left: 47.4vw;
  position: absolute;
  top: 2.41vh;
  width: 2.08vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-delete-icon {
  color: #00ddfa;
  height: 3.7vh;
  left: 47.4vw;
  position: absolute;
  top: 7.87vh;
  width: 2.08vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-geninfo-section {
  height: 16.3vh;
  left: 1.56vw;
  position: absolute;
  top: 16.48vh;
  width: 20.73vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-div {
  background-color: #d9d9d9;
  border-radius: 0.52vw;
  height: 16.3vh;
  position: relative;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-geninfo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.94vw;
  font-weight: 400;
  height: 2.59vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.02vh;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-service-icon {
  color: #00ddfa;
  height: 2.04vh;
  left: 0.78vw;
  position: absolute;
  top: 6.11vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-service-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.67vh;
  left: 2.92vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6.39vh;
  width: 6.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-created-icon {
  height: 2.04vh;
  color: #00ddfa;
  left: 0.78vw;
  position: absolute;
  top: 10.56vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-created-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.67vh;
  left: 3.07vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11.02vh;
  width: 6.77vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-geninfo-separator {
  height: 9.81vh;
  left: 10.1vw;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 4.63vh;
  width: 0.1vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-aviso-icon {
  height: 2.04vh;
  left: 11.04vw;
  color: #00ddfa;
  position: absolute;
  top: 6.11vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-aviso-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.67vh;
  left: 13.18vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6.39vh;
  width: 6.61vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-observacion-icon {
  height: 2.04vh;
  left: 11.04vw;
  color: #00ddfa;
  position: absolute;
  top: 10.56vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-observacion-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 5.09vh;
  left: 13.18vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10.83vh;
  width: 6.61vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-section {
  height: 6.2vh;
  left: 0.78vw;
  position: absolute;
  top: 33.8vh;
  width: 21.93vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-2 {
  background-color: #d9d9d9;
  border-radius: 0.52vw;
  height: 6.2vh;
  position: relative;
  width: 21.72vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.73vw;
  font-weight: 400;
  left: 3.65vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2.22vh;
  width: 6.67vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-cambio-date {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  left: 5.94vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5vh;
  width: 5.16vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-cambio-date-icon {
  color: #636b6f;
  left: 4.9vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.72vh;
  width: 0.88vw;
  height: 1.57vh;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-separator {
  height: 3.8vh;
  left: 10.94vw;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 1.2vh;
  width: 0.05vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-text-wrapper {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 0.57vw;
    font-weight: 400;
    height: 5.28vh;
    left: 11.35vw;
    letter-spacing: 0;
    line-height: normal;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 0.46vh;
    width: 10.1vw;
    overflow-y: auto; /* Agrega scroll vertical */
    overflow-x: hidden; /* Oculta el scroll horizontal */
  }

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-creator-section {
  height: 20.93vh;
  left: 1.46vw;
  position: absolute;
  top: 41vh;
  width: 21.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-3 {
  background-color: #d9d9d9;
  border-radius: 0.52vw;
  height: 20.93vh;
  position: relative;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-4 {
  height: 2.5vh;
  left: 0;
  position: absolute;
  top: 0.74vh;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-creador-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.94vw;
  font-weight: 400;
  height: 1.3vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-creador-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 0.93vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.67vh;
  white-space: nowrap;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-eye {
  height: 1.85vh;
  color: #636b6f;
  cursor: pointer;
  left: 18.39vw;
  position: absolute;
  top: 0;
  width: 1.04vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-username-icon {
  height: 1.57vh;
  left: 0.36vw;
  color: #00ddfa;
  position: absolute;
  top: 4.35vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-creador-username {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.57vh;
  left: 2.29vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.35vh;
  width: 7.5vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-telephone-icon {
  height: 1.57vh;
  left: 11.61vw;
  color: #00ddfa;
  position: absolute;
  top: 4.35vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-creador-telephone {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.57vh;
  left: 13.49vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.35vh;
  width: 6.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-cc-icon {
  height: 1.57vh;
  left: 0.36vw;
  color: #00ddfa;
  position: absolute;
  top: 6.94vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-creador-cc {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.57vh;
  left: 2.29vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6.94vh;
  width: 7.5vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-email-icon {
  height: 1.57vh;
  left: 11.61vw;
  color: #00ddfa;
  position: absolute;
  top: 6.94vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-creador-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.57vw;
  font-weight: 400;
  height: 2.59vh;
  left: 13.49vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7.41vh;
  width: 6.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-separator {
  height: 5.09vh;
  left: 10.05vw;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 4.07vh;
  width: 0.1vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-separator-info {
  height: 1.3vh;
  left: 0;
  position: absolute;
  top: 10.09vh;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-group-2 {
  height: 1.3vh;
  position: relative;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-line {
  height: 0.09vh;
  left: 0;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 0.56vh;
  width: 9.74vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-img {
  height: 0.09vh;
  left: 10.47vw;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 0.56vh;
  width: 9.74vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-ellipse {
  border: 1px solid;
  border-color: #537895;
  border-radius: 0.83vw/0.65vh;
  height: 1.3vh;
  left: 9.68vw;
  position: absolute;
  top: 0;
  width: 0.83vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-5 {
  height: 2.69vh;
  left: 0;
  position: absolute;
  top: 11.94vh;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-actualizador-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.94vw;
  font-weight: 400;
  height: 1.3vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-actualizador-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 0.93vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.76vh;
  white-space: nowrap;
  width: 20.21vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-user {
  height: 1.57vh;
  left: 0.36vw;
  color: #00ddfa;
  position: absolute;
  top: 15.83vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-actualizador {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.57vh;
  left: 2.29vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15.83vh;
  width: 7.5vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-cc {
  height: 1.57vh;
  left: 0.36vw;
  color: #00ddfa;
  position: absolute;
  top: 18.52vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-actualizador-cc {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.57vh;
  left: 2.29vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18.43vh;
  width: 7.5vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-telephone {
  height: 1.57vh;
  left: 11.61vw;
  color: #00ddfa;
  position: absolute;
  top: 15.83vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-actualizador-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.62vw;
  font-weight: 400;
  height: 1.57vh;
  left: 13.49vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15.83vh;
  width: 6.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-email {
  height: 1.57vh;
  left: 11.61vw;
  color: #00ddfa;
  position: absolute;
  top: 18.52vh;
  width: 1.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-actualizador-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.57vw;
  font-weight: 400;
  height: 2.59vh;
  left: 13.49vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18.43vh;
  width: 6.46vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-separator-2 {
  height: 5.09vh;
  left: 10.05vw;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 15.46vh;
  width: 0.1vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-equipo-section {
  background-color: #d9d9d9;
  border-radius: 0.52vw;
  height: 45.46vh;
  left: 23.39vw;
  position: absolute;
  top: 16.48vh;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-client-info {
  height: 12.13vh;
  left: 0;
  position: absolute;
  top: 1.57vh;
  width: 27.14vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-group-3 {
  height: 2.59vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-client-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.94vw;
  font-weight: 400;
  height: 2.5vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0.09vh;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-eye-2 {
  height: 2.31vh;
  color: #636b6f;
  cursor: pointer;
  left: 24.69vw;
  position: absolute;
  top: 0;
  width: 1.3vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-client-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 0.93vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.59vh;
  white-space: nowrap;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-clientname-icon {
  height: 2.5vh;
  left: 1.98vw;
  color: #00ddfa;
  position: absolute;
  top: 5vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-clientname-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 3.7vh;
  left: 3.85vw;
  letter-spacing: 0;
  align-items: center;
  line-height: normal;
  position: absolute;
  top: 5.56vh;
  width: 8.75vw;
  z-index: 999;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-nit-icon {
  height: 2.5vh;
  left: 1.98vw;
  color: #00ddfa;
  position: absolute;
  top: 8.43vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-nit-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 1.94vh;
  left: 3.85vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9.17vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-clientphone-icon {
  height: 2.5vh;
  left: 15.47vw;
  color: #00ddfa;
  position: absolute;
  top: 5vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-clientphone-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 1.85vh;
  left: 17.34vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5.28vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-clientinfo-separator {
  height: 7.31vh;
  left: 13.28vw;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 4.81vh;
  width: 0.05vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-clientemail-icon {
  height: 2.5vh;
  left: 15.47vw;
  color: #00ddfa;
  position: absolute;
  top: 8.43vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-clientemail-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 3.24vh;
  left: 17.34vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8.89vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-separator-info-2 {
  height: 1.3vh;
  left: 0;
  position: absolute;
  top: 15.65vh;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-line-2 {
  height: 0.09vh;
  left: 0;
  object-fit: cover;
  background-color: #537895;
  position: absolute;
  top: 0.56vh;
  width: 12.87vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-line-3 {
  height: 0.09vh;
  left: 13.7vw;
  object-fit: cover;
  background-color: #537895;
  position: absolute;
  top: 0.56vh;
  width: 12.81vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-ellipse-2 {
  border: 1px solid;
  border-color: #537895;
  border-radius: 0.83vw/0.65vh;
  height: 1.3vh;
  left: 12.87vw;
  position: absolute;
  top: 0;
  width: 0.83vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-equipo-info {
  height: 12.69vh;
  left: 0;
  position: absolute;
  top: 17.78vh;
  width: 27.45vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-6 {
  height: 3.15vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-equipo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.94vw;
  font-weight: 400;
  height: 2.22vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-equipo-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 0.83vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.22vh;
  white-space: nowrap;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-eye-3 {
  height: 2.31vh;
  color: #636b6f;
  cursor: pointer;
  left: 24.69vw;
  position: absolute;
  top: 0.09vh;
  width: 1.3vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-class-icon {
  height: 2.22vh;
  left: 1.98vw;
  color: #00ddfa;
  position: absolute;
  top: 4.44vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-class-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 3.33vh;
  left: 3.85vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.63vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-marca-icon {
  height: 2.22vh;
  left: 1.98vw;
  color: #00ddfa;
  position: absolute;
  top: 7.59vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-marca-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 1.76vh;
  left: 3.85vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8.06vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-model-icon {
  height: 2.22vh;
  left: 1.98vw;
  color: #00ddfa;
  position: absolute;
  top: 10.46vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-model-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 1.76vh;
  left: 3.85vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10.93vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-equipoinfo-separator {
  height: 8.43vh;
  left: 13.28vw;
  background-color: #636b6f61;
  object-fit: cover;
  position: absolute;
  top: 4.26vh;
  width: 0.05vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-serial-icon {
  height: 2.22vh;
  left: 15.47vw;
  color: #00ddfa;
  position: absolute;
  top: 4.44vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-serial-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 1.85vh;
  left: 17.34vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.63vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-client-wrapper {
  /* background-image: url(./area-icon.png); */
  background-size: 100% 100%;
  height: 2.22vh;
  color: #00ddfa;
  left: 15.47vw;
  position: absolute;
  top: 7.59vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-client {
  height: 2.22vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-7 {
  height: 2.96vh;
  left: 17.34vw;
  position: absolute;
  top: 7.59vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-text-wrapper-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 2.96vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-ubicacion-icon {
  height: 2.22vh;
  left: 15.47vw;
  color: #00ddfa;
  position: absolute;
  top: 10.46vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-ubicacion-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 1.76vh;
  left: 17.34vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10.93vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-wrapper {
  height: 1.3vh;
  left: 0;
  position: absolute;
  top: 31.85vh;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-line-4 {
  height: 0.09vh;
  left: 0;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 0.56vh;
  width: 12.92vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-line-5 {
  height: 0.09vh;
  left: 13.65vw;
  background-color: #537895;
  object-fit: cover;
  position: absolute;
  top: 0.56vh;
  width: 12.86vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-info {
  height: 11.39vh;
  left: 0;
  position: absolute;
  top: 33.7vh;
  width: 27.14vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-overlap-8 {
  height: 2.31vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.94vw;
  font-weight: 400;
  height: 1.76vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0.28vh;
  white-space: nowrap;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-oid {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 0.65vh;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.41vh;
  white-space: nowrap;
  width: 26.51vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-icon {
  height: 2.5vh;
  left: 1.98vw;
  color: #00ddfa;
  position: absolute;
  top: 4.35vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-nombre {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 3.7vh;
  left: 3.85vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.63vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-location-icon {
  height: 2.5vh;
  left: 1.98vw;
  color: #00ddfa;
  position: absolute;
  top: 7.59vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-address {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 3.24vh;
  left: 3.96vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8.33vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sedeinfo-separator {
  height: 5.37vh;
  left: 13.28vw;
  object-fit: cover;
  background-color: #636b6f61;
  position: absolute;
  top: 4.54vh;
  width: 0.05vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sedetelephone-icon {
  height: 2.5vh;
  left: 15.47vw;
  color: #00ddfa;
  position: absolute;
  top: 4.35vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-telefono {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  height: 2.22vh;
  left: 17.34vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.35vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sedeemail-icon {
  height: 2.5vh;
  left: 15.47vw;
  color: #00ddfa;
  position: absolute;
  top: 7.59vh;
  width: 1.41vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-sede-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 0.52vw;
  font-weight: 400;
  left: 17.45vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8.52vh;
  width: 8.75vw;
}

.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-icon {
    height: 4.17vh;
    left: 0.68vw;
    position: absolute;
    top: 0.83vh;
    width: 2.45vw;
  }
.SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-pendiente {
    height: 4.17vh;
    left: 0.68vw;
    position: absolute;
    top: 0.83vh;
    width: 2.45vw;
    color: #dac508;
  }
  
  .SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-aprobada {
    height: 4.17vh;
    left: 0.68vw;
    position: absolute;
    top: 0.83vh;
    width: 2.45vw;
    color: #08da08;
  }
  .SolicitudesServicioDetailPage-solicitudes .SolicitudesServicioDetailPage-estado-rechazada {
    height: 4.17vh;
    left: 0.68vw;
    position: absolute;
    top: 0.83vh;
    width: 2.45vw;
    color: #da2808;
  }

  .EditSolicitudServiciosButton-equipoInfo{
    cursor: pointer;
  }
