.RegisterEquipoModeloForm-box {
  height: 52.78vh; /* 463px */
  width: 78.8vw; /* 788px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-registerequipomodelo {
  height: 52.78vh; /* 463px */
  left: 0;
  top: 0;
  width: 79.8vw; /* 798px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-overlap-group {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 52.78vh; /* 463px */
  border-radius: 10px;
  position: relative;
  width: 78.8vw; /* 788px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-overlap {
  background-color: #d9d9d9d9;
  border-radius: 10px;
  height: 12.22vh; /* 110px */
  left: 0;
  position: absolute;
  top: 0;
  width: 78.8vw; /* 788px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3.6vh;
  font-weight: 400;
  left: 2.8vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.9vh;
  width: 73.5vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-container-separator {
  background-color: #d9d9d9d9;
  height: 28vh;
  left: 39.4vw;
  position: absolute;
  top: 12.4vh;
  width: 0.2vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-nombre-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 2.9vw; /* 29px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13.4vh; /* 134px */
  width: 35.7vw; /* 357px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-nombre-input {
  height: 3.3vh; /* 33px */
  left: 5.8vw; /* 58px */
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 16.4vh; /* 164px */
  border-radius: 10px;
  width: 31vw; /* 310px */
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-precio-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 2.9vw; /* 29px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21vh; /* 210px */
  width: 35.7vw; /* 357px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-precio-input {
  height: 3.3vh; /* 33px */
  left: 5.8vw; /* 58px */
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 23.4vh; /* 234px */
  width: 31vw; /* 310px */
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-marca-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 2.9vw; /* 29px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 28vh; /* 280px */
  width: 35.7vw; /* 357px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-marca-input {
  height: 3.3vh; /* 33px */
  left: 5.8vw; /* 58px */
  position: absolute;
  background-color: #d9d9d9d9;
  box-shadow: none;
  border-radius: 10px;
  outline: none;
  border: none;
  top: 29.8vh; /* 298px */
  width: 31vw; /* 310px */
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results {
  height: 6.2vh; /* 62px */
  width: 31vw; /* 310px */
  position: absolute;
  top: 33.4vh; /* 334px */
  left: 5.8vw; /* 58px */
  list-style: none;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar {
  width: 5px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-item {
  height: 2vh; /* 20px */
  font-size: 1.6vh;
  width: 29vw; /* 290px */
  background-color: #53789587;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.2vh; /* 2px */
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-clase-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 40.7vw; /* 407px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13.4vh; /* 134px */
  width: 35.7vw; /* 357px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-clase-input {
  height: 3.3vh; /* 33px */
  left: 43.6vw; /* 436px */
  position: absolute;
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 10px;
  top: 16.4vh; /* 164px */
  width: 31vw; /* 310px */
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results {
  height: 6.2vh; /* 62px */
  width: 31vw; /* 310px */
  position: absolute;
  top: 20.5vh; /* 205px */
  left: 43.6vw; /* 436px */
  list-style: none;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar {
  width: 5px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-item {
  height: 2vh; /* 20px */
  font-size: 1.6vh;
  width: 29vw; /* 290px */
  background-color: #53789587;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.2vh; /* 2px */
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-preventivo-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 40.7vw; /* 407px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 27vh; /* 270px */
  width: 35.7vw; /* 357px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-preventivo-input {
  height: 3.3vh; /* 33px */
  left: 43.6vw; /* 436px */
  position: absolute;
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 10px;
  top: 29vh; /* 290px */
  width: 31vw; /* 310px */
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results {
  height: 6.2vh; /* 62px */
  width: 31vw; /* 310px */
  position: absolute;
  top: 33vh; /* 330px */
  left: 43.6vw; /* 436px */
  list-style: none;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar {
  width: 5px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-item {
  height: 2vh; /* 20px */
  font-size: 1.6vh;
  width: 29vw; /* 290px */
  background-color: #53789587;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.2vh; /* 2px */
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-canelar {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.4vh;
  left: 26vw;
  position: absolute;
  top: 42.1vh;
  width: 11.4vw;
  cursor: pointer;
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-registrar {
  background-color: #00ddfa;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.4vh;
  left: 41.7vw;
  position: absolute;
  top: 42.1vh;
  width: 11.4vw;
  cursor: pointer;
  font-size: 1.6vh;
}
