.RegisterEquipoModeloForm-box {
  height: 52.78vh; /* 463px */
  width: 78.8vw; /* 788px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-registerequipomodelo {
  height: 52.78vh; /* 463px */
  left: 0;
  top: 0;
  width: 79.8vw; /* 798px */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-overlap-group {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 55.78vh;
  border-radius: 10px;
  position: relative;
  width: 78.8vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-overlap {
  background-color: #d9d9d9d9;
  border-radius: 10px;
  height: 12.22vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 78.8vw;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 54vw;
  text-align: center;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-container-separator {
  background-color: #d9d9d9d9;
  height: 28vh;
  left: 39.4vw;
  position: absolute;
  top: 12.4vh;
  width: 0.2vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-nombre-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 2.9vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13.4vh;
  width: 35.7vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-nombre-input {
  height: 3.3vh;
  left: 5.8vw;
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 17.4vh;
  border-radius: 10px;
  width: 31vw;
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-precio-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 2.9vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21vh;
  width: 35.7vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-precio-input {
  height: 3.3vh;
  left: 5.8vw;
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 25.4vh;
  width: 31vw;
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-marca-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.5vh;
  font-weight: 400;
  left: 2.9vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 36.7vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-marca-input {
  height: 3.3vh;
  left: 5.8vw;
  position: absolute;
  background-color: #d9d9d9d9;
  box-shadow: none;
  border-radius: 10px;
  outline: none;
  border: none;
  top: 33.8vh;
  width: 31vw;
  font-size: 1.6vh;

}.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-marca-input {
  height: 3.3vh;
  left: 5.8vw;
  position: absolute;
  background-color: #d9d9d9d9;
  box-shadow: none;
  border-radius: 10px;
  outline: none;
  border: none;
  top: 33.8vh;
  width: 31vw;
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results {
    height: 6.5vh;
    width: 31vw;
    position: absolute;
    top: 38.4vh;
    left: 5.8vw;
    list-style: none;
    overflow-y: auto;
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar {
  width: 5px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-marca-item {
  height: auto;
  font-size: 1.6vh;
  width: 29vw;
  background-color: #53789587;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.2vh;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  display: inline-block;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-clase-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 40.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13.4vh;
  width: 35.7vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-clase-input {
  height: 3.3vh;
  left: 43.6vw;
  position: absolute;
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 10px;
  top: 18.4vh;
  width: 31vw;
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results {
  height: 6.2vh;
  width: 32vw;
  position: absolute;
  top: 22.5vh;
  left: 43.6vw;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar {
  width: 5px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-clase-item {
  height: auto;
  font-size: 1.6vh;
  width: 30vw;
  background-color: #53789587;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.2vh;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  display: inline-block;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-preventivo-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  left: 38.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30vh;
  width: 39.7vw;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-preventivo-input {
  height: 3.3vh;
  left: 43.6vw;
  position: absolute;
  background-color: #d9d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 10px;
  top: 34vh;
  width: 31vw;
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results {
  height: 6.5vh;
  width: 31vw;
  position: absolute;
  top: 38vh;
  left: 43.6vw;
  list-style: none;
  overflow-y: auto;
}
/* Estiliza la barra de desplazamiento en su totalidad */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar {
  width: 5px; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-search-preventivo-item {
  height: auto;
  font-size: 1.6vh;
  width: 29vw;
  background-color: #53789587;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.2vh;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  display: inline-block;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-canelar {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.4vh;
  left: 24vw;
  position: absolute;
  top: 50.1vh;
  width: 14.4vw;
  cursor: pointer;
  font-size: 1.6vh;
}

.RegisterEquipoModeloForm-box .RegisterEquipoModeloForm-modelo-registrar {
  background-color: #00ddfa;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.4vh;
  left: 41.7vw;
  position: absolute;
  top: 50.1vh;
  width: 14.4vw;
  cursor: pointer;
  font-size: 1.6vh;
}