.EditEquipoButton-box {
  height: 59.89vh; /* 531px */
  width: 73.2vw; /* 732px */
}

.EditEquipoButton-box .EditEquipoButton-form {
  height: 59.89vh; /* 531px */
  left: 0;
  top: 0;
  width: 75.2vw; /* 752px */
}

.EditEquipoButton-box .EditEquipoButton-overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 67.13vh; /* 602px */
  position: relative;
  width: 73.2vw; /* 732px */
}

.EditEquipoButton-box .EditEquipoButton-overlap {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 10.11vh; /* 91px */
  left: 0;
  position: absolute;
  top: 0;
  width: 73.2vw; /* 732px */
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3.6vh;
  font-weight: 400;
  left: 16.2vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.6vh;
  width: 40.9vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle {
  background-color: #00ddfa;
  height: 53.8vh; /* 477px */
  left: 36.2vw; /* 362px */
  position: absolute;
  top: 10.9vh; /* 109px */
  transform: rotate(180deg);
  width: 0.1vw; /* 1px */
}

.EditEquipoButton-box .EditEquipoButton-div {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  box-shadow: none;
  font-weight: 400;
  left: 5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12.1vh;
  width: 25.2vw;
}

.EditEquipoButton-box .EditEquipoButton-search-results-sede {
  animation-duration: 1.2s;
  animation-name: slidein;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 5vw;
  position: absolute;
  top: 17.5vh;
  height: 7.1vh;
  width: 29.6vw;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes slidein {

  from { opacity: 0;
  }

  to { opacity: 1;
  }
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoButton-box .EditEquipoButton-search-results-sede::-webkit-scrollbar {
  width: 1vw; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoButton-box .EditEquipoButton-search-results-sede::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoButton-box .EditEquipoButton-search-results-sede::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoButton-box .EditEquipoButton-search-results-sede::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

/* LOGICA BUSQUEDA MODELOS EQUIPOS */
.EditEquipoButton-box .EditEquipoButton-search-results-modelo {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 5vw;
  position: absolute;
  top: 32vh;
  height: 7.1vh;
  width: 29.6vw;
  overflow-y: auto;
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoButton-box .EditEquipoButton-search-results-modelo::-webkit-scrollbar {
  width: 1vw; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoButton-box .EditEquipoButton-search-results-modelo::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoButton-box .EditEquipoButton-search-results-modelo::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoButton-box .EditEquipoButton-search-results-modelo::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoButton-box .EditEquipoButton-search-item-modelo {
  display: inline-block;
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.3vh;
  height: auto;
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh;
  width: 28.5vw;
}

/* LOGICA BUSQUEDA AREAS EQUIPOS */
.EditEquipoButton-box .EditEquipoButton-search-results-areas {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 5vw;
  position: absolute;
  top: 47.5vh;
  height: 7.1vh;
  width: 29.6vw;
  overflow-y: auto;
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoButton-box .EditEquipoButton-search-results-areas::-webkit-scrollbar {
  width: 1vw; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoButton-box .EditEquipoButton-search-results-areas::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoButton-box .EditEquipoButton-search-results-areas::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoButton-box .EditEquipoButton-search-results-areas::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoButton-box .EditEquipoButton-search-item-areas {
  display: inline-block;
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.3vh;
  height: auto;
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh;
  width: 28.5vw;
}

/* LOGICA BUSQUEDA TIPOS EQUIPOS */
.EditEquipoButton-box .EditEquipoButton-search-results-tipos {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 39.7vw; /* 397px */
  position: absolute;
  top: 17.5vh; /* 175px */
  height: 6.5vh; /* 65px */
  width: 28.6vw; /* 286px */
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoButton-box .EditEquipoButton-search-results-tipos::-webkit-scrollbar {
  width: 1vw; /* Ajusta el ancho de la barra de desplazamiento */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoButton-box .EditEquipoButton-search-results-tipos::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoButton-box .EditEquipoButton-search-results-tipos::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoButton-box .EditEquipoButton-search-results-tipos::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoButton-box .EditEquipoButton-search-item-tipos {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh; /* Nuevo font-size */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.3vh; /* 3px */
  height: 2vh; /* 20px */
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh; /* 2px */
  width: 26.5vw; /* 265px */
}

.EditEquipoButton-box .EditEquipoButton-search-item-sede {
  animation-duration: 0.3s;
  animation-name: slide-right;
  display: inline-block;
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  height: auto;
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh;
  width: 28.5vw;
  
}

@keyframes slide-right {
  from {
    top: 100%;
    height: 0%;
   }
  50% {
      top: 0%;
      height: 0%;
    }
  
  to {
    height: 2.2vh;
    top: 0%;
  }
}



.EditEquipoButton-box .EditEquipoButton-search-item-sede:hover {
  background-color: #00ddfa;
  color: #f1f1f1;
}


.EditEquipoButton-box .EditEquipoButton-rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 14.6vh;
  width: 28.6vw;
  font-size: 1.6vh;
  text-align: center;
}

.EditEquipoButton-box .EditEquipoButton-p {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Nuevo font-size */
  font-weight: 400;
  left: 39.7vw; /* 397px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25.1vh; /* 251px */
  width: 25.2vw; /* 252px */
}

.EditEquipoButton-box .EditEquipoButton-rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 2.8vh; /* 28px */
  box-shadow: none;
  outline: none;
  border: none;
  left: 39.7vw; /* 397px */
  position: absolute;
  top: 27.2vh; /* 272px */
  width: 28.6vw; /* 286px */
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Nuevo font-size */
  font-weight: 400;
  left: 39.7vw; /* 397px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32.1vh; /* 321px */
  width: 25.2vw; /* 252px */
}

.EditEquipoButton-box .EditEquipoButton-rectangle-4 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh; /* 28px */
  left: 39.7vw; /* 397px */
  position: absolute;
  top: 35.8vh; /* 358px */
  width: 28.6vw; /* 286px */
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Nuevo font-size */
  font-weight: 400;
  left: 39.7vw; /* 397px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40.4vh; /* 404px */
  width: 28.6vw; /* 286px */
}

.EditEquipoButton-box .EditEquipoButton-rectangle-5 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh; /* 28px */
  left: 39.7vw; /* 397px */
  position: absolute;
  top: 44vh; /* 440px */
  width: 28.6vw; /* 286px */
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26.6vh;
  width: 28.6vw;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40.7vh;
  width: 28.6vw;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-6 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Nuevo font-size */
  font-weight: 400;
  left: 39.5vw; /* 395px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12.2vh; /* 122px */
}

.EditEquipoButton-box .EditEquipoButton-rectangle-6 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 29vh;
  width: 28.6vw;
  font-size: 1.6vh;
  text-align: center;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-7 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 43.5vh;
  width: 28.6vw;
  font-size: 1.6vh;
  text-align: center;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-8 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh; /* 28px */
  left: 39.5vw; /* 395px */
  position: absolute;
  top: 14.5vh; /* 145px */
  width: 28.6vw; /* 286px */
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-div-wrapper {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 3.6vh;
  left: 47.8vw;
  position: absolute;
  top: 58.8vh;
  cursor: pointer;
  width: 5.3vw;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-7 {
  /* color: #09203f; */
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  border-color: transparent;
  left: 0.5vw;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1vh;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-8 {
  background-color: transparent;
  border-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 0.7vw;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1vh;
}

.EditEquipoButton-box .EditEquipoButton-overlap-2 {
  background-color: #00ddfa;
  border-radius: 5px;
  cursor: pointer;
  height: 3.6vh;
  left: 55.2vw;
  position: absolute;
  top: 58.8vh;
  width: 6vw;
}

.EditEquipoButton-box .EditEquipoButton-activo-fijo-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Nuevo font-size */
  font-weight: 400;
  left: 39.7vw; /* 397px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 48.7vh; /* 487px */
  width: 28.6vw; /* 286px */
}

.EditEquipoButton-box .EditEquipoButton-activo-fijo-input {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 1.6vh; /* Nuevo font-size */
  height: 2.8vh; /* 28px */
  left: 39.7vw; /* 397px */
  position: absolute;
  top: 51.5vh; /* 515px */
  width: 28.6vw; /* 286px */
}

.EditEquipoButton-box .EditEquipoButton-mtto-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5.3vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56.4vh;
  width: 28.6vw;
}

.EditEquipoButton-box .EditEquipoButton-mtto-input {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 1.6vh;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 59.7vh;
  width: 28.6vw;
  text-align: center;
}

@media screen and (min-width: 500px) and (max-width:1025px) {

.EditEquipoButton-box .EditEquipoButton-text-wrapper {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 3.6vh;
    font-weight: 400;
    left: 8.2vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3.6vh;
    width: 56.9vw;
}

.EditEquipoButton-box .EditEquipoButton-div {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  box-shadow: none;
  font-weight: 400;
  left: 5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11.1vh;
  width: 31.2vw;
}


.EditEquipoButton-box .EditEquipoButton-text-wrapper-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25vh;
  width: 28.6vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-7 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 44.5vh;
  width: 28.6vw;
  font-size: 1.6vh;
  text-align: center;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-6 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 39.5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10.5vh;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-8 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 39.5vw;
  position: absolute;
  top: 14.5vh;
  width: 28.6vw;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-search-results-tipos {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 39.7vw;
  position: absolute;
  top: 17.5vh;
  height: 6.9vh;
  width: 28.6vw;
  overflow-y: auto;
}

.EditEquipoButton-box .EditEquipoButton-p {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 39.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25.1vh;
  width: 25.2vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 2.8vh;
  box-shadow: none;
  outline: none;
  border: none;
  left: 39.7vw;
  position: absolute;
  top: 29.2vh;
  width: 28.6vw;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 39.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32.1vh;
  width: 26.2vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-4 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 39.7vw;
  position: absolute;
  top: 36.8vh;
  width: 28.6vw;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 39.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40.4vh;
  width: 28.6vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-5 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 39.7vw;
  position: absolute;
  top: 46vh;
  width: 28.6vw;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-activo-fijo-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 39.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49.7vh;
  width: 28.6vw;
}

.EditEquipoButton-box .EditEquipoButton-activo-fijo-input {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 1.6vh;
  height: 2.8vh;
  left: 39.7vw;
  position: absolute;
  top: 54.5vh;
  width: 28.6vw;
}

.EditEquipoButton-box .EditEquipoButton-overlap-2 {
  background-color: #00ddfa;
  border-radius: 5px;
  cursor: pointer;
  height: 3.6vh;
  left: 55.2vw;
  position: absolute;
  top: 58.8vh;
  width: 15vw;
}

.EditEquipoButton-box .EditEquipoButton-div-wrapper {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 3.6vh;
  left: 39.8vw;
  position: absolute;
  top: 58.8vh;
  cursor: pointer;
  width: 13.3vw;
}
}

@media screen and (min-width: 200px) and (max-width:480px) {

  .EditEquipoButton-box .EditEquipoButton-overlap-group {
    background-color: #ffffff;
    border-radius: 10px;
    height: 72.13vh;
    position: relative;
    width: 84vw;
    overflow-x: hidden;
}

.EditEquipoButton-box .EditEquipoButton-overlap {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 10.11vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 84vw;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3vh;
  font-weight: 400;
  left: 16.2vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.6vh;
  width: 50.9vw;
}

.EditEquipoButton-box .EditEquipoButton-div {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  box-shadow: none;
  font-weight: 400;
  left: 11.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11.1vh;
  width: 59.2vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-2 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  text-align: center;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 4vw;
  position: absolute;
  top: 14.6vh;
  width: 76vw;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-search-results-sede {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 5vw;
  position: absolute;
  top: 18vh;
  height: 6.5vh;
  width: 77.6vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.EditEquipoButton-box .EditEquipoButton-search-item-sede {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.3vh;
  height: 2vh;
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh;
  width: 74.5vw;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25.6vh;
  width: 74.6vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-6 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 30vh;
  text-align: center;
  width: 73.6vw;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-search-results-modelo {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 5vw;
  position: absolute;
  top: 34vh;
  height: 6.5vh;
  width: 76.6vw;
  overflow-y: auto;
}

.EditEquipoButton-box .EditEquipoButton-search-item-modelo {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.3vh;
  height: 2vh;
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh;
  width: 73.5vw;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41.7vh;
  width: 72.6vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-7 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 46.5vh;
  width: 72.6vw;
  text-align: center;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-search-results-areas {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 5vw;
  position: absolute;
  top: 50.5vh;
  height: 6.5vh;
  width: 76.6vw;
  overflow-y: auto;
}

.EditEquipoButton-box .EditEquipoButton-search-item-areas {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.3vh;
  height: 2vh;
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh;
  width: 73.5vw;
}

.EditEquipoButton-box .EditEquipoButton-mtto-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5.3vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58.4vh;
  width: 72.6vw;
}

.EditEquipoButton-box .EditEquipoButton-mtto-input {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 1.6vh;
  height: 2.8vh;
  left: 5vw;
  position: absolute;
  top: 61.7vh;
  text-align: center;
  width: 71.6vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle {
  background-color: #00ddfa;
  height: 0.1vh;
  left: 4.2vw;
  position: absolute;
  top: 65.9vh;
  transform: rotate(180deg);
  width: 76.1vw;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-6 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 4.5vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 67.2vh;
  width: 83vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-8 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 5.5vw;
  position: absolute;
  top: 70.5vh;
  width: 70.6vw;
  text-align: center;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-search-results-tipos {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  left: 5.7vw;
  position: absolute;
  top: 73.5vh;
  height: 7.5vh;
  width: 71.6vw;
  overflow-y: auto;
}

.EditEquipoButton-box .EditEquipoButton-search-item-tipos {
  background-color: #53789587;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6vh;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border: none;
  top: 0.3vh;
  height: 2.vh;
  list-style: none;
  position: relative;
  margin-bottom: 0.2vh;
  width: 70.2vw;
}

.EditEquipoButton-box .EditEquipoButton-p {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 2.2vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 78.1vh;
  width: 84.2vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-3 {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 2.8vh;
  box-shadow: none;
  outline: none;
  border: none;
  left: 6.7vw;
  position: absolute;
  top: 81.2vh;
  width: 68.6vw;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5.8vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 85.1vh;
  width: 77.2vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-4 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 6.7vw;
  position: absolute;
  top: 89.8vh;
  width: 68.6vw;
  font-size: 1.6vh;
  text-align: center;
}

.EditEquipoButton-box .EditEquipoButton-text-wrapper-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 94.4vh;
  width: 72.6vw;
}

.EditEquipoButton-box .EditEquipoButton-rectangle-5 {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 2.8vh;
  left: 6.7vw;
  position: absolute;
  top: 99vh;
  width: 68.6vw;
  text-align: center;
  font-size: 1.6vh;
}

.EditEquipoButton-box .EditEquipoButton-activo-fijo-label {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 103.7vh;
  width: 63.6vw;
}

.EditEquipoButton-box .EditEquipoButton-activo-fijo-input {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 1.6vh;
  height: 2.8vh;
  left: 6.7vw;
  position: absolute;
  top: 106.5vh;
  width: 68.6vw;
  text-align: center;
}

.EditEquipoButton-box .EditEquipoButton-div-wrapper {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 3.6vh;
  left: 10.8vw;
  position: absolute;
  top: 110.5vh;
  cursor: pointer;
  width: 25.3vw;
}

.EditEquipoButton-box .EditEquipoButton-overlap-2 {
  background-color: #00ddfa;
  border-radius: 5px;
  cursor: pointer;
  height: 3.6vh;
  left: 42.2vw;
  position: absolute;
  top: 110.5vh;
  width: 28vw;
}
}