.EditAreaEquipoButton-box {
  height: 22.04vh; /* 238px / 1080px * 100 */
  width: 43.15vw; /* 466px / 1080px * 100 */
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-register-marca {
  height: 22.04vh; /* 238px / 1080px * 100 */
  left: 0;
  top: 0;
  width: 43.52vw; /* 470px / 1080px * 100 */
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-overlap-group {
  background-size: 100% 100%;
  box-shadow: none;
  background-color: #ffffff;
  outline: none;
  border: none;
  height: 22.04vh; /* 238px / 1080px * 100 */
  position: relative;
  width: 43.15vw; /* 466px / 1080px * 100 */
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-overlap {
  background-size: 100% 100%;
  background-color: #d9d9d9;
  height: 6.39vh; /* 69px / 1080px * 100 */
  color: #00ddfa;
  left: 0;
  position: absolute;
  top: 0;
  width: 43.15vw; /* 466px / 1080px * 100 */
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-register-marca-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2.5vh;
  font-weight: 400;
  left: 6.30vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2vh;
  width: 30.28vw;
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-register-marca-label {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.56vw; /* 6px / 1080px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8.43vh; /* 91px / 1080px * 100 */
  width: 41.94vw; /* 453px / 1080px * 100 */
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-register-marca-input {
  height: 3.33vh; /* 36px / 1080px * 100 */
  left: 5.56vw; /* 60px / 1080px * 100 */
  border-radius: 5px;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 13.33vh; /* 144px / 1080px * 100 */
  width: 31.94vw; /* 345px / 1080px * 100 */
  font-size: 1.5vh;
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-img {
  height: 3.33vh; /* 36px / 1080px * 100 */
  left: 21.76vw; /* 235px / 1080px * 100 */
  background-color: #00ddfa;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 17.50vh; /* 189px / 1080px * 100 */
  width: 7.31vw; /* 79px / 1080px * 100 */
  font-size: 1.3vh;
}

.EditAreaEquipoButton-box .EditAreaEquipoButton-cancelar-button {
  height: 3.33vh; /* 36px / 1080px * 100 */
  left: 13.43vw; /* 145px / 1080px * 100 */
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 17.50vh; /* 189px / 1080px * 100 */
  width: 7.31vw; /* 79px / 1080px * 100 */
  font-size: 1.3vh;
}
