.EditEquipoModeloButton-box {
  height: 46.3vh; /* Aproximadamente 463px */
  width: 78.8vh; /* Aproximadamente 788px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-registerequipomodelo {
  height: 46.3vh; /* Aproximadamente 463px */
  left: 0;
  top: 0;
  width: 79.8vh; /* Aproximadamente 798px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-overlap-group {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 46.3vh; /* Aproximadamente 463px */
  border-radius: 1vh; /* Aproximadamente 10px */
  position: relative;
  width: 78.8vh; /* Aproximadamente 788px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-ID {
  left: 2.8vh; /* Aproximadamente 28px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  color: #636b6f;
  text-align: center;
  top: 7vh; /* Aproximadamente 70px */
  width: 73.5vh; /* Aproximadamente 735px */
  font-size: 1.8vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-overlap {
  background-color: #d9d9d9;
  border-radius: 1vh; /* Aproximadamente 10px */
  height: 11vh; /* Aproximadamente 110px */
  left: 0;
  position: absolute;
  top: 0;
  width: 78.8vh; /* Aproximadamente 788px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-title {
  -webkit-text-stroke: 0.1vh #00ddfa33; /* Aproximadamente 1px */
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh; /* Aproximadamente 20px */
  font-weight: 400;
  left: 2.8vh; /* Aproximadamente 28px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.9vh; /* Aproximadamente 39px */
  width: 73.5vh; /* Aproximadamente 735px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-container-separator {
  background-color: #d9d9d9;
  height: 27vh; /* Aproximadamente 270px */
  left: 39.4vh; /* Aproximadamente 394px */
  position: absolute;
  top: 12.4vh; /* Aproximadamente 124px */
  width: 0.4vh; /* Aproximadamente 4px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-nombre-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  left: 2.9vh; /* Aproximadamente 29px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13.4vh; /* Aproximadamente 134px */
  width: 35.7vh; /* Aproximadamente 357px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-nombre-input {
  height: 3.3vh; /* Aproximadamente 33px */
  left: 5.8vh; /* Aproximadamente 58px */
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 16.4vh; /* Aproximadamente 164px */
  border-radius: 1vh; /* Aproximadamente 10px */
  width: 31vh; /* Aproximadamente 310px */
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-precio-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  left: 2.9vh; /* Aproximadamente 29px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21vh; /* Aproximadamente 210px */
  width: 35.7vh; /* Aproximadamente 357px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-precio-input {
  height: 3.3vh; /* Aproximadamente 33px */
  left: 5.8vh; /* Aproximadamente 58px */
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 1vh; /* Aproximadamente 10px */
  position: absolute;
  top: 23.4vh; /* Aproximadamente 234px */
  width: 31vh; /* Aproximadamente 310px */
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-marca-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  left: 2.9vh; /* Aproximadamente 29px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 28vh; /* Aproximadamente 280px */
  width: 35.7vh; /* Aproximadamente 357px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-marca-input {
  height: 3.3vh; /* Aproximadamente 33px */
  left: 5.8vh; /* Aproximadamente 58px */
  position: absolute;
  background-color: #d9d9d9;
  box-shadow: none;
  border-radius: 1vh; /* Aproximadamente 10px */
  outline: none;
  border: none;
  top: 29.8vh; /* Aproximadamente 298px */
  width: 31vh; /* Aproximadamente 310px */
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results {
  height: 6.2vh; /* Aproximadamente 62px */
  width: 31vh; /* Aproximadamente 310px */
  position: absolute;
  top: 33.4vh; /* Aproximadamente 334px */
  left: 5.8vh; /* Aproximadamente 58px */
  list-style: none;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar {
  width: 0.5vh; /* Aproximadamente 5px */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-item {
  height: 2vh; /* Aproximadamente 20px */
  font-size: 1.2vh; /* Aproximadamente 12px */
  width: 29vh; /* Aproximadamente 290px */
  background-color: #53789587;
  border-radius: 1vh; /* Aproximadamente 10px */
  text-align: center;
  margin-bottom: 0.2vh; /* Aproximadamente 2px */
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-clase-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  left: 40.7vh; /* Aproximadamente 407px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13.4vh; /* Aproximadamente 134px */
  width: 35.7vh; /* Aproximadamente 357px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-clase-input {
  height: 3.3vh; /* Aproximadamente 33px */
  left: 43.6vh; /* Aproximadamente 436px */
  position: absolute;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 1vh; /* Aproximadamente 10px */
  top: 16.4vh; /* Aproximadamente 164px */
  width: 31vh; /* Aproximadamente 310px */
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results {
  height: 6.2vh; /* Aproximadamente 62px */
  width: 31vh; /* Aproximadamente 310px */
  position: absolute;
  top: 20.5vh; /* Aproximadamente 205px */
  left: 43.6vh; /* Aproximadamente 436px */
  list-style: none;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar {
  width: 0.5vh; /* Aproximadamente 5px */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-item {
  height: 2vh; /* Aproximadamente 20px */
  font-size: 1.2vh; /* Aproximadamente 12px */
  width: 29vh; /* Aproximadamente 290px */
  background-color: #53789587;
  border-radius: 1vh; /* Aproximadamente 10px */
  text-align: center;
  margin-bottom: 0.2vh; /* Aproximadamente 2px */
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-preventivo-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  left: 40.7vh; /* Aproximadamente 407px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 27vh; /* Aproximadamente 270px */
  width: 35.7vh; /* Aproximadamente 357px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-preventivo-input {
  height: 3.3vh; /* Aproximadamente 33px */
  left: 43.6vh; /* Aproximadamente 436px */
  position: absolute;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 1vh; /* Aproximadamente 10px */
  top: 29vh; /* Aproximadamente 290px */
  width: 31vh; /* Aproximadamente 310px */
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results {
  height: 6.2vh; /* Aproximadamente 62px */
  width: 31vh; /* Aproximadamente 310px */
  position: absolute;
  top: 33vh; /* Aproximadamente 330px */
  left: 43.6vh; /* Aproximadamente 436px */
  list-style: none;
  overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar {
  width: 0.5vh; /* Aproximadamente 5px */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-item {
  height: 2vh; /* Aproximadamente 20px */
  font-size: 1.2vh; /* Aproximadamente 12px */
  width: 29vh; /* Aproximadamente 290px */
  background-color: #53789587;
  border-radius: 1vh; /* Aproximadamente 10px */
  text-align: center;
  margin-bottom: 0.2vh; /* Aproximadamente 2px */
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-canelar {
  background-color: #d9d9d9;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.4vh; /* Aproximadamente 44px */
  left: 26vh; /* Aproximadamente 260px */
  position: absolute;
  top: 40.1vh; /* Aproximadamente 401px */
  width: 11.4vh; /* Aproximadamente 114px */
  cursor: pointer;
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-registrar {
  background-color: #00ddfa;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.4vh; /* Aproximadamente 44px */
  left: 41.7vh; /* Aproximadamente 417px */
  position: absolute;
  top: 40.1vh; /* Aproximadamente 401px */
  width: 11.4vh; /* Aproximadamente 114px */
  cursor: pointer;
  font-size: 1.6vh;
}