.EditEquipoModeloButton-box {
  height: 46.3vh; /* Aproximadamente 463px */
  width: 78.8vw; /* Aproximadamente 788px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-registerequipomodelo {
  height: 46.3vh; /* Aproximadamente 463px */
  left: 0;
  top: 0;
  width: 79.8vw; /* Aproximadamente 798px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-overlap-group {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 46.3vh; /* Aproximadamente 463px */
  border-radius: 1vh; /* Aproximadamente 10px */
  position: relative;
  width: 78.8vw; /* Aproximadamente 788px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-ID {
  left: 2.8vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  color: #636b6f;
  text-align: center;
  top: 8vh;
  width: 73.5vw;
  font-size: 1.8vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-overlap {
  background-color: #d9d9d9;
  border-radius: 1vh; /* Aproximadamente 10px */
  height: 11vh; /* Aproximadamente 110px */
  left: 0;
  position: absolute;
  top: 0;
  width: 78.8vw; /* Aproximadamente 788px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-title {
  -webkit-text-stroke: 0.1vh #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 2.8vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.9vh;
  width: 67vw;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-container-separator {
  background-color: #d9d9d9;
  height: 27vh; /* Aproximadamente 270px */
  left: 39.4vw; /* Aproximadamente 394px */
  position: absolute;
  top: 12.4vh; /* Aproximadamente 124px */
  width: 0.4vw; /* Aproximadamente 4px */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-nombre-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh;
  font-weight: 400;
  left: 0.9vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12.4vh;
  width: 35.7vw;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-nombre-input {
  height: 3.3vh;
  left: 4.8vw;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 16.4vh;
  border-radius: 1vh;
  width: 31vw;
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-precio-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh;
  font-weight: 400;
  left: 0.9vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21vh;
  width: 35.7vw;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-precio-input {
  height: 3.3vh;
  left: 4.6vw;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 1vh;
  position: absolute;
  top: 24.4vh;
  width: 31vw;
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-marca-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh;
  font-weight: 400;
  left: 3vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 28vh;
  width: 32.7vw;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-marca-input {
  height: 3.3vh;
  left: 4.5vw;
  position: absolute;
  background-color: #d9d9d9;
  box-shadow: none;
  border-radius: 1vh;
  outline: none;
  border: none;
  top: 31.8vh;
  width: 31vw;
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results {
  height: 6.2vh;
  width: 32vw;
  position: absolute;
  top: 35.4vh;
  left: 4.4vw;
  list-style: none;
  overflow-y: auto;
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar {
  width: 0.5vh; /* Aproximadamente 5px */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-marca-item {
  height: auto;
  font-size: 1.2vh;
  width: 31vw;
  background-color: #53789587;
  border-radius: 1vh;
  text-align: center;
  margin-bottom: 0.2vh;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  display: inline-block;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-clase-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh;
  font-weight: 400;
  left: 40.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12.4vh;
  width: 35.7vw;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-clase-input {
  height: 3.3vh;
  left: 43.6vw;
  position: absolute;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 1vh;
  top: 16.4vh;
  width: 31vw;
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results {
  height: 6.2vh;
  width: 31vw;
  position: absolute;
  top: 20.5vh;
  left: 43.6vw;
  list-style: none;
  overflow-y: auto;
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar {
  width: 0.5vh; /* Aproximadamente 5px */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-clase-item {
  height: auto;
  font-size: 1.2vh;
  width: 29vw;
  background-color: #53789587;
  border-radius: 1vh;
  text-align: center;
  margin-bottom: 0.2vh;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  display: inline-block;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-preventivo-title {
  color: #1a1a1a;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh;
  font-weight: 400;
  left: 40.7vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 27vh;
  width: 35.7vw;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-preventivo-input {
  height: 3.3vh;
  left: 43.6vw;
  position: absolute;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 1vh;
  top: 31vh;
  width: 31vw;
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results {
  height: 6.2vh;
  width: 31vw;
  position: absolute;
  top: 35vh;
  left: 43.6vw;
  list-style: none;
  overflow-y: auto;
}

/* Estiliza la barra de desplazamiento en su totalidad */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar {
  width: 0.5vh; /* Aproximadamente 5px */
}

/* Estiliza el rastro de la barra de desplazamiento (la parte que "contiene" el pulgar) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Ajusta el color de fondo según prefieras */
}

/* Estiliza el pulgar de la barra de desplazamiento (la parte que se mueve) */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar-thumb {
  background: #888; /* Ajusta el color del pulgar de la barra de desplazamiento */
}

/* Estiliza el pulgar de la barra de desplazamiento al pasar el cursor */
.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-results::-webkit-scrollbar-thumb:hover {
  background: #555; /* Ajusta el color del pulgar cuando se hace hover */
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-search-preventivo-item {
  height: auto;
  font-size: 1.2vh;
  width: 29vw;
  background-color: #53789587;
  border-radius: 1vh;
  text-align: center;
  margin-bottom: 0.2vh;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  display: inline-block;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-canelar {
  background-color: #d9d9d9;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.4vh;
  left: 42vw;
  position: absolute;
  top: 42.1vh;
  width: auto;
  cursor: pointer;
  font-size: 1.6vh;
}

.EditEquipoModeloButton-box .EditEquipoModeloButton-modelo-registrar {
  background-color: #00ddfa;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  height: 3.4vh;
  left: 59.7vw;
  position: absolute;
  top: 42.1vh;
  width: auto;
  cursor: pointer;
  font-size: 1.6vh;
}
