.Clients-checkbox-input {
  cursor: url(http://k003.kiwi6.com/hotlink/vp054ir5gt/c1.png) 32 32, auto;
  cursor: -webkit-image-set(url(http://k003.kiwi6.com/hotlink/vp054ir5gt/c1.png) 1x,url(http://k003.kiwi6.com/hotlink/z6fy599487/c2.png) 2x) 32 32, auto;
}

.Clients-checkbox-input:active {
  cursor: url(http://k003.kiwi6.com/hotlink/3p6w4icbzt/c1a.png) 32 32, auto;
  cursor: -webkit-image-set( url(http://k003.kiwi6.com/hotlink/3p6w4icbzt/c1a.png) 1x, url(http://k003.kiwi6.com/hotlink/6ma7828al1/c2a.png) 2x ) 32 32, auto;
}

#DeleteClient-app-cover {
  position: absolute;
  top: 50%;
  right: 2vh; /* Aproximadamente 20px */
  left: 60vh; /* Aproximadamente 600px */
  width: 5vh; /* Aproximadamente 50px */
  height: 5vh; /* Aproximadamente 50px */
  margin: -60vh auto 0 auto; /* Aproximadamente -600px */
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0.8vh #feeeed; /* Aproximadamente 8px */
  overflow: hidden;
}

#DeleteClient-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
  margin: 0;
  opacity: 0;
  z-index: 3;
}

#DeleteClient-bin-icon {
  position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: -2.9vh auto 0 auto; /* Aproximadamente -29px */
    border-radius: 50%;
    z-index: 2;
}

#DeleteClient-lid {
  position: relative;
    width: 4.2vh; /* Aproximadamente 42px */
    height: 0.4vh; /* Aproximadamente 4px */
    left: 0.5vh; /* Aproximadamente 5px */
    border-radius: 0.4vh; /* Aproximadamente 4px */
    top: 1vh; /* Aproximadamente 10px */
}

#DeleteClient-lid:before {
  content: "";
  position: absolute;
  top: -0.4vh; /* Aproximadamente -4px */
  right: 0;
  left: 0;
  width: 1vh; /* Aproximadamente 10px */
  height: 0.6vh; /* Aproximadamente 6px */
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}

#DeleteClient-box {
  position: relative;
  height: 3.5vh; /* Aproximadamente 35px */
  width: 3.3vh; /* Aproximadamente 33px */
  margin-top: 1.2vh; /* Aproximadamente 12px */
  border-radius: 0 0 0.8vh 0.8vh; /* Aproximadamente 8px */
  left: 1vh; /* Aproximadamente 10px */
}

#DeleteClient-box-inner {
  position: absolute;
  top: 0.4vh; /* Aproximadamente 4px */
  width: 80%;
  height: 80%;
  left: 0.2vh; /* Aproximadamente 2px */
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 0.5vh 0.5vh; /* Aproximadamente 5px */
}

#DeleteClient-bin-lines {
  position: relative;
  top: 0.7vh; /* Aproximadamente 7px */
  margin: 0 auto;
}

#DeleteClient-bin-lines,
#DeleteClient-bin-lines:before,
#DeleteClient-bin-lines:after {
  width: 0.3vh; /* Aproximadamente 3px */
  height: 1.6vh; /* Aproximadamente 16px */
  border-radius: 0.4vh; /* Aproximadamente 4px */
}

#DeleteClient-bin-lines:before,
#DeleteClient-bin-lines:after {
  content: "";
  position: absolute;
}

#DeleteClient-bin-lines:before {
  left: -1vh; /* Aproximadamente 10px */
}

#DeleteClient-bin-lines:after {
  left: 1vh; /* Aproximadamente 10px */
}

#DeleteClient-layer {
  position: absolute;
  right: -2vh; /* Aproximadamente 20px */
  bottom: -2vh; /* Aproximadamente 20px */
  width: 0;
  height: 0;
  background-color: #00ddfa;
  border-radius: 50%;
  transition: 0.25s ease all;
  z-index: 1;
}

#DeleteClient-lid,
#DeleteClient-lid:before,
#DeleteClient-box,
#DeleteClient-bin-lines,
#DeleteClient-bin-lines:before,
#DeleteClient-bin-lines:after {
  background-color: #00ddfa;
  transition: 0.2s ease background-color;
}

#DeleteClient-checkbox-input:checked ~ #DeleteClient-bin-icon #DeleteClient-lid,
#DeleteClient-checkbox-input:checked ~ #DeleteClient-bin-icon #DeleteClient-lid:before,
#DeleteClient-checkbox-input:checked ~ #DeleteClient-bin-icon #DeleteClient-box,
#DeleteClient-checkbox-input:checked ~ #DeleteClient-bin-icon #DeleteClient-box-inner {
  background-color: #555555;
}

#DeleteClient-checkbox-input:checked ~ #DeleteClient-bin-icon #DeleteClient-bin-lines,
#DeleteClient-checkbox-input:checked ~ #DeleteClient-bin-icon #DeleteClient-bin-lines:before,
#DeleteClient-checkbox-input:checked ~ #DeleteClient-bin-icon #DeleteClient-bin-lines:after {
  background-color: #ffffff;
}

#DeleteClient-checkbox-input:checked + #DeleteClient-bin-icon #DeleteClient-box {
  animation: shake 0.2s ease 0.1s;
}

#DeleteClient-checkbox-input:checked + #DeleteClient-bin-icon #DeleteClient-lid {
  animation: lift-up 0.8s ease 0.1s, shake_u 0.8s ease 0.1s,
    shake_l 0.2s ease 0.8s;
}

#DeleteClient-checkbox-input:checked ~ #DeleteClient-layer {
  width: 2.6vh; /* Aproximadamente 26px */
  height: 2.6vh; /* Aproximadamente 26px */
}

@keyframes shake {
  0% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes lift-up {
  0% {
    top: 0;
  }
  50% {
    top: -35px;
  }
  100% {
    top: 0;
  }
}

@keyframes shake_u {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes shake_l {
  0% {
    transform: rotateZ(0);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
