.RegisterPreventivoForm-box-1 {
  height: 85.7vh;
  width: 113.8vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-edit-preventivo {
  height: 85.7vh;
  left: 0;
  top: 0;
  width: 115vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-overlap {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 85.7vh;
  border-radius: 1vh;
  position: relative;
  width: 113.8vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-overlap-group {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  height: 18.4vh;
  border-radius: 1vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 113.8vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-preventivo-title {
  -webkit-text-stroke: 0.1vh #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 4vh;
  font-weight: 400;
  left: 1.3vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7vh;
  width: 110.7vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-preventivo-id {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  height: 4.8vh;
  left: 22.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11.2vh;
  width: 69.2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-title-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 1.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26.3vh;
  width: 54.3vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-title-input {
  height: 4.9vh;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border-radius: 0.5vh;
  border: none;
  left: 2.9vh;
  position: absolute;
  top: 30.1vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-codigo-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 1.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 38.5vh;
  width: 54.3vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-codigo-input {
  height: 4.9vh;
  left: 2.9vh;
  background-color: #d9d9d9;
  box-shadow: none;
  border-radius: 0.5vh;
  outline: none;
  border: none;
  position: absolute;
  top: 42.3vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-version-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 1.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50.7vh;
  width: 54.3vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-version-input {
  height: 4.9vh;
  left: 2.9vh;
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border-radius: 0.5vh;
  border: none;
  position: absolute;
  top: 54.5vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-date-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 1.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 62.9vh;
  width: 54.3vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-date-input {
  height: 4.9vh;
  left: 2.9vh;
  background-color: #d9d9d9;
  box-shadow: none;
  border-radius: 0.5vh;
  outline: none;
  border: none;
  position: absolute;
  top: 66.7vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-separator {
  background-color: #636b6f61;
  height: 63.6vh;
  left: 56.8vh;
  position: absolute;
  top: 20.3vh;
  transform: rotate(180deg);
  width: 0.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-div {
  background-color: transparent;
  height: 59.3vh;
  left: 57vh;
  position: absolute;
  top: 25.3vh;
  width: 56.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-space {
  height: 20vh;
  left: 1.6vh;
  position: relative;
  top: 1.1vh;
  width: 52.5vh;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */
  &::-webkit-scrollbar {
    width: 0.5vh;
  }
  &::-webkit-scrollbar-track {
    background-color: #636b6f61;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #636b6f61;
    border-radius: 0.5vh;
  }
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativos-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.7vh;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 48.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-x-wrapper {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.9vh;
  left: 0;
  position: relative;
  margin-bottom: 0.5vh;
  top: 1.5vh;
  width: 50.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-x {
  height: 2vh;
  left: 47.4vh;
  position: relative;
  cursor: pointer;
  top: -2.3vh;
  color: #00ddfa;
  width: 2.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-selected {
  height: 4.9vh;
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
  top: 1vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-result {
  height: 4.9vh;
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 0.5vh;
  position: relative;
  cursor: pointer;
  top: 3vh;
  margin-bottom: 1.6vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo {
  height: 6.8vh;
  left: 0;
  position: relative;
  top: 2vh;
  width: 50.3vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-search {
  height: 4.9vh;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.9vh;
  width: 16.3vh;
}

/* MANTENIMIENTO STYLES */
.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-space {
  height: 20vh;
  left: 1.6vh;
  position: relative;
  top: 7.5vh;
  width: 52.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.7vh;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 48.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-x-wrapper {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.9vh;
  left: 0;
  position: relative;
  margin-bottom: 0.5vh;
  top: 1.5vh;
  width: 50.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-x {
  height: 2vh;
  left: 47.4vh;
  position: relative;
  top: -2.3vh;
  cursor: pointer;
  color: #00ddfa;
  width: 2.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-selected {
  height: 4.9vh;
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
  top: 1vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-result {
  height: 4.9vh;
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 0.5vh;
  position: relative;
  cursor: pointer;
  top: 3vh;
  margin-bottom: 1.6vh;
  width: 50.5vh;
  font-size: 2vh;
}

/* CUANTITATIVOS STYLES */

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.7vh;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 48.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-space {
  height: 22vh;
  left: 1.6vh;
  position: relative;
  top: 15vh;
  width: 52.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */
}

.RegisterPreventivoForm-separator2 {
  height: 0.1vh;
  left: 4.5vh;
  background-color: #636b6f61;
  object-fit: cover;
  position: relative;
  top: 11.5vh;
  width: 45vh;
}

.RegisterPreventivoForm-separator3 {
  height: 0.1vh;
  left: 4.5vh;
  background-color: #636b6f61;
  object-fit: cover;
  position: relative;
  top: 18.5vh;
  width: 45vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-img {
  height: 4.9vh;
  left: 17.1vh;
  background-color: #d9d9d9;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.9vh;
  width: 8.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-search-2 {
  height: 4.9vh;
  left: 26.4vh;
  background-color: #d9d9d9;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.9vh;
  width: 8.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-search-3 {
  height: 4.9vh;
  left: 35.7vh;
  background-color: #d9d9d9;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.9vh;
  width: 8.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-x-2 {
  height: 2vh;
  left: 46.5vh;
  cursor: pointer;
  position: absolute;
  color: #00ddfa;
  top: 3.3vh;
  width: 2.1vh;
}

/* OTROS STYLES */
.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-space {
  height: 20vh;
  left: 1.6vh;
  position: relative;
  top: 22vh;
  width: 52.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.7vh;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 48.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-x-wrapper {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.9vh;
  left: 0;
  position: relative;
  margin-bottom: 0.5vh;
  top: 1.5vh;
  width: 50.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-x {
  height: 2vh;
  left: 47.4vh;
  position: relative;
  top: -2.3vh;
  color: #00ddfa;
  cursor: pointer;
  width: 2.1vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-selected {
  height: 4.9vh;
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
  top: 1vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-result {
  height: 4.9vh;
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 0.5vh;
  position: relative;
  cursor: pointer;
  top: 3vh;
  margin-bottom: 1.6vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-text-wrapper {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.4vh;
  left: 17.1vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 8.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-text-wrapper-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.4vh;
  left: 3.9vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 8.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-text-wrapper-3 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.4vh;
  left: 26.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 8.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-unidad {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.4vh;
  left: 35.7vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 8.5vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-selected-2 {
  height: 4.9vh;
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  box-shadow: none;
  outline: none;
  border-radius: 0.5vh;
  border: none;
  position: relative;
  top: 3vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-result-2 {
  height: 4.9vh;
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 0.5vh;
  position: relative;
  top: 5vh;
  cursor: pointer;
  margin-bottom: 1.6vh;
  width: 50.5vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-update-cancelar {
  height: 6.9vh;
  left: 5.5vh;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border-radius: 0.5vh;
  border: none;
  cursor: pointer;
  background-color: #d9d9d9;
  position: absolute;
  top: 76.9vh;
  width: 19.6vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-actualizar-button {
  height: 6.9vh;
  left: 31.2vh;
  border-radius: 0.5vh;
  box-shadow: none;
  outline: none;
  border-radius: 0.5vh;
  cursor: pointer;
  border: none;
  background-color: #00ddfa;
  position: absolute;
  top: 76.9vh;
  width: 19.6vh;
  font-size: 2vh;
}

.RegisterPreventivoForm-separator {
  height: 0.1vh;
  left: 4.5vh;
  background-color: #636b6f61;
  object-fit: cover;
  position: relative;
  top: 4.5vh;
  width: 45vh;
}