.RegisterPreventivoForm-box-1 {
  height: 79.35vh; /* 857px */
  width: 59.27vw; /* 1138px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-edit-preventivo {
  height: 79.35vh; /* 857px */
  left: 0;
  top: 0;
  width: 59.90vw; /* 1150px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-overlap {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 79.35vh; /* 857px */
  border-radius: 10px;
  position: relative;
  width: 59.27vw; /* 1138px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-overlap-group {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  height: 17.04vh; /* 184px */
  border-radius: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 59.27vw; /* 1138px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-preventivo-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 4vh;
  font-weight: 400;
  left: 0.68vw; /* 13px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.48vh; /* 70px */
  width: 57.52vw; /* 1107px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-preventivo-id {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  height: 4.44vh; /* 48px */
  left: 11.67vw; /* 224px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.37vh; /* 112px */
  width: 36.04vw; /* 692px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-title-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.73vw; /* 14px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24.35vh; /* 263px */
  width: 28.28vw; /* 543px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-title-input {
  height: 4.54vh; /* 49px */
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border: none;
  left: 1.51vw; /* 29px */
  position: absolute;
  top: 27.38vh; /* 301px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-codigo-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.73vw; /* 14px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35.65vh; /* 385px */
  width: 28.28vw; /* 543px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-codigo-input {
  height: 4.54vh; /* 49px */
  left: 1.51vw; /* 29px */
  background-color: #d9d9d9;
  box-shadow: none;
  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  top: 39.17vh; /* 423px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-version-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.73vw; /* 14px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47.04vh; /* 507px */
  width: 28.28vw; /* 543px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-version-input {
  height: 4.54vh; /* 49px */
  left: 1.51vw; /* 29px */
  background-color: #d9d9d9;
  box-shadow: none;
  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  top: 50.46vh; /* 545px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-date-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.73vw; /* 14px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58.25vh; /* 629px */
  width: 28.28vw; /* 543px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-date-input {
  height: 4.54vh; /* 49px */
  left: 1.51vw; /* 29px */
  background-color: #d9d9d9;
  box-shadow: none;
  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  top: 61.67vh; /* 667px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-separator {
  background-color: #636b6f61;
  height: 58.89vh; /* 636px */
  left: 29.58vw; /* 568px */
  position: absolute;
  top: 18.80vh; /* 203px */
  transform: rotate(180deg);
  width: 0.05vw; /* 1px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-div {
  background-color: transparent;
  height: 54.91vh; /* 593px */
  left: 29.69vw; /* 570px */
  position: absolute;
  top: 23.43vh; /* 253px */
  width: 29.43vw; /* 565px */
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #636b6f61;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #636b6f61;
    border-radius: 5px;
  }
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-space {
  height: 18.52vh; /* 200px */
  left: 0.83vw; /* 16px */
  position: relative;
  top: 1.02vh; /* 11px */
  width: 27.34vw; /* 525px */
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #636b6f61;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #636b6f61;
    border-radius: 5px;
  }
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativos-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.36vw; /* 7px */
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 25.05vw; /* 481px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-x-wrapper {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.54vh; /* 49px */
  left: 0;
  position: relative;
  margin-bottom: 5px;
  top: 1.39vh; /* 15px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-x {
  height: 1.85vh; /* 20px */
  left: 24.69vw; /* 474px */
  position: relative;
  cursor: pointer;
  top: -2.13vh; /* -23px */
  color: #00ddfa;
  width: 1.09vw; /* 21px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-selected {
  height: 4.54vh; /* 49px */
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
  top: 0.93vh; /* 10px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-result {
  height: 4.54vh; /* 49px */
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  top: 2.78vh; /* 30px */
  margin-bottom: 16px;
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo {
  height: 6.30vh; /* 68px */
  left: 0;
  position: relative;
  top: 1.85vh; /* 20px */
  width: 26.20vw; /* 503px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-search {
  height: 4.54vh; /* 49px */
  left: 0;
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.76vh; /* 19px */
  width: 8.49vw; /* 163px */
  font-size: 1.6vh;
}

/* MANTENIMIENTO STYLES */
.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-space {
  height: 18.52vh; /* 200px */
  left: 0.83vw; /* 16px */
  position: relative;
  top: 6.94vh; /* 75px */
  width: 27.34vw; /* 525px */
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #636b6f61;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #636b6f61;
    border-radius: 5px;
  }
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.36vw; /* 7px */
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 25.05vw; /* 481px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-x-wrapper {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.54vh; /* 49px */
  left: 0;
  position: relative;
  margin-bottom: 5px;
  top: 1.39vh; /* 15px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-x {
  height: 1.85vh; /* 20px */
  left: 24.69vw; /* 474px */
  position: relative;
  top: -2.13vh; /* -23px */
  cursor: pointer;
  color: #00ddfa;
  width: 1.09vw; /* 21px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-selected {
  height: 4.54vh; /* 49px */
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
  top: 0.93vh; /* 10px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-mantenimiento-result {
  height: 4.54vh; /* 49px */
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  top: 2.78vh; /* 30px */
  margin-bottom: 16px;
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

/* CUANTITATIVOS STYLES */

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.36vw; /* 7px */
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 25.05vw; /* 481px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-space {
  height: 20.37vh; /* 220px */
  left: 0.83vw; /* 16px */
  position: relative;
  top: 13.89vh; /* 150px */
  width: 27.34vw; /* 525px */
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #636b6f61;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #636b6f61;
    border-radius: 5px;
  }
}

.RegisterPreventivoForm-separator2 {
  height: 0.09vh; /* 1px */
  left: 2.34vw; /* 45px */
  background-color: #636b6f61;
  object-fit: cover;
  position: relative;
  top: 10.65vh; /* 115px */
  width: 23.44vw; /* 450px */
}

.RegisterPreventivoForm-separator3 {
  height: 0.09vh; /* 1px */
  left: 2.34vw; /* 45px */
  background-color: #636b6f61;
  object-fit: cover;
  position: relative;
  top: 17.13vh; /* 185px */
  width: 23.44vw; /* 450px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-img {
  height: 4.54vh; /* 49px */
  left: 8.90vw; /* 171px */
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.76vh; /* 19px */
  width: 4.43vw; /* 85px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-search-2 {
  height: 4.54vh; /* 49px */
  left: 13.75vw; /* 264px */
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.76vh; /* 19px */
  width: 4.43vw; /* 85px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-search-3 {
  height: 4.54vh; /* 49px */
  left: 18.59vw; /* 357px */
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  text-align: center;
  position: absolute;
  top: 1.76vh; /* 19px */
  width: 4.43vw; /* 85px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-x-2 {
  height: 1.85vh; /* 20px */
  left: 24.74vw; /* 465px */
  cursor: pointer;
  position: absolute;
  color: #00ddfa;
  top: 3.06vh; /* 33px */
  width: 1.09vw; /* 21px */
}

/* OTROS STYLES */
.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-space {
  height: 18.52vh; /* 200px */
  left: 0.83vw; /* 16px */
  position: relative;
  top: 20.37vh; /* 220px */
  width: 27.34vw; /* 525px */
  overflow-y: scroll;
  overflow-x: hidden;
  /* Style the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #636b6f61 #636b6f61; /* Firefox */

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #636b6f61;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #636b6f61;
    border-radius: 5px;
  }
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 0.36vw; /* 7px */
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
  width: 25.05vw; /* 481px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-x-wrapper {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  height: 4.54vh; /* 49px */
  left: 0;
  position: relative;
  margin-bottom: 5px;
  top: 1.39vh; /* 15px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-x {
  height: 1.85vh; /* 20px */
  left: 24.69vw; /* 474px */
  position: relative;
  top: -2.13vh; /* -23px */
  color: #00ddfa;
  cursor: pointer;
  width: 1.09vw; /* 21px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-selected {
  height: 4.54vh; /* 49px */
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
  top: 0.93vh; /* 10px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-otros-result {
  height: 4.54vh; /* 49px */
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  top: 2.78vh; /* 30px */
  margin-bottom: 16px;
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-text-wrapper {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.30vh; /* 14px */
  left: 8.90vw; /* 171px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 4.43vw; /* 85px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-text-wrapper-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.30vh; /* 14px */
  left: 2.03vw; /* 39px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 4.43vw; /* 85px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-text-wrapper-3 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.30vh; /* 14px */
  left: 13.75vw; /* 264px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 4.43vw; /* 85px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-unidad {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  height: 1.30vh; /* 14px */
  left: 18.59vw; /* 357px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 4.43vw; /* 85px */
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cuantitativo-selected-2 {
  height: 4.54vh; /* 49px */
  left: 0;
  background-color: #d9d9d9;
  text-align: center;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border: none;
  position: relative;
  top: 2.78vh; /* 30px */
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-cualitativo-result-2 {
  height: 4.54vh; /* 49px */
  left: 0;
  list-style: none;
  background-color: #5378957e;
  border-radius: 5px;
  position: relative;
  top: 4.63vh; /* 50px */
  cursor: pointer;
  margin-bottom: 16px;
  width: 26.28vw; /* 505px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-update-cancelar {
  height: 6.39vh; /* 69px */
  left: 2.86vw; /* 55px */
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #d9d9d9;
  position: absolute;
  top: 71.57vh; /* 769px */
  width: 10.10vw; /* 196px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-box-1 .RegisterPreventivoForm-actualizar-button {
  height: 6.39vh; /* 69px */
  left: 15.67vw; /* 312px */
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #00ddfa;
  position: absolute;
  top: 71.57vh; /* 769px */
  width: 10.10vw; /* 196px */
  font-size: 1.6vh;
}

.RegisterPreventivoForm-separator {
  height: 0.09vh; /* 1px */
  left: 2.34vw; /* 45px */
  background-color: #636b6f61;
  object-fit: cover;
  position: relative;
  top: 4.17vh; /* 45px */
  width: 23.44vw; /* 450px */
}
