.register-sede {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.register-sede .div {
  background-color: #ffffff;
  background-size: 100% 100%;
  height: 802px;
  overflow: hidden;
  position: relative;
  width: 917px;
  border-radius: 10px;
}

.register-sede .header {
  background-color: transparent;
  height: 107px;
  left: 0;
  position: absolute;
  top: 0;
  width: 919px;
}

.register-sede .overlap-group {
  background-color: #d9d9d9;
  background-size: 100% 100%;
  height: 107px;
  position: relative;
  width: 917px;
  border-radius: 10px;
}

.register-sede .register-title {
  -webkit-text-stroke: 1px #00ddfa33;
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 181px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 553px;
}

.register-sede .client-section {
  height: 109px;
  left: 10px;
  position: absolute;
  top: 160px;
  width: 387px;
}

.register-sede .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 385px;
}

.register-sede .client-search {
  height: 36px;
  left: 21px;
  position: absolute;
  top: 28px;
  width: 364px;
  background-color: #d9d9d9;
  border: none; 
  border-radius: 10px;
}

.register-sede .client-selected-div {
  height: 85px;
  width: auto;
  position: relative;
  top: 68px;
  overflow-y: scroll;
    overflow-x: hidden;
    /* Style the scrollbar */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color:  #636b6f61 #636b6f61; /* Firefox */
  
    /* WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #636b6f61;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #636b6f61;
      border-radius: 5px;
    }
}

.register-sede .client-selected {
  height: auto;
  padding: 3px;
  font-size: 12px;
  text-align: center;
  left: 21px;
  position: relative;
  width: 326px;
  background-color: #7c7c7c;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  list-style: none;
}

.register-sede .name-section {
  height: 71px;
  left: 10px;
  position: absolute;
  top: 319px;
  width: 387px;
}

.register-sede .img {
  height: 36px;
  left: 21px;
  position: absolute;
  top: 35px;
  width: 364px;
  background-color: #d9d9d9;
  border: none; 
  border-radius: 10px;
}

.register-sede .address-section {
  height: 71px;
  left: 10px;
  position: absolute;
  top: 404px;
  width: 387px;
}

.register-sede .municipio-section {
  height: 121px;
  left: 10px;
  position: absolute;
  top: 491px;
  width: 387px;
}

.register-sede .img-2 {
  height: 36px;
  left: 21px;
  position: absolute;
  top: 85px;
  width: 364px;
  background-color: #7c7c7c;
  border: none; 
  border-radius: 10px;
}

.register-sede .ordenes-section {
  height: 121px;
  left: 497px;
  position: absolute;
  top: 266px;
  width: 387px;
}

.register-sede .preventivos-section {
  height: 121px;
  left: 497px;
  position: absolute;
  top: 415px;
  width: 387px;
}

.register-sede .correctivos-section {
  height: 121px;
  left: 497px;
  position: absolute;
  top: 564px;
  width: 387px;
}

.register-sede .sede-separator {
  background-color: #636b6f61;
  height: 599px;
  left: 458px;
  position: absolute;
  top: 126px;
  transform: rotate(180deg);
  width: 1px;
}

.register-sede .email-section {
  height: 71px;
  left: 10px;
  position: absolute;
  top: 647px;
  width: 387px;
}

.register-sede .telephone-section {
  height: 71px;
  left: 500px;
  position: absolute;
  top: 167px;
  width: 387px;
}

.register-sede .register-b {
  height: 43px;
  left: 500px;
  position: absolute;
  top: 741px;
  width: 192px;
  background-color: #00ddfa;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.register-sede .overlap {
  background-color: #00ddfa;
  background-size: 100% 100%;
  height: 43px;
  position: relative;
  width: 190px;
}

.register-sede .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 22px;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 145px;
}

.register-sede .cancel-b {
  height: 43px;
  left: 228px;
  position: absolute;
  top: 741px;
  width: 192px;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.register-sede .cancel-text-wrapper {
  /* background-image: url(./cancel-button.svg); */
  background-size: 100% 100%;
  height: 43px;
  position: relative;
  width: 190px;
}