 /* ACTIVIDAD STYLES */

 .CambiarRepuestoVer-box {
    height: 170px;
    width: 444px;
    margin: 10px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-actividad-group {
  height: 52px;
  left: 0;
  position: relative;
  top: 0;
  width: 445px;
  }
  

  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-actividad-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 13px;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 272px;
  }
  
 
  
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-view-2{
    height: 143px;
    position: absolute;
    width: 444px;
    top: 2px;
    left: 3px;
  }
  
 
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-cambio-view {
    height: 170px;
    left: -5px;
    position: relative;
    top: 5px;
    width: 447px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  

  .CambiarRepuestoVer-box .CambiarRepuestoVer-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 15px;
    left: 86px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 272px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-date-icon {
    color: #00ddfa;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 356px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-date-value {
    color: #7C7C7C;
    height: 31px;
    width: 61px;
    font-size: 10px;
    position: relative;
    top: 3px;
    left: 377px;
    text-align: center;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-select-repuestot {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 26px;
    left: 12px;
    border: none;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
    width: 186px;
  }

  .CambiarRepuestoVer-box .CambiarRepuestoVer-select-repuestoi {
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 11px;
    height: 30px;
    left: 12px;
    text-align: center;
    position: absolute;
    top: 58px;
    border: none;
    width: 181px;
  }


  .CambiarRepuestoVer-box .CambiarRepuestoVer-select-quantityt {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 26px;
    left: 12px;
    border: none;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 101px;
    width: 186px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-select-quantity-i {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 26px;
    left: 12px;
    position: absolute;
    top: 131px;
    border: none;
    width: 181px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-separator {
    height: 135px;
    left: 222px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 1px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-valor-unitariot {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 26px;
    left: 246px;
    letter-spacing: 0;
    border: none;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 186px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-valor-unitarioi {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 26px;
    left: 246px;
    position: absolute;
    border: none;
    top: 61px;
    width: 181px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-total-t {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 26px;
    left: 246px;
    letter-spacing: 0;
    border: none;
    line-height: normal;
    position: absolute;
    top: 99px;
    width: 186px;
  }
  
  .CambiarRepuestoVer-box .CambiarRepuestoVer-total-input {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 26px;
    left: 246px;
    border: none;
    position: absolute;
    top: 129px;
    width: 181px;
  }

  @media screen and (min-width: 300px) and (max-width: 699px ) {

    .CambiarRepuestoVer-box {
      height: 170px;
      width: 296px;
      margin: 10px;
  }

  .CambiarRepuestoVer-box .CambiarRepuestoVer-cambio-view {
    height: 270px;
    left: -5px;
    position: relative;
    top: 5px;
    width: 307px;
    background-color: #ffffff;
    border-radius: 10px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 15px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 272px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-select-repuestot {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 103px;
  border: none;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 186px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-select-repuestoi {
  background-color: #d9d9d9;
  border-radius: 10px;
  font-size: 11px;
  height: 30px;
  left: 74px;
  text-align: center;
  position: absolute;
  top: 58px;
  border: none;
  width: 181px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-select-quantityt {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 137px;
  border: none;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
  width: 186px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-select-quantity-i {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 26px;
  left: 74px;
  position: absolute;
  top: 120px;
  border: none;
  width: 181px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-valor-unitariot {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 125px;
  letter-spacing: 0;
  border: none;
  line-height: normal;
  position: absolute;
  top: 152px;
  width: 186px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-valor-unitarioi {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 26px;
  left: 75px;
  position: absolute;
  border: none;
  top: 170px;
  width: 181px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-total-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 26px;
  left: 148px;
  letter-spacing: 0;
  border: none;
  line-height: normal;
  position: absolute;
  top: 202px;
  width: 186px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-total-input {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 26px;
  left: 76px;
  border: none;
  position: absolute;
  top: 219px;
  width: 181px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-date-icon {
  color: #00ddfa;
  height: 17px;
  width: 20px;
  position: absolute;
  left: 266px;
  top: 2px;
}

.CambiarRepuestoVer-box .CambiarRepuestoVer-date-value {
  color: #7C7C7C;
  height: 31px;
  width: 61px;
  font-size: 10px;
  position: relative;
  top: 21px;
  left: 243px;
  text-align: center;
}

  }

  
  
  