.CambiarRepuestoRegistrar-actividad {
  height: 230px;
  width: 444px;
  margin: 10px;
}

.CambiarRepuestoRegistrar-actividad {
height: 222px;
position: relative;
width: 443px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-cambiar-repuesto {
height: 230px;
left: 0;
top: 0;
width: 444px;
background-color: #ffffff;
border-radius: 10px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-overlap-group {
/* background-image: url(./container.svg); */
background-size: 100% 100%;
height: 230px;
left: 0;
position: absolute;
top: 0;
width: 444px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-cambiar-repuestot {
color: #00ddfa;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 15px;
left: 83px;
letter-spacing: 0;
line-height: normal;
position: absolute;
text-align: center;
top: 1px;
width: 277px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-select-repuestot {
color: #000000;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 26px;
left: 12px;
letter-spacing: 0;
line-height: normal;
position: absolute;
border: none;
top: 33px;
width: 186px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-select-repuestoi {
background-color: #d9d9d9;
border-radius: 10px;
font-size: 10px;
height: 26px;
left: 12px;
text-align: center;
position: absolute;
top: 58px;
border: none;
width: 191px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-select-quantityt {
color: #000000;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 26px;
left: 12px;
border: none;
letter-spacing: 0;
line-height: normal;
position: absolute;
top: 101px;
width: 186px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-select-quantity-i {
background-color: #d9d9d9;
border-radius: 10px;
height: 26px;
left: 12px;
position: absolute;
top: 131px;
border: none;
width: 181px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-separator {
height: 135px;
left: 222px;
object-fit: cover;
position: absolute;
top: 28px;
width: 1px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-valor-unitariot {
color: #000000;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 26px;
left: 246px;
letter-spacing: 0;
border: none;
line-height: normal;
position: absolute;
top: 31px;
width: 186px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-valor-unitarioi {
background-color: #d9d9d9;
border-radius: 10px;
height: 26px;
left: 246px;
position: absolute;
border: none;
top: 61px;
width: 181px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-total-t {
color: #000000;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 26px;
left: 246px;
letter-spacing: 0;
border: none;
line-height: normal;
position: absolute;
top: 99px;
width: 186px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-total-input {
background-color: #d9d9d9;
border-radius: 10px;
height: 26px;
left: 246px;
border: none;
position: absolute;
top: 129px;
width: 181px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-overlap {
background-color: #00ddfa;
border-radius: 10px;
height: 33px;
left: 139px;
position: absolute;
top: 189px;
width: 165px;
color: #ffffff;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
text-align: center;
border: none;
cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 699px ) {

.CambiarRepuestoRegistrar-actividad {
height: 222px;
position: relative;
width: 300px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-cambiar-repuesto {
height: 350px;
left: 0;
top: 0;
width: 300px;
background-color: #ffffff;
border-radius: 10px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-overlap-group {
/* background-image: url(./container.svg); */
background-size: 100% 100%;
height: 253px;
left: 42px;
position: absolute;
top: 0;
width: 244px;
}


.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-cambiar-repuestot {
color: #00ddfa;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 15px;
left: -20px;
letter-spacing: 0;
line-height: normal;
position: absolute;
text-align: center;
top: 7px;
width: 277px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-select-quantity-i {
background-color: #d9d9d9;
border-radius: 10px;
height: 26px;
left: 12px;
position: absolute;
top: 125px;
border: none;
width: 192px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-valor-unitariot {
color: #000000;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 26px;
left: 14px;
letter-spacing: 0;
border: none;
line-height: normal;
position: absolute;
top: 172px;
width: 186px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-valor-unitarioi {
background-color: #d9d9d9;
border-radius: 10px;
height: 26px;
left: 12px;
position: absolute;
border: none;
top: 191px;
width: 192px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-total-t {
color: #000000;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
height: 26px;
left: 15px;
letter-spacing: 0;
border: none;
line-height: normal;
position: absolute;
top: 228px;
width: 186px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-total-input {
background-color: #d9d9d9;
border-radius: 10px;
height: 26px;
left: 13px;
border: none;
position: absolute;
top: 247px;
width: 192px;
}

.CambiarRepuestoRegistrar-actividad .CambiarRepuestoRegistrar-overlap {
background-color: #00ddfa;
border-radius: 10px;
height: 33px;
left: 65px;
position: absolute;
top: 308px;
width: 165px;
color: #ffffff;
font-family: "Inter-Regular", Helvetica;
font-size: 12px;
font-weight: 400;
text-align: center;
border: none;
cursor: pointer;
}

} 