.ImagenActividadRegistrar-box {
    height: 316px;
    width: 444px;
    margin: 10px;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-form{
    height: 0;
    width: 0;
}


.ImagenActividadRegistrar-box .ImagenActividadRegistrar-captura{
    height: 316px;
    width: 444px;
    position: relative;
  }

  .ImagenActividadRegistrar-box .ImagenActividadRegistrar-captura-group {
    height: 390px;
    position: absolute;
    width: 447px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .ImagenActividadRegistrar-box .ImagenActividadRegistrar-overlap-group-2 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 443px;
  }
  
  .ImagenActividadRegistrar-box .ImagenActividadRegistrar-captura-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 86px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 272px;
  }

  .ImagenActividadRegistrar-box .ImagenActividadRegistrar-observacion-t {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    left: 168px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 35px;
    white-space: nowrap;
    width: 107px;
  }
  
  .ImagenActividadRegistrar-box .ImagenActividadRegistrar-observacion-text {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 64px;
    left: 14px;
    border: none;
    text-align: center;
    position: absolute;
    top: 58px;
    width: 420px;
  }

  .ImagenActividadRegistrar-box .ImagenActividadRegistrar-image-input {
    height: 60px;
    left: 192px;
    position: absolute;
    top: 150px;
    width: 60px;
    cursor: pointer;
    color: #d9d9d9;
  }

  .ImagenActividadRegistrar-box .ImagenActividadRegistrar-crear-actividad {
    background-color: #00ddfa;
    border-radius: 10px;
    height: 33px;
    left: 141px;
    position: absolute;
    top: 340px;
    border: none;
    border-style: none;
    width: 165px;
    cursor: pointer;
  }
  

  /* STYLES VER */

  .ImagenActividadVer-box {
    height: 316px;
    width: 444px;
    margin: 10px;
}


.ImagenActividadVer-box .ImagenActividadVer-view{
  height: 316px;
  width: 444px;
  position: relative;
  top: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.ImagenActividadVer-box .ImagenActividadVer-title{
  color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 15px;
    left: 86px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 272px;
}


.ImagenActividadVer-box .ImagenActividadVer-observacion-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 168px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35px;
  white-space: nowrap;
  width: 107px;
}

.ImagenActividadVer-box .ImagenActividadVer-observacion-text {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 64px;
  left: 14px;
  border: none;
  text-align: center;
  position: absolute;
  top: 58px;
  width: 420px;
}

.ImagenActividadVer-box .ImagenActividadVer-date-icon {
  color: #00ddfa;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 356px;
}

.ImagenActividadVer-box .ImagenActividadVer-date-value {
  color: #7C7C7C;
  height: 31px;
  width: 61px;
  font-size: 10px;
  position: relative;
  top: 3px;
  left: 377px;
  text-align: center;
}


.ImagenActividadVer-box .ImagenActividadVer-img-value {
  width: 160px;
  height: 160px;
  top: 138px;
  left: 140px;
  position: absolute;
}

@media screen and (min-width: 300px) and (max-width: 699px ) {

  .ImagenActividadRegistrar-box {
    height: 316px;
    width: 290px;
    margin: 10px;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-captura {
  height: 316px;
  width: 290px;
  position: relative;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-captura-group {
  height: 390px;
  position: absolute;
  width: 289px;
  background-color: #ffffff;
  border-radius: 10px;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-observacion-text {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 64px;
  left: 14px;
  border: none;
  text-align: center;
  position: absolute;
  top: 58px;
  width: 261px;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-image-input {
  height: 60px;
  left: 115px;
  position: absolute;
  top: 192px;
  width: 60px;
  cursor: pointer;
  color: #d9d9d9;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-crear-actividad {
  background-color: #00ddfa;
  border-radius: 10px;
  height: 33px;
  left: 66px;
  position: absolute;
  top: 340px;
  border: none;
  border-style: none;
  width: 165px;
  cursor: pointer;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-captura-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 272px;
}

.ImagenActividadRegistrar-box .ImagenActividadRegistrar-observacion-t {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35px;
  white-space: nowrap;
  width: 107px;
}

}