.CampoDetailPage-box {
  height: 15.46vh; /* 167px */
  width: 19.48vw; /* 374px */
}

.CampoDetailPage-box .CampoDetailPage-campobyid-container {
  height: 15.46vh; /* 167px */
  left: 0;
  top: 0;
  width: 19.79vw; /* 380px */
}

.CampoDetailPage-box .CampoDetailPage-overlap-group {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 15.46vh; /* 167px */
  position: relative;
  width: 19.48vw; /* 374px */
}

.CampoDetailPage-box .CampoDetailPage-overlap {
  background-color: #ffffff;
  border-radius: 10px;
  height: 15.46vh; /* 167px */
  left: 0;
  position: absolute;
  top: 0;
  width: 5vw; /* 96px */
}

.CampoDetailPage-box .CampoDetailPage-icon {
  height: 8.89vh; /* 96px */
  left: 0.10vw; /* 2px */
  color: #00ddfa;
  position: absolute;
  top: 3.06vh; /* 33px */
  width: 4.74vw; /* 91px */
}

.CampoDetailPage-box .CampoDetailPage-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 5.36vw; /* 103px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.52vh; /* 38px */
  width: 13.75vw; /* 264px */
}

.CampoDetailPage-box .CampoDetailPage-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1vh;
  font-weight: 400;
  left: 5.36vw; /* 103px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8.33vh; /* 90px */
  width: 13.75vw; /* 264px */
}

.CampoDetailPage-box .CampoDetailPage-tipo {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.2vh;
  font-weight: 400;
  left: 5.36vw; /* 103px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.83vh; /* 117px */
  width: 13.75vw; /* 264px */

}

.CampoDetailPage-box .CampoDetailPage-edit-icon {
  height: 2.04vh; /* 22px */
  left: 15.99vw; /* 307px */
  color: #00ddfa;
  position: absolute;
  top: 0.28vh; /* 3px */
  width: 1.15vw; /* 22px */
}

.CampoDetailPage-box .CampoDetailPage-delete-icon {
  height: 2.04vh; /* 22px */
  left: 17.55vw; /* 337px */
  color: #00ddfa;
  position: absolute;
  top: 0.28vh; /* 3px */
  width: 1.15vw; /* 22px */
}
