.CampoDetailPage-box {
  height: 30.92vh; /* 334px */
  width: 38.96vw; /* 748px */
}

.CampoDetailPage-box .CampoDetailPage-campobyid-container {
  height: 30.92vh; /* 334px */
  left: 0;
  top: 0;
  width: 39.58vw; /* 760px */
}

.CampoDetailPage-box .CampoDetailPage-overlap-group {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 30.92vh; /* 334px */
  position: relative;
  width: 38.96vw; /* 748px */
}

.CampoDetailPage-box .CampoDetailPage-overlap {
  background-color: #ffffff;
  border-radius: 20px;
  height: 30.92vh; /* 334px */
  left: 0;
  position: absolute;
  top: 0;
  width: 10vw; /* 192px */
}

.CampoDetailPage-box .CampoDetailPage-icon {
  height: 17.78vh; /* 192px */
  left: 0.20vw; /* 4px */
  color: #00ddfa;
  position: absolute;
  top: 6.12vh; /* 66px */
  width: 9.48vw; /* 182px */
}

.CampoDetailPage-box .CampoDetailPage-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3.2vh;
  font-weight: 400;
  left: 10.72vw; /* 206px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7.04vh; /* 76px */
  width: 27.50vw; /* 528px */
}

.CampoDetailPage-box .CampoDetailPage-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 10.72vw; /* 206px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16.66vh; /* 180px */
  width: 27.50vw; /* 528px */
}

.CampoDetailPage-box .CampoDetailPage-tipo {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2.4vh;
  font-weight: 400;
  left: 10.72vw; /* 206px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21.66vh; /* 234px */
  width: 27.50vw; /* 528px */
}

.CampoDetailPage-box .CampoDetailPage-edit-icon {
  height: 4.08vh; /* 44px */
  left: 31.98vw; /* 614px */
  color: #00ddfa;
  position: absolute;
  top: 0.56vh; /* 6px */
  width: 2.30vw; /* 44px */
}

.CampoDetailPage-box .CampoDetailPage-delete-icon {
  height: 4.08vh; /* 44px */
  left: 35.10vw; /* 674px */
  color: #00ddfa;
  position: absolute;
  top: 0.56vh; /* 6px */
  width: 2.30vw; /* 44px */
}
