.EditCampoButton-box-1 {
  height: 76.2vh;
  width: 63.1vh;
}

.EditCampoButton-box-1 .EditCampoButton-group {
  height: 76.2vh;
  left: 0;
  top: 0;
  width: 63.9vh;
}

.EditCampoButton-box-1 .EditCampoButton-overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 76.2vh;
  position: relative;
  width: 63.1vh;
}

.EditCampoButton-box-1 .EditCampoButton-overlap {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 26.9vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 63.1vh;
}

.EditCampoButton-box-1 .EditCampoButton-campo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3.6vh;
  font-weight: 400;
  height: 18.6vh;
  left: 3.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.5vh;
  width: 57.4vh;
}

.EditCampoButton-box-1 .EditCampoButton-id-title {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3vh;
  font-weight: 400;
  height: 2.4vh;
  left: 3.4vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 17vh;
  white-space: nowrap;
  width: 57.4vh;
}

.EditCampoButton-box-1 .EditCampoButton-tipo-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  height: 3vh;
  left: 4.2vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34.6vh;
  width: 54.3vh;
}

.EditCampoButton-box-1 .EditCampoButton-tipo-input {
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  height: 4.3vh;
  left: 9.3vh;
  position: absolute;
  top: 39.9vh;
  width: 44.1vh;
  font-size: 2vh;
}

.EditCampoButton-box-1 .EditCampoButton-title-p {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  height: 3vh;
  left: 4.7vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 49.4vh;
  width: 54.3vh;
}

.EditCampoButton-box-1 .EditCampoButton-title-input {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 4.3vh;
  border: none;
  left: 9.8vh;
  position: absolute;
  top: 54.7vh;
  width: 44.1vh;
  font-size: 2vh;
}

.EditCampoButton-box-1 .EditCampoButton-cancelar {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 5.2vh;
  left: 13.4vh;
  border: none;
  position: absolute;
  top: 64.9vh;
  width: 16.4vh;
  font-size: 2vh;
}

.EditCampoButton-box-1 .EditCampoButton-actualizar {
  background-color: #00ddfa;
  border-radius: 10px;
  height: 5.2vh;
  left: 34.4vh;
  border: none;
  position: absolute;
  top: 64.9vh;
  width: 16.4vh;
  font-size: 2vh;
}