.AreaEquipoDetailPage-box {
  height: 19.44vh; /* 210px */
  width: 36.93vw; /* 709px */
  }
  
  .AreaEquipoDetailPage-box .AreaEquipoDetailPage-overlap-group-wrapper {
  height: 19.44vh; /* 210px */
  left: 0;
  top: 0;
  width: 37.14vw; /* 713px */
  }
  
  .AreaEquipoDetailPage-box .AreaEquipoDetailPage-overlap-group {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  position: relative;
  width: 36.93vw; /* 709px */
  }
  
  .AreaEquipoDetailPage-box .AreaEquipoDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  left: 0;
  position: absolute;
  top: 0;
  width: 12.92vw; /* 248px */
  }
  
  .AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-icon {
  height: 16.94vh; /* 183px */
  left: 0.94vw; /* 18px */
  color: #00ddfa;
  position: absolute;
  top: 1.30vh; /* 14px */
  width: 11.04vw; /* 212px */
  }
  
  .AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 2vh;
    font-weight: 400;
    left: 15.73vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5.74vh;
    width: 20.05vw;
    word-break: break-all;
}
  
.AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.5vh;
  font-weight: 400;
  left: 15.73vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.65vh;
  width: 19.74vw;
  word-break: break-word;
}
  
.AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-edit {
  height: 2.87vh;
  left: 28.67vw;
  color: #00ddfa;
  position: absolute;
  top: 1.30vh;
  width: 3.56vw;
}
  
  .AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-delete {
    height: 2.87vh;
    left: 32.5vw;
    position: absolute;
    color: #00ddfa;
    top: 1.30vh;
    width: 3.61vw;
}
  