.AreaEquipoDetailPage-box {
  height: 19.44vh; /* 210px / 1080px * 100 */
  width: 65.65vh; /* 709px / 1080px * 100 */
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-overlap-group-wrapper {
  height: 19.44vh;
  left: 0;
  top: 0;
  width: 65.93vh; /* 713px / 1080px * 100 */
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-overlap-group {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh;
  position: relative;
  width: 65.65vh;
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 22.96vh; /* 248px / 1080px * 100 */
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-icon {
  height: 16.94vh; /* 183px / 1080px * 100 */
  left: 1.67vh; /* 18px / 1080px * 100 */
  color: #00ddfa;
  position: absolute;
  top: 1.30vh; /* 14px / 1080px * 100 */
  width: 19.63vh; /* 212px / 1080px * 100 */
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh;
  font-weight: 400;
  left: 27.96vh; /* 302px / 1080px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5.74vh; /* 62px / 1080px * 100 */
  width: 35.65vh; /* 385px / 1080px * 100 */
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh;
  font-weight: 400;
  left: 27.96vh;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.65vh; /* 115px / 1080px * 100 */
  width: 35.09vh; /* 379px / 1080px * 100 */
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-edit {
  height: 2.87vh; /* 31px / 1080px * 100 */
  left: 56.30vh; /* 608px / 1080px * 100 */
  color: #00ddfa;
  position: absolute;
  top: 1.30vh;
  width: 2.78vh; /* 30px / 1080px * 100 */
}

.AreaEquipoDetailPage-box .AreaEquipoDetailPage-marcaequipo-delete {
  height: 2.87vh;
  left: 60.74vh; /* 656px / 1080px * 100 */
  position: absolute;
  color: #00ddfa;
  top: 1.30vh;
  width: 2.87vh;
}
