.ClaseEquipoDetailPage-box {
  height: 19.44vh; /* 210px */
  width: 36.93vw; /* 709px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-overlap-group-wrapper {
  height: 19.44vh; /* 210px */
  left: 0;
  top: 0;
  width: 37.14vw; /* 713px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-overlap-group {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  position: relative;
  width: 36.93vw; /* 709px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  left: 0;
  position: absolute;
  top: 0;
  width: 12.92vw; /* 248px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-icon {
  height: 16.94vh; /* 183px */
  left: 0.94vw; /* 18px */
  color: #00ddfa;
  position: absolute;
  top: 1.30vh; /* 14px */
  width: 11.04vw; /* 212px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3vh;
  font-weight: 400;
  left: 15.73vw; /* 302px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5.74vh; /* 62px */
  width: 20.05vw; /* 385px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.7vh;
  font-weight: 400;
  left: 15.73vw; /* 302px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.65vh; /* 115px */
  width: 19.74vw; /* 379px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-edit {
  height: 2.87vh; /* 31px */
  left: 31.67vw; /* 608px */
  color: #00ddfa;
  position: absolute;
  top: 1.30vh; /* 14px */
  width: 1.56vw; /* 30px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-delete {
  height: 2.87vh; /* 31px */
  left: 34.17vw; /* 656px */
  position: absolute;
  color: #00ddfa;
  top: 1.30vh; /* 14px */
  width: 1.61vw; /* 31px */
}
