.ClaseEquipoDetailPage-box {
  height: 19.44vh; /* 210px */
  width: 43.15vw; /* 466px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-overlap-group-wrapper {
  height: 19.44vh; /* 210px */
  left: 0;
  top: 0;
  width: 43.52vw; /* 470px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-overlap-group {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  position: relative;
  width: 43.15vw; /* 466px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 13.15vw;
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-icon {
  height: 16.94vh; /* 183px */
  left: 0.94vw; /* 18px */
  color: #00ddfa;
  position: absolute;
  top: 1.30vh; /* 14px */
  width: 11.04vw; /* 212px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3vh;
  font-weight: 400;
  left: 15.73vw; /* 302px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5.74vh; /* 62px */
  width: 20.05vw; /* 385px */
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.7vh;
  font-weight: 400;
  left: 15.73vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.65vh;
  width: 25.74vw;
  word-break: break-all;
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-edit {
  height: 2.87vh;
  left: 33.67vw;
  color: #00ddfa;
  position: absolute;
  top: 1.30vh;
  width: 3.56vw;
}

.ClaseEquipoDetailPage-box .ClaseEquipoDetailPage-marcaequipo-delete {
  height: 2.87vh;
  left: 38.17vw;
  position: absolute;
  color: #00ddfa;
  top: 1.30vh;
  width: 3.61vw;
}
