.EquipoModeloDetailPage-box {
  height: 42.87vh; /* 463px / 1080 * 100 */
  width: 36.93vw; /* 709px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-equipodetailpage {
  height: 42.87vh; /* 463px / 1080 * 100 */
  left: 0;
  top: 0;
  width: 37.86vw; /* 727px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-group {
  background-color: #537895d9;
  border-radius: 5px;
  height: 42.87vh; /* 463px / 1080 * 100 */
  position: relative;
  width: 36.93vw; /* 709px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 36.93vw; /* 709px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 14.32vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.3vh;
  width: 19.74vw;
  word-break: break-all;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-div {
  height: 4.35vh; /* 47px / 1080 * 100 */
  left: 20.21vw; /* 388px / 1920 * 100 */
  position: absolute;
  top: 11.67vh; /* 126px / 1080 * 100 */
  width: 12.34vw; /* 237px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 0.14vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4.4vh;
  width: 10.21vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-money {
  height: 3.24vh;
  left: -4vw;
  color: #636b6f;
  position: absolute;
  top: 3.56vh;
  width: 2.82vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-machine-learning-wrapper {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 12.92vw; /* 248px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-machine-learning {
  height: 16.94vh; /* 183px / 1080 * 100 */
  left: 0.94vw; /* 18px / 1920 * 100 */
  color: #636b6f;
  position: absolute;
  top: 1.3vh; /* 14px / 1080 * 100 */
  width: 11.04vw; /* 212px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 14.32vw; /* 275px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.39vh; /* 15px / 1080 * 100 */
  width: 20.05vw; /* 385px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-edit {
  height: 2.87vh;
  left: 34.4vw;
  color: #636b6f;
  position: absolute;
  cursor: pointer;
  top: 4vh;
  width: 2.56vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-delete {
  height: 2.87vh;
  left: 34.4vw;
  color: #636b6f;
  position: absolute;
  cursor: pointer;
  top: 1vh;
  width: 2.56vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-2 {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 1.56vw; /* 30px / 1920 * 100 */
  position: absolute;
  top: 21.3vh; /* 230px / 1080 * 100 */
  width: 15.89vw; /* 305px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-3 {
  height: 7.78vh; /* 84px / 1080 * 100 */
  left: 0.73vw; /* 14px / 1920 * 100 */
  position: absolute;
  top: 0.93vh; /* 10px / 1080 * 100 */
  width: 14.53vw; /* 279px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5.46vh;
  width: 14.53vw;
  word-break: break-all;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-3 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 1.3vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.13vh;
  width: 11.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-eye {
  height: 2.5vh;
  left: 6vw;
  position: absolute;
  color: #636b6f;
  top: -0.4vh;
  width: 3.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.2vh;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15.78vh;
  width: 14.76vw;
  word-break: break-all;
  text-align: center;
  padding-left: 1vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-billboard {
  height: 2.5vh;
  left: 6.11vw;
  color: #636b6f;
  position: absolute;
  top: 13.78vh;
  width: 3.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-4 {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 19.58vw; /* 376px / 1920 * 100 */
  position: absolute;
  top: 21.3vh; /* 230px / 1080 * 100 */
  width: 15.89vw; /* 305px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 0.83vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.57vh;
  width: 14.32vw;
  word-break: break-all;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-4 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  left: 2.39vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.15vh;
  width: 11.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-img {
  height: 2.5vh;
  left: 5.74vw;
  color: #636b6f;
  position: absolute;
  top: 13.78vh;
  width: 3.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-eye-2 {
  height: 2.5vh;
  left: 6.62vw;
  color: #636b6f;
  position: absolute;
  top: 0.5vh;
  width: 3.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1vh;
  font-weight: 400;
  /* left: -0.28vw; */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16vh;
  width: 15.76vw;
  text-align: center;
  padding: 0vh 0vw 0vh 0vw;
  word-break: break-all;
}

@media screen and (min-width:1400px) and (max-width: 4000px) {

  .EquipoModeloDetailPage-box .EquipoModeloDetailPage-billboard {
    height: 3.5vh;
    left: 5.5vw;
    color: #636b6f;
    position: absolute;
    top: 10.78vh;
    width: 4.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15.78vh;
  width: 14.76vw;
  word-break: break-all;
  text-align: center;
  padding-left: 1vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-img {
  height: 3.5vh;
  left: 6.3vw;
  color: #636b6f;
  position: absolute;
  top: 10.78vh;
  width: 3.35vw;
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh;
  font-weight: 400;
  /* left: -0.28vw; */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16vh;
  width: 15.76vw;
  text-align: center;
  padding: 0vh 0vw 0vh 0vw;
  word-break: break-all;
}


  
}