.EquipoModeloDetailPage-box {
  height: 42.87vh; /* 463px */
  width: 65.65vh; /* 709px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-equipodetailpage {
  height: 42.87vh; /* 463px */
  left: 0;
  top: 0;
  width: 67.31vh; /* 727px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-group {
  background-color: #537895d9;
  border-radius: 5px;
  height: 42.87vh; /* 463px */
  position: relative;
  width: 65.65vh; /* 709px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  left: 0;
  position: absolute;
  top: 0;
  width: 65.65vh; /* 709px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 25.46vh; /* 275px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.3vh; /* 68px */
  width: 35.09vh; /* 379px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-div {
  height: 4.35vh; /* 47px */
  left: 35.93vh; /* 388px */
  position: absolute;
  top: 11.67vh; /* 126px */
  width: 21.94vh; /* 237px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 3.8vh; /* 41px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1.3vh; /* 14px */
  width: 18.15vh; /* 196px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-money {
  height: 3.24vh; /* 35px */
  left: 0;
  color: #636b6f;
  position: absolute;
  top: 0.56vh; /* 6px */
  width: 3.24vh; /* 35px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-machine-learning-wrapper {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  left: 0;
  position: absolute;
  top: 0;
  width: 22.96vh; /* 248px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-machine-learning {
  height: 16.94vh; /* 183px */
  left: 1.67vh; /* 18px */
  color: #636b6f;
  position: absolute;
  top: 1.3vh; /* 14px */
  width: 19.63vh; /* 212px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 25.46vh; /* 275px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.39vh; /* 15px */
  width: 35.65vh; /* 385px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-edit {
  height: 2.87vh; /* 31px */
  left: 61.76vh; /* 667px */
  color: #636b6f;
  position: absolute;
  cursor: pointer;
  top: 1.3vh; /* 14px */
  width: 2.78vh; /* 30px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-delete {
  height: 2.87vh; /* 31px */
  left: 61.76vh; /* 667px */
  color: #636b6f;
  position: absolute;
  cursor: pointer;
  top: 5.56vh; /* 60px */
  width: 2.78vh; /* 30px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-2 {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  left: 2.78vh; /* 30px */
  position: absolute;
  top: 21.3vh; /* 230px */
  width: 28.24vh; /* 305px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-3 {
  height: 7.78vh; /* 84px */
  left: 1.3vh; /* 14px */
  position: absolute;
  top: 0.93vh; /* 10px */
  width: 25.83vh; /* 279px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5.46vh; /* 59px */
  width: 25.83vh; /* 279px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-3 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 2.31vh; /* 25px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.13vh; /* 23px */
  width: 20.19vh; /* 218px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-eye {
  height: 2.5vh; /* 27px */
  left: 0;
  position: absolute;
  color: #636b6f;
  top: 0;
  width: 2.41vh; /* 26px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 10.83vh; /* 117px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12.78vh; /* 138px */
  width: 13.8vh; /* 149px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-billboard {
  height: 2.5vh; /* 27px */
  left: 7.31vh; /* 79px */
  color: #636b6f;
  position: absolute;
  top: 12.78vh; /* 138px */
  width: 2.41vh; /* 26px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-4 {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px */
  left: 34.83vh; /* 376px */
  position: absolute;
  top: 21.3vh; /* 230px */
  width: 28.24vh; /* 305px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 1.48vh; /* 16px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.57vh; /* 71px */
  width: 25.46vh; /* 275px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-4 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 4.26vh; /* 46px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.15vh; /* 34px */
  width: 20.19vh; /* 218px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-img {
  height: 2.5vh; /* 27px */
  left: 8.43vh; /* 91px */
  color: #636b6f;
  position: absolute;
  top: 12.78vh; /* 138px */
  width: 2.41vh; /* 26px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-eye-2 {
  height: 2.5vh; /* 27px */
  left: 1.11vh; /* 12px */
  color: #636b6f;
  position: absolute;
  top: 1.02vh; /* 11px */
  width: 2.41vh; /* 26px */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 11.94vh; /* 129px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12.78vh; /* 138px */
  width: 13.8vh; /* 149px */
}
