.EquipoModeloDetailPage-box {
  height: 42.87vh; /* 463px / 1080 * 100 */
  width: 36.93vw; /* 709px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-equipodetailpage {
  height: 42.87vh; /* 463px / 1080 * 100 */
  left: 0;
  top: 0;
  width: 37.86vw; /* 727px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-group {
  background-color: #537895d9;
  border-radius: 5px;
  height: 42.87vh; /* 463px / 1080 * 100 */
  position: relative;
  width: 36.93vw; /* 709px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 36.93vw; /* 709px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 14.32vw; /* 275px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.3vh; /* 68px / 1080 * 100 */
  width: 19.74vw; /* 379px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-div {
  height: 4.35vh; /* 47px / 1080 * 100 */
  left: 20.21vw; /* 388px / 1920 * 100 */
  position: absolute;
  top: 11.67vh; /* 126px / 1080 * 100 */
  width: 12.34vw; /* 237px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 2.14vw; /* 41px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1.3vh; /* 14px / 1080 * 100 */
  width: 10.21vw; /* 196px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-money {
  height: 3.24vh; /* 35px / 1080 * 100 */
  left: 0;
  color: #636b6f;
  position: absolute;
  top: 0.56vh; /* 6px / 1080 * 100 */
  width: 1.82vw; /* 35px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-machine-learning-wrapper {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 12.92vw; /* 248px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-machine-learning {
  height: 16.94vh; /* 183px / 1080 * 100 */
  left: 0.94vw; /* 18px / 1920 * 100 */
  color: #636b6f;
  position: absolute;
  top: 1.3vh; /* 14px / 1080 * 100 */
  width: 11.04vw; /* 212px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-2 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 14.32vw; /* 275px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.39vh; /* 15px / 1080 * 100 */
  width: 20.05vw; /* 385px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-edit {
  height: 2.87vh; /* 31px / 1080 * 100 */
  left: 34.74vw; /* 667px / 1920 * 100 */
  color: #636b6f;
  position: absolute;
  cursor: pointer;
  top: 1.3vh; /* 14px / 1080 * 100 */
  width: 1.56vw; /* 30px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-delete {
  height: 2.87vh; /* 31px / 1080 * 100 */
  left: 34.74vw; /* 667px / 1920 * 100 */
  color: #636b6f;
  position: absolute;
  cursor: pointer;
  top: 5.56vh; /* 60px / 1080 * 100 */
  width: 1.56vw; /* 30px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-2 {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 1.56vw; /* 30px / 1920 * 100 */
  position: absolute;
  top: 21.3vh; /* 230px / 1080 * 100 */
  width: 15.89vw; /* 305px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-3 {
  height: 7.78vh; /* 84px / 1080 * 100 */
  left: 0.73vw; /* 14px / 1920 * 100 */
  position: absolute;
  top: 0.93vh; /* 10px / 1080 * 100 */
  width: 14.53vw; /* 279px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-2 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5.46vh; /* 59px / 1080 * 100 */
  width: 14.53vw; /* 279px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-3 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 1.3vw; /* 25px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2.13vh; /* 23px / 1080 * 100 */
  width: 11.35vw; /* 218px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-eye {
  height: 2.5vh; /* 27px / 1080 * 100 */
  left: 0;
  position: absolute;
  color: #636b6f;
  top: 0;
  width: 1.35vw; /* 26px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-3 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 6.1vw; /* 117px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12.78vh; /* 138px / 1080 * 100 */
  width: 7.76vw; /* 149px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-billboard {
  height: 2.5vh; /* 27px / 1080 * 100 */
  left: 4.11vw; /* 79px / 1920 * 100 */
  color: #636b6f;
  position: absolute;
  top: 12.78vh; /* 138px / 1080 * 100 */
  width: 1.35vw; /* 26px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-overlap-4 {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh; /* 210px / 1080 * 100 */
  left: 19.58vw; /* 376px / 1920 * 100 */
  position: absolute;
  top: 21.3vh; /* 230px / 1080 * 100 */
  width: 15.89vw; /* 305px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-4 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 0.83vw; /* 16px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.57vh; /* 71px / 1080 * 100 */
  width: 14.32vw; /* 275px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-text-wrapper-4 {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 2.39vw; /* 46px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.15vh; /* 34px / 1080 * 100 */
  width: 11.35vw; /* 218px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-img {
  height: 2.5vh; /* 27px / 1080 * 100 */
  left: 4.74vw; /* 91px / 1920 * 100 */
  color: #636b6f;
  position: absolute;
  top: 12.78vh; /* 138px / 1080 * 100 */
  width: 1.35vw; /* 26px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-eye-2 {
  height: 2.5vh; /* 27px / 1080 * 100 */
  left: 0.62vw; /* 12px / 1920 * 100 */
  color: #636b6f;
  position: absolute;
  top: 1.02vh; /* 11px / 1080 * 100 */
  width: 1.35vw; /* 26px / 1920 * 100 */
}

.EquipoModeloDetailPage-box .EquipoModeloDetailPage-client-id-5 {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.6vh; /* Añadido */
  font-weight: 400;
  left: 6.72vw; /* 129px / 1920 * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12.78vh; /* 138px / 1080 * 100 */
  width: 7.76vw; /* 149px / 1920 * 100 */
}
