.MarcaEquipoDetailPage-box {
  height: 19.44vh; /* 210px / 1080px * 100 */
  width: 36.93vw; /* 709px / 1920px * 100 */
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-overlap-group-wrapper {
  height: 19.44vh;
  left: 0;
  top: 0;
  width: 37.14vw; /* 713px / 1920px * 100 */
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-overlap-group {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh;
  position: relative;
  width: 36.93vw;
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 19.44vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 12.92vw; /* 248px / 1920px * 100 */
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-marcaequipo-icon {
  height: 16.94vh; /* 183px / 1080px * 100 */
  left: 0.94vw; /* 18px / 1920px * 100 */
  color: #00ddfa;
  position: absolute;
  top: 1.30vh; /* 14px / 1080px * 100 */
  width: 11.04vw; /* 212px / 1920px * 100 */
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-marcaequipo-title {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3vh;
  font-weight: 400;
  left: 14.73vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.74vh;
  width: 20.05vw;
  word-break: break-word;
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-marcaequipo-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.30vh;
  font-weight: 400;
  left: 14.73vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10.65vh;
  word-break: break-word;
  width: 19.74vw;
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-marcaequipo-edit {
  height: 2.87vh;
  left: 29.67vw;
  color: #00ddfa;
  position: absolute;
  top: 1.30vh;
  width: 3.56vw;
}

.MarcaEquipoDetailPage-box .MarcaEquipoDetailPage-marcaequipo-delete {
  height: 2.87vh;
  left: 33.17vw;
  position: absolute;
  color: #00ddfa;
  top: 1.30vh;
  width: 3.61vw;
}