.RepuestoEquipoDetailPage-box {
  height: 44.1vh; /* Aproximadamente 441px */
  width: 59.1vh; /* Aproximadamente 591px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestos-equipos {
  height: 44.1vh; /* Aproximadamente 441px */
  left: 0;
  top: 0;
  width: 61.5vh; /* Aproximadamente 615px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-group {
  background-color: #53789587;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  height: 44.1vh; /* Aproximadamente 441px */
  position: relative;
  width: 59.1vh; /* Aproximadamente 591px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  height: 10.4vh; /* Aproximadamente 104px */
  left: 0;
  position: absolute;
  top: 0;
  width: 59.1vh; /* Aproximadamente 591px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-div {
  height: 6.2vh; /* Aproximadamente 62px */
  left: 11.1vh; /* Aproximadamente 111px */
  position: absolute;
  top: 2.1vh; /* Aproximadamente 21px */
  width: 36.9vh; /* Aproximadamente 369px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo-name {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh; /* Aproximadamente 20px */
  font-weight: 400;
  left: -3.2vh; /* Aproximadamente -32px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 42.7vh; /* Aproximadamente 427px */
  height: 5vh; /* Aproximadamente 50px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.4vh; /* Aproximadamente 14px */
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.2vh; /* Aproximadamente 62px */
  width: 36.9vh; /* Aproximadamente 369px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-delete-icon-header {
  height: 3.2vh; /* Aproximadamente 32px */
  color: #00ddfa;
  left: 54.1vh; /* Aproximadamente 541px */
  position: absolute;
  top: 5.3vh; /* Aproximadamente 53px */
  width: 3.1vh; /* Aproximadamente 31px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-edit-icon-header {
  height: 3.2vh; /* Aproximadamente 32px */
  color: #00ddfa;
  left: 54.1vh; /* Aproximadamente 541px */
  position: absolute;
  top: 1.1vh; /* Aproximadamente 11px */
  width: 3.1vh; /* Aproximadamente 31px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-2 {
  background-color: #ffffffd9;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  background-size: 100% 100%;
  height: 29.5vh; /* Aproximadamente 295px */
  left: 0.9vh; /* Aproximadamente 9px */
  position: absolute;
  top: 12vh; /* Aproximadamente 120px */
  width: 32.4vh; /* Aproximadamente 324px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo {
  background-color: #636b6f61;
  height: 17.2vh; /* Aproximadamente 172px */
  left: 15.5vh; /* Aproximadamente 155px */
  position: absolute;
  top: 10.8vh; /* Aproximadamente 108px */
  transform: rotate(180deg);
  width: 0.1vh; /* Aproximadamente 1px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-name {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.8vh; /* Aproximadamente 18px */
  font-weight: 400;
  left: 0.9vh; /* Aproximadamente 9px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.4vh; /* Aproximadamente 14px */
  width: 30.6vh; /* Aproximadamente 306px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.1vh; /* Aproximadamente 11px */
  font-weight: 400;
  left: 1.2vh; /* Aproximadamente 12px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7.3vh; /* Aproximadamente 73px */
  width: 30vh; /* Aproximadamente 300px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-nit-icon {
  height: 4vh; /* Aproximadamente 40px */
  color: #00ddfa;
  left: 6.5vh; /* Aproximadamente 65px */
  position: absolute;
  top: 11.2vh; /* Aproximadamente 112px */
  width: 2.9vh; /* Aproximadamente 29px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-nit {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  height: 3.5vh; /* Aproximadamente 35px */
  left: 0.6vh; /* Aproximadamente 6px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15.8vh; /* Aproximadamente 158px */
  width: 14.7vh; /* Aproximadamente 147px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-location-icon {
  height: 4vh; /* Aproximadamente 40px */
  color: #00ddfa;
  left: 6.5vh; /* Aproximadamente 65px */
  position: absolute;
  top: 19.6vh; /* Aproximadamente 196px */
  width: 2.9vh; /* Aproximadamente 29px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-address {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.1vh; /* Aproximadamente 11px */
  font-weight: 400;
  height: 4.9vh; /* Aproximadamente 49px */
  left: 0.9vh; /* Aproximadamente 9px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23.6vh; /* Aproximadamente 236px */
  width: 13.3vh; /* Aproximadamente 133px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-telefono-icon {
  height: 4vh; /* Aproximadamente 40px */
  color: #00ddfa;
  left: 22.4vh; /* Aproximadamente 224px */
  position: absolute;
  top: 11.2vh; /* Aproximadamente 112px */
  width: 2.9vh; /* Aproximadamente 29px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-telefono {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  height: 3.5vh; /* Aproximadamente 35px */
  left: 16.5vh; /* Aproximadamente 165px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15.8vh; /* Aproximadamente 158px */
  width: 14.7vh; /* Aproximadamente 147px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-3 {
  height: 8.6vh; /* Aproximadamente 86px */
  left: 16.5vh; /* Aproximadamente 165px */
  position: absolute;
  top: 19.9vh; /* Aproximadamente 199px */
  width: 15.2vh; /* Aproximadamente 152px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-email-icon {
  height: 4vh; /* Aproximadamente 40px */
  color: #00ddfa;
  left: 5.9vh; /* Aproximadamente 59px */
  position: absolute;
  top: 0;
  width: 2.9vh; /* Aproximadamente 29px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.1vh; /* Aproximadamente 11px */
  font-weight: 400;
  height: 4.9vh; /* Aproximadamente 49px */
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.7vh; /* Aproximadamente 37px */
  width: 15.2vh; /* Aproximadamente 152px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-4 {
  background-color: #ffffffd9;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  background-size: 100% 100%;
  height: 6.8vh; /* Aproximadamente 68px */
  left: 35vh; /* Aproximadamente 350px */
  position: absolute;
  top: 12vh; /* Aproximadamente 120px */
  width: 22.9vh; /* Aproximadamente 229px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-text-wrapper {
  -webkit-text-stroke: 0.1vh #636b6f1a; /* Aproximadamente 1px */
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.3vh; /* Aproximadamente 13px */
  font-weight: 400;
  left: 0.4vh; /* Aproximadamente 4px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0.8vh; /* Aproximadamente 8px */
  width: 22.1vh; /* Aproximadamente 221px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-img {
  height: 2.8vh; /* Aproximadamente 28px */
  color: #00ddfa;
  left: 1.1vh; /* Aproximadamente 11px */
  position: absolute;
  top: 3.5vh; /* Aproximadamente 35px */
  width: 2.1vh; /* Aproximadamente 21px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-cantidad-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.5vh; /* Aproximadamente 15px */
  font-weight: 400;
  left: 12.6vh; /* Aproximadamente 126px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 3.8vh; /* Aproximadamente 38px */
  width: 9.6vh; /* Aproximadamente 96px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-5 {
  background-color: #ffffffd9;
  background-size: 100% 100%;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  height: 6.8vh; /* Aproximadamente 68px */
  left: 35vh; /* Aproximadamente 350px */
  position: absolute;
  top: 12vh; /* Aproximadamente 120px */
  width: 22.9vh; /* Aproximadamente 229px */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-precio-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.5vh; /* Aproximadamente 15px */
  font-weight: 400;
  left: 7.2vh; /* Aproximadamente 72px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 3.8vh; /* Aproximadamente 38px */
  width: 15vh; /* Aproximadamente 150px */
}
