.RepuestoEquipoDetailPage-box {
  height: 40.83vh; /* 441px / 1080px * 100 */
  width: 30.78vw; /* 591px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestos-equipos {
  height: 40.83vh; /* 441px / 1080px * 100 */
  left: 0;
  top: 0;
  width: 32.03vw; /* 615px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-group {
  background-color: #53789587;
  border-radius: 5px;
  height: 40.83vh; /* 441px / 1080px * 100 */
  position: relative;
  width: 30.78vw; /* 591px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap {
  background-color: #ffffffd9;
  border-radius: 5px;
  height: 9.63vh; /* 104px / 1080px * 100 */
  left: 0;
  position: absolute;
  top: 0;
  width: 30.78vw; /* 591px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-div {
  height: 5.74vh; /* 62px / 1080px * 100 */
  left: 5.78vw; /* 111px / 1920px * 100 */
  position: absolute;
  top: 1.94vh; /* 21px / 1080px * 100 */
  width: 19.22vw; /* 369px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo-name {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.85vh; /* 20px / 1080px * 100 */
  font-weight: 400;
  left: -1.67vw; /* -32px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 22.24vw; /* 427px / 1920px * 100 */
  height: 4.63vh; /* 50px / 1080px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.30vh; /* 14px / 1080px * 100 */
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5.74vh; /* 62px / 1080px * 100 */
  width: 19.22vw; /* 369px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-delete-icon-header {
  height: 2.96vh; /* 32px / 1080px * 100 */
  color: #00ddfa;
  left: 28.18vw; /* 541px / 1920px * 100 */
  position: absolute;
  top: 4.91vh; /* 53px / 1080px * 100 */
  width: 1.61vw; /* 31px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-edit-icon-header {
  height: 2.96vh; /* 32px / 1080px * 100 */
  color: #00ddfa;
  left: 28.18vw; /* 541px / 1920px * 100 */
  position: absolute;
  top: 1.02vh; /* 11px / 1080px * 100 */
  width: 1.61vw; /* 31px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-2 {
  background-color: #ffffffd9;
  border-radius: 5px;
  background-size: 100% 100%;
  height: 27.31vh; /* 295px / 1080px * 100 */
  left: 0.47vw; /* 9px / 1920px * 100 */
  position: absolute;
  top: 11.11vh; /* 120px / 1080px * 100 */
  width: 16.88vw; /* 324px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo {
  background-color: #636b6f61;
  height: 15.93vh; /* 172px / 1080px * 100 */
  left: 8.07vw; /* 155px / 1920px * 100 */
  position: absolute;
  top: 10vh; /* 108px / 1080px * 100 */
  transform: rotate(180deg);
  width: 0.05vw; /* 1px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-name {
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.67vh; /* 18px / 1080px * 100 */
  font-weight: 400;
  left: 0.47vw; /* 9px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.30vh; /* 14px / 1080px * 100 */
  width: 15.94vw; /* 306px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-id {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.02vh; /* 11px / 1080px * 100 */
  font-weight: 400;
  left: 0.63vw; /* 12px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6.76vh; /* 73px / 1080px * 100 */
  width: 15.63vw; /* 300px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-nit-icon {
  height: 3.70vh; /* 40px / 1080px * 100 */
  color: #00ddfa;
  left: 3.39vw; /* 65px / 1920px * 100 */
  position: absolute;
  top: 10.37vh; /* 112px / 1080px * 100 */
  width: 1.51vw; /* 29px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-nit {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.20vh; /* 13px / 1080px * 100 */
  font-weight: 400;
  height: 3.24vh; /* 35px / 1080px * 100 */
  left: 0.31vw; /* 6px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14.63vh; /* 158px / 1080px * 100 */
  width: 7.66vw; /* 147px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-location-icon {
  height: 3.70vh; /* 40px / 1080px * 100 */
  color: #00ddfa;
  left: 3.39vw; /* 65px / 1920px * 100 */
  position: absolute;
  top: 18.15vh; /* 196px / 1080px * 100 */
  width: 1.51vw; /* 29px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-address {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.02vh; /* 11px / 1080px * 100 */
  font-weight: 400;
  height: 4.54vh; /* 49px / 1080px * 100 */
  left: 0.47vw; /* 9px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21.85vh; /* 236px / 1080px * 100 */
  width: 6.93vw; /* 133px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-telefono-icon {
  height: 3.70vh; /* 40px / 1080px * 100 */
  color: #00ddfa;
  left: 11.67vw; /* 224px / 1920px * 100 */
  position: absolute;
  top: 10.37vh; /* 112px / 1080px * 100 */
  width: 1.51vw; /* 29px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-telefono {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.20vh; /* 13px / 1080px * 100 */
  font-weight: 400;
  height: 3.24vh; /* 35px / 1080px * 100 */
  left: 8.59vw; /* 165px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14.63vh; /* 158px / 1080px * 100 */
  width: 7.66vw; /* 147px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-3 {
  height: 7.96vh; /* 86px / 1080px * 100 */
  left: 8.59vw; /* 165px / 1920px * 100 */
  position: absolute;
  top: 18.43vh; /* 199px / 1080px * 100 */
  width: 7.92vw; /* 152px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-email-icon {
  height: 3.70vh; /* 40px / 1080px * 100 */
  color: #00ddfa;
  left: 3.07vw; /* 59px / 1920px * 100 */
  position: absolute;
  top: 0;
  width: 1.51vw; /* 29px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-email {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.02vh; /* 11px / 1080px * 100 */
  font-weight: 400;
  height: 4.54vh; /* 49px / 1080px * 100 */
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3.43vh; /* 37px / 1080px * 100 */
  width: 7.92vw; /* 152px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-4 {
  background-color: #ffffffd9;
  border-radius: 5px;
  background-size: 100% 100%;
  height: 6.30vh; /* 68px / 1080px * 100 */
  left: 18.23vw; /* 350px / 1920px * 100 */
  position: absolute;
  top: 11.11vh; /* 120px / 1080px * 100 */
  width: 11.93vw; /* 229px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-text-wrapper {
  -webkit-text-stroke: 1px #636b6f1a;
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.20vh; /* 13px / 1080px * 100 */
  font-weight: 400;
  left: 0.21vw; /* 4px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0.74vh; /* 8px / 1080px * 100 */
  width: 11.51vw; /* 221px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-img {
  height: 2.59vh; /* 28px / 1080px * 100 */
  color: #00ddfa;
  left: 0.57vw; /* 11px / 1920px * 100 */
  position: absolute;
  top: 3.24vh; /* 35px / 1080px * 100 */
  width: 1.09vw; /* 21px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-cantidad-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.39vh; /* 15px / 1080px * 100 */
  font-weight: 400;
  left: 6.56vw; /* 126px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 3.52vh; /* 38px / 1080px * 100 */
  width: 5vw; /* 96px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-5 {
  background-color: #ffffffd9;
  background-size: 100% 100%;
  border-radius: 5px;
  height: 6.30vh; /* 68px / 1080px * 100 */
  left: 18.23vw; /* 350px / 1920px * 100 */
  position: absolute;
  top: 11.11vh; /* 120px / 1080px * 100 */
  width: 11.93vw; /* 229px / 1920px * 100 */
}

.RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-precio-value {
  color: #636b6f;
  font-family: "Inter-Regular", Helvetica;
  font-size: 1.39vh; /* 15px / 1080px * 100 */
  font-weight: 400;
  left: 3.75vw; /* 72px / 1920px * 100 */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 3.52vh; /* 38px / 1080px * 100 */
  width: 7.81vw; /* 150px / 1920px * 100 */
}

@media (orientation: portrait) {

  .RepuestoEquipoDetailPage-box {
    height: 40.83vh; /* 441px / 1080px * 100 */
    width: 67.24vw; /* 30.78vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestos-equipos {
    height: 40.83vh; /* 441px / 1080px * 100 */
    left: 0;
    top: 0;
    width: 70vw; /* 32.03vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-group {
    background-color: #53789587;
    border-radius: 5px;
    height: 40.83vh; /* 441px / 1080px * 100 */
    position: relative;
    width: 67.24vw; /* 30.78vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap {
    background-color: #ffffffd9;
    border-radius: 5px;
    height: 9.63vh; /* 104px / 1080px * 100 */
    left: 0;
    position: absolute;
    top: 0;
    width: 67.24vw; /* 30.78vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-div {
    height: 5.74vh; /* 62px / 1080px * 100 */
    left: 12.63vw; /* 5.78vw * 2.185 */
    position: absolute;
    top: 1.94vh; /* 21px / 1080px * 100 */
    width: 41.98vw; /* 19.22vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo-name {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.85vh; /* 20px / 1080px * 100 */
    font-weight: 400;
    left: -3.65vw; /* -1.67vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48.54vw; /* 22.24vw * 2.185 */
    height: 4.63vh; /* 50px / 1080px * 100 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo-id {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.30vh;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3.74vh;
    width: 41.98vw;
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-delete-icon-header {
    height: 2.96vh; /* 32px / 1080px * 100 */
    color: #00ddfa;
    left: 61.53vw; /* 28.18vw * 2.185 */
    position: absolute;
    top: 4.91vh; /* 53px / 1080px * 100 */
    width: 3.52vw; /* 1.61vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-edit-icon-header {
    height: 2.96vh; /* 32px / 1080px * 100 */
    color: #00ddfa;
    left: 61.53vw; /* 28.18vw * 2.185 */
    position: absolute;
    top: 1.02vh; /* 11px / 1080px * 100 */
    width: 3.52vw; /* 1.61vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-2 {
    background-color: #ffffffd9;
    border-radius: 5px;
    background-size: 100% 100%;
    height: 27.31vh; /* 295px / 1080px * 100 */
    left: 1.03vw; /* 0.47vw * 2.185 */
    position: absolute;
    top: 11.11vh; /* 120px / 1080px * 100 */
    width: 36.87vw; /* 16.88vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-repuestoequipo {
    background-color: #636b6f61;
    height: 15.93vh; /* 172px / 1080px * 100 */
    left: 17.63vw; /* 8.07vw * 2.185 */
    position: absolute;
    top: 10vh; /* 108px / 1080px * 100 */
    transform: rotate(180deg);
    width: 0.11vw; /* 0.05vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-name {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.67vh;
    font-weight: 400;
    left: 1.03vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0.6vh;
    width: 34.83vw;
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-id {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.02vh; /* 11px / 1080px * 100 */
    font-weight: 400;
    left: 1.38vw; /* 0.63vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6.76vh; /* 73px / 1080px * 100 */
    width: 34.15vw; /* 15.63vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-nit-icon {
    height: 3.70vh; /* 40px / 1080px * 100 */
    color: #00ddfa;
    left: 7.40vw; /* 3.39vw * 2.185 */
    position: absolute;
    top: 10.37vh; /* 112px / 1080px * 100 */
    width: 3.30vw; /* 1.51vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-nit {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.20vh; /* 13px / 1080px * 100 */
    font-weight: 400;
    height: 3.24vh; /* 35px / 1080px * 100 */
    left: 0.68vw; /* 0.31vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14.63vh; /* 158px / 1080px * 100 */
    width: 16.74vw; /* 7.66vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-location-icon {
    height: 3.70vh; /* 40px / 1080px * 100 */
    color: #00ddfa;
    left: 7.40vw; /* 3.39vw * 2.185 */
    position: absolute;
    top: 18.15vh; /* 196px / 1080px * 100 */
    width: 3.30vw; /* 1.51vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-address {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.02vh; /* 11px / 1080px * 100 */
    font-weight: 400;
    height: 4.54vh; /* 49px / 1080px * 100 */
    left: 1.03vw; /* 0.47vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21.85vh; /* 236px / 1080px * 100 */
    width: 15.13vw; /* 6.93vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-telefono-icon {
    height: 3.70vh; /* 40px / 1080px * 100 */
    color: #00ddfa;
    left: 25.50vw; /* 11.67vw * 2.185 */
    position: absolute;
    top: 10.37vh; /* 112px / 1080px * 100 */
    width: 3.30vw; /* 1.51vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-telefono {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.20vh; /* 13px / 1080px * 100 */
    font-weight: 400;
    height: 3.24vh; /* 35px / 1080px * 100 */
    left: 18.75vw; /* 8.59vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14.63vh; /* 158px / 1080px * 100 */
    width: 16.74vw; /* 7.66vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-3 {
    height: 7.96vh; /* 86px / 1080px * 100 */
    left: 18.75vw; /* 8.59vw * 2.185 */
    position: absolute;
    top: 18.43vh; /* 199px / 1080px * 100 */
    width: 17.30vw; /* 7.92vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-email-icon {
    height: 3.70vh; /* 40px / 1080px * 100 */
    color: #00ddfa;
    left: 6.71vw; /* 3.07vw * 2.185 */
    position: absolute;
    top: 0;
    width: 3.30vw; /* 1.51vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-client-email {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.02vh;
    font-weight: 400;
    height: 4.54vh;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3.43vh;
    width: 16.3vw;
    word-break: break-word;
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-4 {
    background-color: #ffffffd9;
    border-radius: 5px;
    background-size: 100% 100%;
    height: 6.30vh; /* 68px / 1080px * 100 */
    left: 39.86vw; /* 18.23vw * 2.185 */
    position: absolute;
    top: 11.11vh; /* 120px / 1080px * 100 */
    width: 26.07vw; /* 11.93vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-text-wrapper {
    -webkit-text-stroke: 1px #636b6f1a;
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.20vh; /* 13px / 1080px * 100 */
    font-weight: 400;
    left: 0.46vw; /* 0.21vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0.74vh; /* 8px / 1080px * 100 */
    width: 25.14vw; /* 11.51vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-img {
    height: 2.59vh; /* 28px / 1080px * 100 */
    color: #00ddfa;
    left: 1.25vw; /* 0.57vw * 2.185 */
    position: absolute;
    top: 3.24vh; /* 35px / 1080px * 100 */
    width: 2.38vw; /* 1.09vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-cantidad-value {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.39vh; /* 15px / 1080px * 100 */
    font-weight: 400;
    left: 14.34vw; /* 6.56vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 3.52vh; /* 38px / 1080px * 100 */
    width: 10.93vw; /* 5vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-overlap-5 {
    background-color: #ffffffd9;
    background-size: 100% 100%;
    border-radius: 5px;
    height: 6.30vh; /* 68px / 1080px * 100 */
    left: 39.86vw; /* 18.23vw * 2.185 */
    position: absolute;
    top: 11.11vh; /* 120px / 1080px * 100 */
    width: 26.07vw; /* 11.93vw * 2.185 */
  }
  
  .RepuestoEquipoDetailPage-box .RepuestoEquipoDetailPage-precio-value {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.39vh; /* 15px / 1080px * 100 */
    font-weight: 400;
    left: 8.19vw; /* 3.75vw * 2.185 */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 3.52vh; /* 38px / 1080px * 100 */
    width: 17.06vw; /* 7.81vw * 2.185 */
  }
  
  
}
