.RegisterTipoEquipoForm-box {
  height: 23.8vh; /* Aproximadamente 238px */
  width: 46.6vh; /* Aproximadamente 466px */
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-register-marca {
  height: 23.8vh; /* Aproximadamente 238px */
  left: 0;
  top: 0;
  width: 47vh; /* Aproximadamente 470px */
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-overlap-group {
  background-size: 100% 100%;
  box-shadow: none;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  background-color: #ffffff;
  outline: none;
  border: none;
  height: 23.8vh; /* Aproximadamente 238px */
  position: relative;
  width: 46.6vh; /* Aproximadamente 466px */
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-overlap {
  background-size: 100% 100%;
  background-color: #d9d9d9;
  height: 6.9vh; /* Aproximadamente 69px */
  border-radius: 0.5vh; /* Aproximadamente 5px */
  color: #00ddfa;
  left: 0;
  position: absolute;
  top: 0;
  width: 46.6vh; /* Aproximadamente 466px */
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-register-marca-title {
  -webkit-text-stroke: 0.1vh #00ddfa33; /* Aproximadamente 1px */
  color: #00ddfa;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh; /* Aproximadamente 20px */
  font-weight: 400;
  left: 6.8vh; /* Aproximadamente 68px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1.4vh; /* Aproximadamente 14px */
  width: 32.7vh; /* Aproximadamente 327px */
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-register-marca-label {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 2vh; /* Aproximadamente 20px */
  font-weight: 400;
  left: 0.6vh; /* Aproximadamente 6px */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9.1vh; /* Aproximadamente 91px */
  width: 45.3vh; /* Aproximadamente 453px */
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-register-marca-input {
  height: 3.6vh; /* Aproximadamente 36px */
  left: 6vh; /* Aproximadamente 60px */
  border-radius: 0.5vh; /* Aproximadamente 5px */
  background-color: #d9d9d9;
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 14.4vh; /* Aproximadamente 144px */
  width: 34.5vh; /* Aproximadamente 345px */
  font-size: 1.4vh;
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-registrar-button {
  height: 3.6vh; /* Aproximadamente 36px */
  left: 23.5vh; /* Aproximadamente 235px */
  background-color: #00ddfa;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 18.9vh; /* Aproximadamente 189px */
  width: 7.9vh; /* Aproximadamente 79px */
  font-size: 1.3vh;
}

.RegisterTipoEquipoForm-box .RegisterTipoEquipoForm-cancelar-button {
  height: 3.6vh; /* Aproximadamente 36px */
  left: 14.5vh; /* Aproximadamente 145px */
  background-color: #d9d9d9;
  border-radius: 0.5vh; /* Aproximadamente 5px */
  box-shadow: none;
  outline: none;
  border: none;
  position: absolute;
  top: 18.9vh; /* Aproximadamente 189px */
  width: 7.9vh; /* Aproximadamente 79px */
  font-size: 1.3vh;
}